<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">

<link rel="import" href="../time-ago/time-ago.html">
<link rel="import" href="../datalyxt-models/datalyxt-models.html">

<dom-module id="source-activity-dialog">

    <style>
        paper-dialog {
            display: block;
            padding: 0 8px;
            width: 60vw;
            border-top: 3px solid var(--paper-blue-500);
            color: rgba(0, 0, 0, 0.87);
        }

        .dialog-header {
            font-size: 24px;
            font-weight: 300;

        @apply(--layout-horizontal);
        @apply(--layout-center);
        }

        .dialog-header :first-child {
        @apply(--layout-flex);
        }

        .dialog-container {
            margin-right: 10px;
            height: 300px;
        @apply(--layout-vertical);
        }

        .buttons {
            color: var(--paper-blue-500);
            padding: 0 20px;
            margin: 20px 8px 32px 0;
        }

        .buttons .close-button {
            color: white;
            background-color: var(--paper-blue-500);
        }

        vaadin-grid {
            --default-primary-color: transparent;
            line-height: 1.5;
        }
    </style>

    <template>
        <paper-dialog id="dialog" modal with-backdrop>
            <div class="dialog-header">
                <div>{{dialogTitle}}</div>
                <paper-icon-button icon="close" dialog-dismiss></paper-icon-button>
            </div>

            <div class="dialog-container">
                <vaadin-grid id="list" visible-rows="5" items="{{_filter(data, objectId, objectType)}}">
                    <table>
                        <colgroup>
                            <col name="userName"/>
                            <col name="type"/>
                            <col name="timestamp"/>
                        </colgroup>
                        <thead>
                        <tr>
                            <th>Nutzer</th>
                            <th>Aktivität</th>
                            <th>Zeit</th>
                        </tr>
                        </thead>
                    </table>
                </vaadin-grid>
            </div>

            <div class="buttons">
                <paper-button raised class="close-button" dialog-dismiss>Schließen</paper-button>
            </div>
        </paper-dialog>
    </template>
    <script>
        Polymer({
            is: 'source-activity-dialog',
            properties: {
                data: {
                    type: Array,
                    value: []
                },

                objectId: {
                    type: Number,
                    value: 0
                },

                objectType: {
                    type: String,
                    value: ''
                },
                dialogTitle: {
                	type: String,
                	value: ''
                }
            },

            ready: function() {
                var grid = this.$.list;

                // init data list
                grid.then(function() {
                    grid.columns[1].renderer = activityTypeRenderer;
                    grid.columns[2].renderer = timeRenderer;
                });
            },

            open: function() {
                this.$.dialog.open();
            },

            _filter: function(data, objectId, objectType) {
                return data.filter(function(elem) {
                    return elem.objectId === objectId
                            && elem.objectType === objectType;
                });
            }
        });
    </script>
</dom-module>