<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">


<dom-module id="source-error-dialog">
    <style is="custom-style">
        paper-dialog {
            display: block;
            padding: 0 8px;
            width: 60vw;
            border-top: 3px solid var(--paper-red-500);
            color: rgba(0, 0, 0, 0.87);
        }

        .dialog-header {
            font-size: 24px;
            font-weight: 300;

        @apply(--layout-horizontal);
        @apply(--layout-center);
        }

        .dialog-header :first-child {
        @apply(--layout-flex);
        }

        .dialog-container {
            margin-right: 10px;
            @apply(--layout-vertical);
        }

        .buttons {
            color: var(--paper-blue-500);
            padding: 0 20px;
            margin: 20px 8px 32px 0;
        }

        .buttons .close-button {
            color: white;
            background-color: var(--paper-blue-500);
        }
    </style>

    <template>
        <paper-dialog id="dialog" modal with-backdrop>
            <div class="dialog-header">
                <div>Quellen Fehler</div>
                <paper-icon-button icon="close" dialog-dismiss></paper-icon-button>
            </div>

            <div class="dialog-container">
                <span>{{source.feedback}}</span>
            </div>

            <div class="buttons">
                <paper-button raised class="close-button" dialog-dismiss>Schließen</paper-button>
            </div>
        </paper-dialog>
    </template>
    <script>
        Polymer({
            is: 'source-error-dialog',
            properties: {
                source: {
                    type: Object,
                    value: {}
                }
            },

            open: function() {
                console.log(this.source);

                this.$.dialog.open();
            }
        });
    </script>
</dom-module>