<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/vaadin-combo-box/vaadin-combo-box-light.html">
<link rel="import" href="../../bower_components/iron-input/iron-input.html">
<link rel="import" href="../../bower_components/iron-a11y-keys/iron-a11y-keys.html">
<link rel="import" href="../../bower_components/iron-dropdown/iron-dropdown.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../../bower_components/vaadin-icons/vaadin-icons.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../bower_components/iron-resizable-behavior/iron-resizable-behavior.html">

<link rel="import" href="editor-column.html">
<link rel="import" href="editor-action-dialog.html">
<link rel="import" href="../editor-menu-bar/editor-menu-bar.html">
<link rel="import" href="../editor-reflux-store/editor-reflux-store.html">
<script type="text/javascript" src="editor-element.js"></script>

<dom-module id="editor-element">
    <style>
        :host {
            height: 100%;
            @apply(--layout-vertical);
        }

        :host .content {
            width: 100% !important;
            height: 100% !important;
        }

        :host .back-button {
            width: 40px;
            background-color: var(--paper-blue-500);
            color: white;
            cursor: pointer;

            @apply(--layout-horizontal);
            @apply(--layout-center);
            @apply(--layout-center-justified);
            @apply(--layout-self-stretch);
        }

        :host input {
            background-color: inherit;
            color: inherit;
            border: none;
            font-size: 18px;
            outline: none;
            height: 20px;
            line-height: 22px;
            padding: 2px 8px;

            @apply(--layout-flex);
        }

        ::-webkit-input-placeholder {
            opacity: 0.6;
            color: inherit;
        }

        :-moz-placeholder { /* Firefox 18- */
            opacity: 0.6;
            color: inherit;
        }

        ::-moz-placeholder {  /* Firefox 19+ */
            opacity: 0.6;
            color: inherit;
        }

        :-ms-input-placeholder {
            opacity: 0.6;
            color: inherit;
        }

        :host .column-selector {
            position: absolute;
            left: 40px;
            top: 10px;

            @apply(--layout-horizontal);
        }

        :host paper-header-panel {
            --paper-header-panel-seamed-container: {
                @apply(--layout-vertical);
             };
        }

        :host vaadin-grid {
            --primary-color: transparent;
            line-height: 1.5;

            @apply(--layout-flex);
        }

        :host vaadin-combo-box {
            @apply(--layout-flex);
        }

        :host paper-toolbar {
            color: black;
            background-color: var(--paper-grey-100);
            border-bottom: 1px solid var(--paper-grey-300);
        }

        :host paper-toolbar ::shadow #topBar {
            padding: 0 18px 0 0;
        }
    </style>
    <template>
        <paper-header-panel mode="seamed">
            <paper-toolbar>
                <div class="back-button" on-tap="close"><iron-icon icon="menu"></iron-icon></div>

                <div style="padding: 8px 12px;" class="self-stretch layout vertical">
                    <input id="name" value="{{name}}" on-keyup="_onNameKeyUp" autocomplete="off" placeholder="Unbenannter Selektor">
                    <editor-menu-bar></editor-menu-bar>
                </div>
            </paper-toolbar>

            <!-- Main Editor Content -->
            <div hidden$="{{viewType.isGridView}}">
            	<iframe class="content fit" id="iframe" frameborder="0" src="{{_computeIFrameUrl(url, fetchOptions)}}"></iframe>
			</div>

            <!-- Grid View Content -->
            <vaadin-grid  items="{{_aggregateColumns(columns)}}" id="grid" class="flex" hidden$="{{viewType.isWebsiteView}}"></vaadin-grid>

            <!-- Column Panel -->
            <div hidden$="{{viewType.isGridView}}" class="column-selector">
                <iron-selector selected="{{activeColumn}}" class="layout horizontal" selected-attribute="opened">
                    <template is="dom-repeat" items="{{columns}}">
                        <editor-column index="{{index}}" column="{{item}}" style="margin-right: 0.5em;"></editor-column>
                    </template>
                </iron-selector>
                <paper-fab mini icon="add" on-tap="_onEditorColumnAdd"></paper-fab>
            </div>
			
        </paper-header-panel>

        <!-- Dialog elements -->
        <editor-action-dialog></editor-action-dialog>

        <!-- Ajax Element -->
        <iron-ajax id="ajax"
                   url="http://localhost:8080/vims/sonarbox/res/selectors/templates"
                   content-type="application/json"
                   on-response="_serviceResponse"
                   on-error="_serviceError"
                   handle-as="json">
        </iron-ajax>

        <!-- Loading Indicator -->

    </template>
    <script>
        Polymer({
            is: 'editor-element',
            apiUrl: 'http://localhost:8080/sonarbox/pagemarker?',
            columnColor: ['#e91e63', '#9c27b0', '#673ab7', '#3f51b5', '#009688', '#ff5722', '#607d8b'],

            properties: {
                fetchOptions: {
                    type: Object,
                    statePath: 'fetchOptions'
                },

                viewType: {
                    type: Object,
                    statePath: 'viewType'
                },

                activeColumn: {
                    type: Number,
                    statePath: 'activeColumn'
                },

                url: {
                    type: String,
                    value: ''
                },

                name: {
                    type: String,
                    statePath: 'templateName'
                },

                columns: {
                    type: Array,
                    statePath: 'editorColumns'
                },

                markerEnabled: {
                    type: Boolean,
                    statePath: 'markerEnabled'
                },

                actions: {
                    type: Array,
                    statePath: 'actions'
                }
            },

            behaviors: [
                Polymer.IronResizableBehavior,
                ReduxBehavior
            ],

            observers: [
                '_onMarkerEnabledChanged(markerEnabled)',
                '_onActiveColumnChanged(activeColumn)',
                '_onViewTypeChanged(viewType)',
                '_onColumnsChanged(columns)',
                '_onColumnChanged(columns.*)'
            ],

            listeners: {
                'iron-resize': '_onIronResize',
                'iron-activate': '_onIronActivate'
            },

            ready: function() {
                var editor = this;

                /** Message passing  */
                window.addEventListener('message', function(event) {
                    var payload = JSON.parse(event.data);

                    switch(payload.action) {
                        case 'loading-finished':
                            var otherWindow = editor.$.iframe.contentWindow;

                            var message = {
                                action: 'init',
                                columns: editor.columns,
                                selectedIndex: editor.activeColumn,
                                enabled: editor.markerEnabled
                            };

                            otherWindow.postMessage(JSON.stringify(message), '*');
                            break;
                        case 'url-change':
                            var url = payload.url;
                            editor._onUrlChange(url);
                            break;
                        case 'set-elements':
                            editor.dispatch(setElements(payload.selectedIndex, payload.elements));
                            break;
                        default:
                            throw "Error, unknown iframe message received";
                    }
                }, false);
            },

            /** Public Api Functions */

            close: function() {
                var editorAction = new EditorCloseAction();
                this.fire(editorAction.name, editorAction);
            },

            reset: function() {
                this.dispatch(resetEditor());

                // reset data and grid
                this.url = '';
            },

            save: function() {
                var actions = this.actions;
                var config = {
                    url: this.url,
                    blocks: [{
                        type: 'datasetBlock',
                        multiRow: true,
                        condition: 'link_url_change',
                        blocks: []}],
                    actions: []
                };

                // add columns
                config.blocks[0].blocks = this.columns.map(function(column) {
                    var columnActions = actions.filter(function(action) { return action.columnId === column.id });

                    // add column to config
                    var location = { type: 'cssSelector', value: column.elements[0].path };
                    var supervised = column.elements.slice(1, column.elements.length).map(function(elem) {
                        return { type: 'cssSelector', value: elem.path };
                    });
                    var processedActions = columnActions.map(function(action) { return action.actionType });

                    return { name: column.name, type: column.type, location: location, actions: processedActions, supervised: supervised };
                });

                // save template
                var data = {name: this.name, url: this.url, config: config};

                this.$.ajax.method = 'post';
                this.$.ajax.body = JSON.stringify(data);

                this.$.ajax.generateRequest();
            },

            /** Event Listeners */

            _onUrlChange: function(url) {
                this.url = url;
            },

            _onNameKeyUp: function(event) {
                this.dispatch(renameTemplate(this.$.name.value));
            },

            _onEditorColumnAdd: function(event) {
                var id = generateUUID();
                var color = this.columnColor[(this.columns.length % this.columnColor.length)];

                this.dispatch(addColumn(id, "", undefined, color, []));
            },

            _onIronResize: function() {
                if(this.viewType.isGridActive) {
                    resizeGrid(this.$.grid);
                }
            },

            _onIronActivate: function(event) {
                this.dispatch(changeActiveColumn(event.detail.item.index));

                event.preventDefault();
            },

            /** Property Observers */

            _onColumnsChanged: function(columns) {
                // check for length updates
                if(isEmpty(this.url)) return;

                // add column in grid view
                var grid = this.$.grid;
                var editor = this;

                grid.then(function() {
                    grid.columns = editor.columns.map(function(column) {
                        return { name: column.id, flex: 1 };
                    });

                    grid.header.removeRow(0);
                    grid.header.addRow();

                    for(var index in editor.columns) {
                        var c = editor.columns[index];

                        var headerCell = grid.header.getCell(0, c.id);
                        headerCell.content = c.name === '' ? 'Neue Spalte': c.name;

                        // update renderer
                        if(c.type === ColumnType.link || c.type === ColumnType.image) {
                            grid.columns[index].renderer = linkRenderer;
                        }
                    }

                    grid.items = editor._aggregateColumns(columns);
                });

                // propagate state to other window
                var otherWindow = this.$.iframe.contentWindow;
                var message = { action: 'update-columns', columns: columns };
                otherWindow.postMessage(JSON.stringify(message), '*');
            },

            _onViewTypeChanged: function(viewType) {
                if(viewType.isGridView) {
                    resizeGrid(this.$.grid);
                }
            },

            _onActiveColumnChanged: function(activeColumn) {
                if(!isEmpty(this.url)) {

                    // send column information to iframe
                    var otherWindow = this.$.iframe.contentWindow;
                    var message = { action: 'update-active-column', selectedIndex: activeColumn};
	                	
                    this.$.iframe.contentWindow.postMessage(JSON.stringify(message), '*');
                }
            },

            _onMarkerEnabledChanged: function(markerEnabled) {
                if(!isEmpty(this.url)) {
                    var otherWindow = this.$.iframe.contentWindow;
                    var message = { action: 'change-marker-enabled', enabled: markerEnabled };

                    otherWindow.postMessage(JSON.stringify(message), '*');
                }
            },

            /** Utility Methods */

            _aggregateColumns: function(columns) {
                return columns.reduce(function(prev, column) {
                    var elements = column.elements;
                    var type = column.type;

                    elements.forEach(function(elem, index) {
                        var element = prev[index] || {};

                        if(type === ColumnType.link || type === ColumnType.image) {
                            element[column.id] = elem.link;
                        } else {
                            element[column.id] = elem.text;
                        }

                        prev[index] = element;
                    });

                    return prev;
                }, []);
            },

            _computeIFrameUrl: function(url, fetchOptions) {

                if(!isEmpty(url)) {
                    var encodedUrl = encodeURIComponent(url);

                    return this.apiUrl +
                            'erichtn=' + fetchOptions.enrichTextNodes + '&' +
                            'jserichtn=' + fetchOptions.enrichTextNodesJavascript + '&' +
                            'rvcss=' + fetchOptions.removeCss + '&' +
                            'rvid=' + fetchOptions.removeIds + '&' +
                            'rvhjs=' + fetchOptions.removeHeaderJavascript + '&' +
                            'rvbjsc=' + fetchOptions.removeBodyJavascript + '&' +
                            'link=' + encodedUrl;
                }

                return ''
            }
        });
    </script>
</dom-module>