<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../bower_components/vaadin-combo-box/vaadin-combo-box-light.html">

<link rel="import" href="../data-list/data-list-item-icon.html">
<link rel="import" href="../editor-reflux-store/editor-reflux-store.html">

<dom-module id="editor-action-dialog">
    <style>
        paper-dialog {
            display: block;
            padding: 0 8px;
            width: 60vw;
            border-top: 3px solid var(--paper-blue-500);
            color: rgba(0, 0, 0, 0.87);
        }

        paper-dialog[edit] {
            background-color: var(--paper-blue-500);
            color: white;
        }

        .dialog-header {
            font-size: 24px;
            font-weight: 300;

            @apply(--layout-horizontal);
            @apply(--layout-center);
        }

        .dialog-header :first-child {
            @apply(--layout-flex);
        }

        .dialog-container {
            margin-right: 10px;
            height: 300px;
            @apply(--layout-vertical);
        }

        .buttons {
            color: var(--paper-blue-500);
            padding: 0 20px;
            margin: 20px 8px 32px 0;
        }

        .buttons .close-button {
            color: var(--paper-blue-500);
        }

        .buttons .new-button {
            color: white;
            background-color: var(--paper-blue-500);
        }

        .buttons .save-button {
            color: white;
        }

        vaadin-grid {
            --default-primary-color: transparent;
            line-height: 1.5;
        }

        paper-input {
            --paper-input-container-color: white;
            --paper-input-container-focus-color: white;

            --paper-input-container-input: {
                color: white;
            };
        }

        paper-input .toggle-button {
            position: absolute;
            bottom: -4px;
            right: -4px;
            line-height: 18px !important;
            width: 32px;
            height: 32px;
            padding: 4px;
            text-align: center;
            color: white;
            cursor: pointer;
            margin-top: -1px;
        }

        paper-input .clear-button {
            position: absolute;
            bottom: -6px;
            right: 28px;
            line-height: 18px !important;
            width: 20px;
            height: 20px;
            padding: 4px 6px 8px;
            text-align: center;
            color: white;
            cursor: pointer;
            margin-top: -1px;
        }

        vaadin-combo-box-light {
            margin-bottom: -2px;
        }

        vaadin-grid {
            --primary-color: transparent;
            line-height: 1.5;

            @apply(--layout-flex-1);
        }
    </style>
    <template>
        <paper-dialog id="dialog" modal with-backdrop edit$="{{viewType.isEditView}}" opened="{{opened}}">
            <div class="dialog-header">
                <div>{{title}}</div>
                <paper-icon-button icon="close" on-tap="_onCloseClicked"></paper-icon-button>
            </div>

            <div class="dialog-container" hidden$="{{viewType.isEditView}}">
                <vaadin-grid id="grid" visible-rows="5" items="{{_transformActions(actions, columns)}}">
                    <table>
                        <colgroup>
                            <col name="valid"/>
                            <col name="column"/>
                            <col name="action"/>
                            <col name="parameters"/>
                            <col name="actions" width="120"/>
                        </colgroup>
                        <thead>
                        <tr>
                            <th>Status</th>
                            <th>Spalte</th>
                            <th>Aktion</th>
                            <th>Parameter</th>
                            <th></th>
                        </tr>
                        </thead>
                    </table>
                </vaadin-grid>
            </div>

            <div class="dialog-container" hidden$="{{viewType.isListView}}">

                <vaadin-combo-box-light id="column" items="{{_transformAndFilterColumns(columns)}}" attr-for-value="value">
                    <paper-input id="columnInput" class="toggle-button" label="Spalte" readonly>
                        <paper-icon-button suffix class="toggle-button rotate-on-open" icon="arrow-drop-down"></paper-icon-button>
                    </paper-input>
                </vaadin-combo-box-light>

                <vaadin-combo-box-light id="action" items="{{defaultActions}}" attr-for-value="value">
                    <paper-input id="actionInput" class="toggle-button" label="Aktion" readonly>
                        <paper-icon-button suffix class="toggle-button rotate-on-open" icon="arrow-drop-down"></paper-icon-button>
                    </paper-input>
                </vaadin-combo-box-light>

            </div>

            <div class="buttons">
                <paper-button class="close-button" on-tap="_onCloseClicked" hidden$="{{viewType.isEditView}}">Schließen</paper-button>
                <paper-button class="new-button" on-tap="_onNewActionClicked" hidden$="{{viewType.isEditView}}">Neue Aktion</paper-button>
                <paper-button class="save-button" hidden$="{{viewType.isListView}}" on-tap="_onAbortClicked">Abbrechen</paper-button>
                <paper-button class="save-button" hidden$="{{viewType.isListView}}" on-tap="_onSaveClicked">Speichern</paper-button>
            </div>
        </paper-dialog>
    </template>
    <script>
        Polymer({
            is: 'editor-action-dialog',

            properties: {
                title: {
                    type: String,
                    statePath: 'actionDialogName'
                },

                opened: {
                    type: Boolean,
                    statePath: 'actionDialogOpened'
                },

                viewType: {
                    type: Object,
                    statePath: 'actionDialogViewType'
                },

                actionToEdit: {
                    type: Number,
                    statePath: 'actionDialogSelected'
                },

                actions: {
                    type: Array,
                    statePath: 'editorActions'
                },

                columns: {
                    type: Array,
                    statePath: 'editorColumns'
                },

                defaultActions: {
                    type: Array,
                    value: [
                        { label: 'Screenshot', value: ActionType.screenshot },
                        { label: 'Links Verfolgen', value: ActionType.followLinks },
                        { label: 'Dateien Speichern', value: ActionType.fileStorage },
                        { label: 'Text Speichern', value: ActionType.cleanText }
                    ]
                }
            },

            behaviors: [ ReduxBehavior ],

            listeners: {
                'list-item-clicked-action': '_onListItemClickedAction'
            },

            observers: [
                '_onActionToEditChanged(actionToEdit)',
                '_onViewTypeChanged(viewType)'
            ],

            ready: function() {
                var grid = this.$.grid;

                grid.then(function() {
                    grid.columns[0].renderer = actionStatusRenderer;
                    grid.columns[4].renderer = interactionRenderer;
                });
            },

            _onActionToEditChanged: function(actionToEdit) {
                if(actionToEdit === -1) return;

                var action = this.actions[actionToEdit];
                var columnName = this.columns[action.columnIndex].name;
                var actionName = this.defaultActions.find(function(elem) { return action.value === elem.actionType }).label;

                this.$.columnInput.value = columnName;
                this.$.actionInput.value = actionName;
            },

            _onViewTypeChanged: function(viewType) {
                // if switch from edit state, always reset values
                if(viewType.isListView) {
                    this.$.columnInput.value = "";
                    this.$.actionInput.value = "";
                }
            },

            /** Event Listeners */

            _onCloseClicked: function(event) {
                this.dispatch(actionDialogClose());
            },

            _onNewActionClicked: function(event) {
                this.dispatch(actionDialogCreateAction());
            },

            _onListItemClickedAction: function(event) {
                var itemClickedAction = event.detail;

                switch(itemClickedAction.type) {
                    case EditorInteractionType.delete:
                        this.dispatch(removeAction(itemClickedAction.object.index));
                        break;
                    case EditorInteractionType.edit:
                        this.dispatch(actionDialogEditAction(itemClickedAction.object.index));
                        break;
                    default: throw "Error, unknown editor interaction type: " + itemClickedAction.type;
                }
            },

            _onSaveClicked: function() {
                var column = this.$.column.value;
                var actionType = this.$.action.value;
                var parameters = {};

                // check edited/new action parameters
                if(typeof column === 'undefined' || typeof actionType === 'undefined') return;

                // -> actionColumn is link
                // -> actionType is in actionTypes and correct for column
                // -> parameter is set for all actionTypes that require parameters: followLink

                // create if it does not exist
                if(typeof this.actions[this.actionToEdit] === 'undefined') {
                    this.dispatch(addAction(column, actionType, parameters))
                } else {
                    this.dispatch(editAction(this.actionToEdit, column, actionType, parameters));
                }
            },

            _onAbortClicked: function(event) {
                this.dispatch(actionDialogAbort());
            },

            /** Transform functions */

            _transformAndFilterColumns: function(columns) {
                var filtered = columns.filter(function(elem) { return elem.type === ColumnType.link; });

                return filtered.map(function(elem) { return { label: elem.name, value: columns.indexOf(elem)}; });
            },

            _transformActions: function(actions, columns) {
                var defaultActions = this.defaultActions;

                return actions.map(function(elem, index) {
                    var columnName = columns[elem.columnIndex].name;
                    var actionName = defaultActions.find(function(action) { return action.value === elem.actionType }).label;
                    var interactions = [EditorInteractionType.edit, EditorInteractionType.delete];

                    return { index: index, valid: elem.valid, column: columnName, action: actionName, parameters: elem.parameters, actions: interactions };
                });
            },

            _transformActionType: function(actionType) {
                if(typeof actionType === 'undefined') return "";

                switch(actionType) {
                    case ActionType.screenshot:
                        return "Screenshot";
                    case ActionType.followLinks:
                        return "Links Verfolgen";
                    case ActionType.fileStorage:
                        return "Dateien Speichern";
                    case ActionType.cleanText:
                        return "Text Speichern";
                    default:
                        throw "Error, unknown action type: " + actionType;
                }
            }
        });
    </script>

</dom-module>