<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-input/iron-input.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../editor-reflux-store/editor-reflux-store.html">

<dom-module is="editor-column">
    <style>
        .ball {
            width: 40px;
            height: 40px;
            padding: 8px;
            border-radius: 50%;
            box-sizing: border-box;
            color: #ffffff;
            cursor: pointer;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

            @apply(--layout-horizontal);
            @apply(--layout-center);
            @apply(--layout-center-justified);
        }

        :host input {
            background-color: inherit;
            color: inherit;
            border: none;
            font-size: 18px;
            outline: none;
            height: 20px;
            line-height: 22px;
            padding: 8px;
        }

        .name-input {
            display: inline;
        }

        ::-webkit-input-placeholder {
            opacity: 0.6;
            color: inherit;
        }

        :-moz-placeholder { /* Firefox 18- */
            opacity: 0.6;
            color: inherit;
        }

        ::-moz-placeholder {  /* Firefox 19+ */
            opacity: 0.6;
            color: inherit;
        }

        :-ms-input-placeholder {
            opacity: 0.6;
            color: inherit;
        }

        .detail {
            color: #ffffff;
            height: 40px;
            border-radius: 5px;

            @apply(--layout-horizontal);
            @apply(--layout-center);
        }
    </style>
    <template>
        <div hidden$="{{!opened}}" class="detail" style="background-color: {{column.color}};">
            <input id="name" autocomplete="off" value="{{column.name}}" placeholder="Neue Spalte" on-keyup="_onNameKeyUp">
            <vaadin-combo-box-light id="type" items="[[columnTypes]]" on-selected-item-changed="_onTypeChange">
                <input is="iron-input" value="{{_transformColumnType(column.type)}}" placeholder="Typ" readonly>
                <iron-icon class="toggle-button" icon="arrow-drop-down"></iron-icon>
            </vaadin-combo-box-light>
            <paper-icon-button icon="done" on-tap="_onComplete"></paper-icon-button>
            <paper-icon-button icon="delete" on-tap="_onDelete"></paper-icon-button>
        </div>
        <div hidden$="{{opened}}" class="ball" style="background-color: {{column.color}};">{{_shorten(column.name)}}</div>
    </template>
    <script>
        Polymer({
            is: 'editor-column',

            properties: {
                index: {
                    type: Number,
                    value: -1
                },

                column: {
                    type: Object,
                    value: {}
                },

                opened: {
                    type: Boolean,
                    value: false
                },

                columnTypes: {
                    type: Object,
                    value: [
                        {'label': 'Text', 'value': ColumnType.text},
                        {'label': 'Date', 'value': ColumnType.date},
                        {'label': 'Link', 'value': ColumnType.link},
                        {'label': 'Number', 'value': ColumnType.number},
                        {'label': 'Image', 'value': ColumnType.image}]
                }
            },

            behaviors: [ ReduxBehavior ],

            _onNameKeyUp: function(event) {
                this.dispatch(changeColumnName(this.index, this.$.name.value));
            },

            _onTypeChange: function(event) {
                if(typeof this.index === 'undefined' || this.index === -1) return;

                this.dispatch(changeColumnType(this.index, event.detail.value.value));
            },

            _onDelete: function(event) {
                this.dispatch(removeColumn(this.index));
                
                event.preventDefault();
                event.stopPropagation();
            },

            _onComplete: function(event) {
                this.dispatch(changeActiveColumn(-1));

                event.preventDefault();
                event.stopPropagation();
            },

            _transformColumnType: function(columnType) {
                if(typeof columnType === 'undefined') return '';

                switch(columnType) {
                    case ColumnType.text:
                        return 'Text';
                    case ColumnType.date:
                        return 'Date';
                    case ColumnType.link:
                        return 'Link';
                    case ColumnType.number:
                        return 'Number';
                    case ColumnType.image:
                        return 'Image';
                    default:
                        throw "Error, unknown column type: " + columnType;
                }
            },

            _shorten: function(name) {
                if(!isEmpty(name)) {
                    return name.charAt(0).toUpperCase();
                }

                return '';
            }
        });
    </script>
</dom-module>