<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animations.html" />
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html" />
<link rel="import" href="../../bower_components/iron-label/iron-label.html" />
<link rel="import" href="../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html" />
<link rel="import" href="../../bower_components/paper-card/paper-card.html" />
<link rel="import" href="../datalyxt-models/datalyxt-models.html">

<dom-module id="result-detail-dialog">
    <style>
        paper-dialog {
            display: block;
            padding: 0 8px;
            width: 60vw;
            border-top: 3px solid var(--paper-blue-500);
            color: rgba(0, 0, 0, 0.87);
        }
        
        .dialog-header {
            font-size: 24px;
            font-weight: 300;
            @apply(--layout-horizontal);
            @apply(--layout-center);
        }
        
        .dialog-header:first-child {
            @apply(--layout-flex);
        }
        
        .dialog-container {
            margin-right: 10px;
            @apply(--layout-vertical);
        }
        
        .dialog-options {
            @apply(--layout-horizontal);
            @apply(--layout-center);
            @apply(--layout-justified);
            margin: 8px 0;
        }
        
        .buttons {
            color: var(--paper-blue-500);
            padding: 0 20px;
            margin: 20px 8px 32px 0;
        }
        
        .buttons .mail-button {
            color: white;
            background-color: var(--paper-blue-500);
        }
        
        .buttons .toggle-button {
            color: white;
            background-color: var(--paper-green-500);
        }
        
        .buttons .toggle-button[activated] {
            color: white;
            background-color: var(--paper-amber-500);
        }
        
        .dropdown-button {
            display: block;
            background: #4285f4;
            color: #fff;
        }
        
        .selected {
            width: 40%;
            margin-left: 30px;
            border: 2px solid var(--paper-blue-500);
        }
        
        .elements {
            width: 40%;
            margin: auto;
            border: 2px solid var(--paper-blue-500);
        }
        
        <!-- Paper Card --> .cafe-header {
            @apply(--paper-font-headline);
        }
        
        .cafe-light {
            color: var(--paper-grey-600);
        }
        
        .cafe-location {
            float: right;
            font-size: 15px;
            vertical-align: middle;
        }
        
        .cafe-reserve {
            color: var(--google-blue-500);
        }
        
        iron-icon.star {
            --iron-icon-width: 16px;
            --iron-icon-height: 16px;
            color: var(--paper-amber-500);
        }
        
        iron-icon.star:last-of-type {
            color: var(--paper-grey-500);
        }
    </style>

    <template>
        <paper-dialog id="dialog" modal with-backdrop>
            <div class="dialog-header">
                <div>Ergebnisübersicht für <a href="{{data.source.sourceUrl}}" target="_blank">{{data.source.name}}</a></div>
                <paper-icon-button icon="close" dialog-dismiss></paper-icon-button>
            </div>
            <paper-dialog-scrollable>
                <div class="dialog-container">
                    <template is="dom-repeat" items="{{dataContainer}}">
                        <paper-card>
                            <div class="card-content">

                                <p class="cafe-light"><a href="{{item.pageUrl}}" target="_blank">{{item.pageUrl}}</a></p>
                                <hr/>
                                <template is="dom-repeat" items="{{item.rows}}" as="rows">
                                    <template is="dom-repeat" items="{{rows.rowItems}}" as="rowItems">
                                        <p class="cafe-light">{{toUpperCase(rowItems.name)}} : {{rowItems.value}} </p>
                                        <template is="dom-if" if="{{rowItems.file}}">
                                            <p><a href="{{_getEndpoint(1,rowItems.file)}}" target="_blank">{{rowItems.file}}.pdf</a></p>
                                             <paper-checkbox on-change="fileCheckStateChanged" value="{{rowItems.file}}">Datei hinzufügen</paper-checkbox>
                                        </template>

                                        <template is="dom-if" if="{{rowItems.image}}">
                                            <p> <a href="{{_getEndpoint(2, rowItems.image)}}" target="_blank">{{rowItems.image}}.png</a></p>
                                             <paper-checkbox on-change="fileCheckStateChanged" value="{{rowItems.image}}">Bild hinzufügen</paper-checkbox>
                                             <br>
                                        </template>
                                    </template>
                                    <paper-checkbox on-change="rowCheckStateChanged" value="{{rows.id}}">Text hinzufügen</paper-checkbox>
                                    <hr/>

                                </template>

                                <template is="dom-repeat" items="{{item.files}}" as="fi">
                                    <p> <a href="{{_getEndpoint(1, fi.id)}}" target="_blank">{{fi.id}}.pdf</a></p>
                                    <paper-checkbox on-change="fileCheckStateChanged" value="{{fi.id}}">Hinzufügen</paper-checkbox>
                                </template>
                                <template is="dom-repeat" items="{{item.images}}" as="img">
                                    <p><a href="{{_getEndpoint(2, img.id)}}" target="_blank">{{img.id}}.png</a></p>
                                    <paper-checkbox on-change="fileCheckStateChanged" value="{{img.id}}">Hinzufügen</paper-checkbox>
                                </template>

                            </div>
                        </paper-card>
                    </template>
                </div>

                <div>
                    <div role="listbox" class="elements" style="margin-top:20px;display:inline-block;height:150px;overflow-y: auto;">
                        <iron-label>Auswahl Empfänger</iron-label>
                        <template is="dom-repeat" items="[[receiverdata]]">
                            <paper-item value="[[item.id]]" on-tap="_selectReceiver">[[computeFullName(item)]]</paper-item>
                        </template>
                    </div>
                    <div role="listbox" class="selected" style="display:inline-block;height:150px;overflow-y: auto;">
                        <iron-label>Ausgewählte Empfänger</iron-label>
                        <template is="dom-repeat" items="{{selectedReceiver}}">
                            <paper-item on-tap="_deSelectReceiver" value={{item.id}}>{{item.name}}</paper-item>
                        </template>
                    </div>
                </div>

                <div>
                    <div class="flex"></div>
                    <div role="listbox" class="elements" style="display:inline-block;height:150px;overflow-y: auto;">
                        <iron-label>Auswahl Gruppen</iron-label>
                        <template is="dom-repeat" items="[[groupdata]]">
                            <paper-item value="[[item.id]]" on-tap="_selectGroup">{{item.name}}</paper-item>
                        </template>
                    </div>
                    <div role="listbox" class="selected" style="display:inline-block;height:150px;overflow-y: auto;">
                        <iron-label>Ausgewählte Gruppen</iron-label>
                        <template is="dom-repeat" items="{{selectedGroups}}">
                            <paper-item on-tap="_deSelectGroup" value={{item.id}}>{{item.name}}</paper-item>
                        </template>
                    </div>
                </div>
            </paper-dialog-scrollable>
            <div class="buttons">
                <div class="flex"></div>
                <paper-button dialog-dismiss>Abbrechen</paper-button>
                <paper-button raised class="mail-button" on-tap="sendMail">E-Mail versenden</paper-button>
            </div>
        </paper-dialog>
    </template>
    <script>
        Polymer({
            is: 'result-detail-dialog',

            properties: {
                data: {
                    type: Object,
                    value: {},
                    notify: true
                },
                selectedGroups: {
                    type: Array,
                    value: [],
                    notify: true
                },
                selectedReceiver: {
                    type: Array,
                    value: [],
                    notify: true
                },
                files: {
                    type: Array,
                    value: [],
                    notify: true
                },
                screenShot: {
                    type: Array,
                    value: [],
                    notify: true
                },
                dataRow: {
                    type: Array,
                    value: [],
                    notify: true
                },
                maxHops: {
                    type: Number,
                    value: 0,
                    notify: true
                },
                curHop: {
                    type: Number,
                    value: 0,
                    notify: true
                },
                dataContainer: {
                    type: Array,
                    value: [],
                    notify: true
                },
                seenLinks: {
                    type: Array,
                    value: [],
                    notify: true
                },
                sourceName: {
                    type: String,
                    notify: true
                },
                sourceUrl: {
                    type: String,
                    notify: true
                },
                filePath:{
                	type: String,
                	notify: true
                },
                imagePath:{
                	type:String,
                	notify: true,
                },
                subject:{
                	type:String,
                	value:'This E-Mail is sent by One-Globe',
                	notify:true
                },
                selectedTextIds:{
                	type: Array,
                	value:[],
                	notify:true
                },
                selectedFileIds:{
                	type:Array,
                	value:[],
                	notify:true
                }
            },
            sendMail:function(){
            	console.log(this.selectedFileIds)
            	console.log(this.selectedTextIds);
            	console.log(this.subject);
            	console.log(this.selectedGroups);
            	console.log(this.selectedReceiver);
            	
            	var emailModel = new EmailCreateModel();
            	emailModel.subject = this.subject ;
               	emailModel.messageIds = this.selectedTextIds;
            	emailModel.attachementFileIds =  this.selectedFileIds;
            	
            	for(var i= 0 ; i< this.selectedReceiver.length ; i++){
            		var rId = this.selectedReceiver[i].id
            		emailModel.receiverIds.push(rId);
            	};
            	for(var i= 0 ; i< this.selectedGroups.length ; i++){
            		var gId =this.selectedGroups[i].id
            		emailModel.groupIds.push(gId);
            	};
            	var emailSendAction = new EmailAction({type: InteractionType.add, object: emailModel});
                this.fire(emailSendAction.name, emailSendAction);
                

            },
            fileCheckStateChanged: function(e){
            	var value = e.target.value;
                if(e.target.checked){
                	this.selectedFileIds.push(value);
                } else{
                	this.selectedFileIds.splice(this.selectedFileIds.indexOf(value),1);
                }
            },
            rowCheckStateChanged: function(e){
            	var value = e.target.value;
                if(e.target.checked){
                	this.selectedTextIds.push(value);
                } else{
                	this.selectedTextIds.splice(this.selectedTextIds.indexOf(value),1);
                }
            },
            renderFileUrl: function (id) {
                return RestfulEndpoint.resultFile + id
            },
            toUpperCase: function (e) {
                return e.toUpperCase();
            },
            output: function (e) {
                for (var i = 0; i < e.length; i++) {
                    console.log(e[i]);
                }
            },

            open: function () {
            	this.selectedReceiver=[];
            	this.selectedGroups=[];
            	this.selectedTextIds=[];
            	this.selectedFileIds=[];
            	
                this.files = [];
                this.dataRow = [];
                this.screenShot = [];
                this.curHop = 0;
                this.dataContainer = [];
                this.seenLinks = [];
                this.maxHops = this.data.maxHops;
                this.init(this.data.root);
                console.log(this.dataContainer);

                console.log("Screnshot" + this.screenShot);
                this.$.dialog.open();
            },

            _selectReceiver: function (e) {
                var selectedId = e.target.value;
                var receiver = {
                    id: selectedId,
                    name: e.target.innerText
                };
                console.log(e.target);
                var index = -1;
                for (var i = 0; i < this.selectedReceiver.length; i++) {
                    if (this.selectedReceiver[i].id === selectedId) {
                        index = i;
                        break;
                    }
                }
                if (index === -1) {
                    this.push('selectedReceiver', receiver);
                }
            },
            _deSelectReceiver: function (e) {
                var selectedId = e.target.value;
                var index = -1;
                for (var i = 0; i < this.selectedReceiver.length; i++) {
                    if (this.selectedReceiver[i].id === selectedId) {
                        index = i;
                        break;
                    }
                }
                if (index !== -1) {
                    this.splice('selectedReceiver', index, 1);
                }

            },
            _selectGroup: function (e) {
                var selectedId = e.target.value;
                var group = {
                    id: selectedId,
                    name: e.target.innerText
                };
                var index = -1;
                for (var i = 0; i < this.selectedGroups.length; i++) {
                    if (this.selectedGroups[i].id === selectedId) {
                        index = i;
                        break;
                    }
                }
                if (index === -1) {
                    this.push('selectedGroups', group);
                }
            },
            _deSelectGroup: function (e) {
                var selectedId = e.target.value;
                var index = -1;
                for (var i = 0; i < this.selectedGroups.length; i++) {
                    if (this.selectedGroups[i].id === selectedId) {
                        index = i;
                        break;
                    }
                }
                if (index !== -1) {
                    this.splice('selectedGroups', index, 1);
                }

            },

            init: function (curElement) {
                do {
                    var files = curElement.fileResults;
                    var textResult = curElement.textResults;

                    var fileArray = [];
                    var imageArray = [];
                    var rowArray = [];

                    var hop = this.curHop;
                    var pageUrl = curElement.url;
                    var textRow = textResult.structure;
                    if (textRow != null) {
                        for (var i = 0; i < textRow.length; i++) {
                            var res = JSON.parse(textRow[i].content);
                            var id = textRow[i].id;
                            var pageUrl = curElement.url
                            var rowItems = [];
                            for (var j = 0; j < res.blocks.length; j++) {
                                var name = res.blocks[j].name;
                                var value = res.blocks[j].blockText;
                                var link = "";
                                var link = res.blocks[j].link;
                                if (link != null) {
                                    link = res.blocks[j].link.url;
                                    this.seenLinks.push(link);
                                }
                                var rowItem = {
                                    name: name,
                                    value: value,
                                    link: link
                                }
                                rowItems.push(rowItem);
                            }
                            //rownumer position
                            var row = {
                                id: id,
                                hop: this.curHop,
                                rowItems: rowItems,
                                pageUrl: pageUrl
                            };
                            this.push('dataRow', row);
                            rowArray.push(row);
                        }
                    }

                    var fileStorage = files.fileStorage;
                    if (fileStorage != null) {
                        for (var i = 0; i < fileStorage.length; i++) {
                            var file = {
                                id: fileStorage[i].id,
                                hop: this.curHop,
                                pageUrl: curElement.url
                            };
                            if (this.seenLinks.indexOf(curElement.url) > -1) {
                                console.log(curElement.url + " already seen");
                                this.addFileToStructure(file);
                            } else {
                                this.push('files', file);
                                fileArray.push(file);
                            }
                        }
                    }
                    var images = files.screenshot;
                    if (images != null) {
                        for (var i = 0; i < images.length; i++) {
                            var file = {
                                id: images[i].id,
                                hop: this.curHop,
                                pageUrl: curElement.url
                            };
                            if (this.seenLinks.indexOf(curElement.url) > -1) {
                                console.log(curElement.url + " already seen");
                                this.addScreenToStructure(file);
                            } else {
                                this.push('screenShot', file);
                                imageArray.push(file);
                            }
                        }
                    }
                    
                    if (imageArray.length > 0 || fileArray.length > 0 || rowArray.length > 0) {
                        var result = {
                            hop: hop,
                            pageUrl: pageUrl,
                            rows: rowArray,
                            images: imageArray,
                            files: fileArray
                        }
                        this.push('dataContainer', result);
                    }

                    var cur = curElement.nextHops;
                    this.curHop++;

                    for (var i = 0; i < cur.length; i++) {
                        this.init(cur[i]);
                    }
                } while (this.curHop <= this.maxHops);
            },
            addFileToStructure: function (value) {
                var dc = this.dataContainer;
                for (var i = 0; i < dc.length; i++) {
                    for (var j = 0; j < dc[i].rows.length; j++) {
                        for (var k = 0; k < dc[i].rows[j].rowItems.length; k++) {
                            if (dc[i].rows[j].rowItems[k].link === value.pageUrl) {
                                dc[i].rows[j].rowItems[k].file = value.id;
                            }
                        }
                    }
                }
            },
            addScreenToStructure: function (value) {
                var dc = this.dataContainer;
                for (var i = 0; i < dc.length; i++) {
                    for (var j = 0; j < dc[i].rows.length; j++) {
                        for (var k = 0; k < dc[i].rows[j].rowItems.length; k++) {
                            if (dc[i].rows[j].rowItems[k].link === value.pageUrl) {
                                dc[i].rows[j].rowItems[k].image = value.id;
                            }
                        }
                    }
                }
            },

            _onConfirmDialog: function () {
                // check if input is valid
                this.$.dialog.close();
            },


            /** Helper functions */

            _isEmpty: function (obj) {

                // null and undefined are "empty"
                if (obj == null) return true;

                return false;
            },
            computeFullName: function (item) {
                // check if input is valid
                return item.firstName + ' ' + item.lastName;
            },
            
            _getEndpoint: function (type, id) {
                if(type === 1)
               	 return RestfulEndpoint.resultFile+id;
                if(type === 2)
                	return RestfulEndpoint.resultImg+id;
            }
        });
    </script>
</dom-module>