<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../bower_components/vaadin-combo-box/vaadin-combo-box.html">
<link rel="import" href="../../bower_components/vaadin-date-picker/vaadin-date-picker.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">


<link rel="import" href="../paper-fab-menu/paper-fab-menu.html">
<link rel="import" href="../paper-fab-menu/paper-fab-menu-item.html">
<link rel="import" href="../datalyxt-data-binding/datalyxt-data-binding.html">
<link rel="import" href="../data-list/data-list-item-icon.html">
<link rel="import" href="../add-receiver-dialog/add-receiver-dialog.html">
<link rel="import" href="../filter-panel/filter-panel.html">
<link rel="import" href="../filter-panel/filter-panel-element.html">
<link rel="import" href="../time-ago/time-ago.html">


<dom-module id="receiver-element">

    <style>
        :host {
            margin-top: 20px;
            @apply(--layout-vertical);
        }

        vaadin-date-picker {
            font-size: 13px;
            font-weight: 400;
        }

        vaadin-combo-box {
            font-size: 13px;
            font-weight: 400;
        }

        .list-container {
            margin-left: 40px;
            margin-right: 170px;

            min-width: 860px;
        }

        vaadin-grid {
            --primary-color: transparent;
            line-height: 1.5;

            @apply(--layout-flex-1);
        }
    </style>

    <template>
        <paper-material id="container" class="list-container">
            <!-- Update Button -->
            <div class="layout horizontal end-justified center" style="background-color: white">
                <paper-icon-button icon="filter-list" on-tap="_openFilterOptions"></paper-icon-button>
            </div>

            <filter-panel id="filterPanel">
        	
              	<filter-panel-element type="filter-type-select" name="status" label="Status"
                                      items='[{"value": "added", "label": "Hinzugefügt"}, {"value": "activated", "label": "Aktiviert"}, {"value": "paused", "label": "Pausiert"}]'></filter-panel-element>
           
            </filter-panel>

            <vaadin-grid id="list" items="{{_filterAndSort(data, sortColumn, sortDirection, filter)}}" on-sort-order-changed="_onSortOrderChanged">
                <table>
                    <colgroup>
                        <col name="status" flex="1"/ sortable>
                         <col name="fullname" flex="1" sortable/>
                        <col name="email" flex="1"/ sortable>
                        <col name="groups" flex="1"/>
                         <col name="company" flex="1"/ sortable>
                        <col name="department" flex="1"/ sortable>
                        <col name="theFunction" flex="1"/ sortable>
                        <col name="category" flex="1"/ sortable>
                        <col name="lastModified" flex="1" sortable/>
                        <col name="actions" width="170"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th>Status</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Gruppe</th>
						<th>Unternehmen</th>
                        <th>Abteilung</th>
                        <th>Funktion</th>
                        <th>Sortimentskategorie</th>
                        <th>Letzte Änderung</th>
                        <th></th>
                    </tr>
                    </thead>
                </table>
            </vaadin-grid>
        </paper-material>

        <!-- Fab Menu -->
        <paper-fab icon="add" style="position:fixed; bottom: 20px; right: 20px;" on-tap="_openWDialog"></paper-fab>

        <add-receiver-dialog id="dialog" data = "{{groupdata}}"></add-receiver-dialog>
    </template>

    <script>
        Polymer({
            is: 'receiver-element',

            ordering: ['status', 'fullname','email', 'groups', 'company', 'department', 'theFunction', 'category', 'lastModified', 'actions'],
            selectedIndex: -1,

            properties: {
                data: {
                    type: Array,
                    value: []
                },
                groupdata: {
                    type: Array,
                    value: []
                },
                sortDirection: {
                    type: String,
                    value: SortDirection.descending
                },

                sortColumn: {
                    type: String,
                    value: ''
                },

                filter: {
                    type: Array,
                    value: []
                }
            },

            behaviors: [
                Polymer.IronResizableBehavior
            ],

            listeners: {
                'filter-panel-filter-action': '_onFilterPanelFilterAction',
                'iron-resize': '_onIronResize'
            },

            ready: function() {
                var grid = this.$.list;

                // set default sort order
                var sortDirection;
                var sortColumn = this.ordering.indexOf(this.sortColumn);

                if(sortColumn === -1) {
                    console.log("Error, wrong sort column provided");
                    sortColumn = 7;
                }

                switch(this.sortDirection) {
                    case SortDirection.ascending:
                        sortDirection = 'asc';
                        break;
                    case SortDirection.descending:
                        sortDirection = 'desc';
                        break;
                    default:
                        console.log("Error, unknown sort direction");
                }

                // init data list
                grid.then(function() {
                    grid.columns[0].renderer = standardStatusRenderer;
                    grid.columns[3].renderer = groupRenderer;
                    grid.columns[8].renderer = timeRenderer;
                    grid.columns[9].renderer = actionRenderer;
                    grid.sortOrder = [{column: sortColumn, direction: sortDirection}];

                    resizeGrid(grid);
                });
            },

            _openWDialog: function () {
                this.$.dialog.open();
            },

            /** Sorting and Filtering */

            _openFilterOptions: function(event) {
                this.$.filterPanel.open();
            },

            _filterAndSort: function(data, sortColumn, sortDirection, filter) {
                // filter data
                var filtered = filter.reduce(function(previous, filterElement) {
                    if(isEmpty(filterElement.filter)) {
                        return previous;
                    }

                    switch(filterElement.type) {
                        case FilterType.select:
                            var newData = previous.filter(function(elem) {
                                return elem[filterElement.name] == filterElement.filter;
                            });

                            return newData;
                            break;
                        default:
                            throw "Error, unknown filter type: " + type;
                    }
                }, data);

                // sort data
                var lesser = sortDirection == SortDirection.ascending ? -1 : 1;

                filtered.sort(function (a, b) {
                	if(sortColumn === 'fullname')
                		  return (a.firstName < b.firstName) ? lesser : -lesser;
                    return (a[sortColumn] < b[sortColumn]) ? lesser : -lesser;
                });

                return filtered;
            },

            _onSortOrderChanged: function(event) {
                this.sortColumn = this.ordering[this.$.list.sortOrder[0].column];
                this.sortDirection = this.$.list.sortOrder[0].direction === 'asc' ? SortDirection.ascending : SortDirection.descending;
            },

            _onFilterPanelFilterAction: function(event) {
                var filterPanelFilterAction = event.detail;
                this.filter = filterPanelFilterAction.filter;
            },

            _onIronResize: function() {
                resizeGrid(this.$.list);
            }
            
            
        });
    </script>
</dom-module>