<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="filter-panel-element">
    <script>
        Polymer({
            is: 'filter-panel-element'
        });
    </script>
</dom-module>