<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-overlay-behavior/iron-overlay-behavior.html">
<link rel="import" href="../../bower_components/iron-resizable-behavior/iron-resizable-behavior.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">
<link rel="import" href="../../bower_components/vaadin-date-picker/vaadin-date-picker.html">
<link rel="import" href="../../bower_components/vaadin-combo-box/vaadin-combo-box.html">

<dom-module id="filter-panel">
    <style>
        :host {
            position: absolute;
            right: 17px;
            top: 34px;

            width: 600px;
        }

        :host .header {
            font-size: 18px;
            font-weight: 300;
            margin-top: 24px;
            padding: 0 16px;

            @apply(--layout-horizontal);
            @apply(--layout-center);
        }

        :host .buttons {
            padding: 4px;
            line-height: 24px;
            font-weight: 500;
            font-size: 14px;
            color: var(--paper-blue-500);

            position: relative;
            @apply(--layout-horizontal);
            @apply(--layout-justified);
        }

        :host .dropdown-menu {
            border-top: 3px solid var(--paper-blue-500);
            color: rgba(0, 0, 0, 0.87);
            background-color: white;

            @apply(--layout-vertical);
        }

        :host #container {
            margin: 20px 0;
            @apply(--layout-flex);
            padding: 0 16px;
        }

        :host .test {
            font-size: 14px;
        }
    </style>

    <template>
        <paper-material class="dropdown-menu">
            <div class="header">Tabelle Filtern</div>
            <div id="container">
                <content id="filter" select="filter-panel-element"></content>
            </div>
            <div class="buttons">
                <paper-button on-tap="reset">Zurücksetzen</paper-button>
                <paper-button on-tap="_filter">Anwenden</paper-button>
            </div>
        </paper-material>
    </template>
    <script>
        Polymer({
            is: 'filter-panel',
            filter: [],

            behaviors: [
                Polymer.IronOverlayBehavior
            ],

            ready: function() {
                var children = this.getContentChildren('#filter');
                var container = this.$.container;
                var filter = this.filter;

                children.forEach(function(child) {
                    var type = child.getAttribute('type');

                    switch(type) {
                        case FilterType.select:
                            var comboBox = document.createElement('vaadin-combo-box');

                            comboBox.setAttribute('label', child.getAttribute('label'));
                            comboBox.setAttribute('name', child.getAttribute('name'));
                            comboBox.setAttribute('items', child.getAttribute('items'));
                            comboBox.setAttribute('type', type);

                            filter.push(comboBox);
                            Polymer.dom(container).appendChild(comboBox);
                            break;
                        default:
                            throw "Error, unknown filter type on filter element: " + type;
                    }
                });
            },

            reset: function() {
                this.filter.forEach(function(elem) {
                    elem.value = '';
                });
            },

            _filter: function() {
                var values = this.filter.map(function(elem) {
                    return {type: elem.getAttribute('type'), name: elem.name, filter: elem.value};
                });

                var filterPanelFilterAction = new FilterPanelFilterAction({filter: values});
                this.fire(filterPanelFilterAction.name, filterPanelFilterAction);
                this.close();
            }
        });

    </script>

</dom-module>