<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-overlay-behavior/iron-overlay-behavior.html">
<link rel="import" href="../../bower_components/iron-resizable-behavior/iron-resizable-behavior.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">
<link rel="import" href="../../bower_components/vaadin-date-picker/vaadin-date-picker.html">

<dom-module id="search-bar-form">
    <style>
        :host {
            position: absolute;
            left: 0;
            top: 37px;
        }

        :host paper-material {
            color: black;
            padding: 12px;
            position: relative;

            background-color: white;
        }

        :host .close-button {
            color: var(--paper-blue-grey-300);
            position: absolute;
            top: 4px;
            right: 4px;

            width: 35px;
            height: 35px;
        }

        :host .form {
            padding: 0 20px;
        }

        :host paper-button {
            background-color: var(--paper-blue-500);
            color: white;
            display: inline-block;
            margin: 10px 0 0 0;

            @apply(--layout-end);
        }
    </style>

    <template>
        <paper-material id="container" class="dropdown-menu" style$="width: {{width}}px">
            <paper-icon-button class="close-button" icon="close" on-tap="_close"></paper-icon-button>
            <div class="form layout vertical">
                <paper-input label="[[name]]" value="{{value}}"></paper-input>
                <template is="dom-repeat" items="{{additional}}">
                    <paper-input hidden$="{{!_isForType(item.type, 'text')}}" label="[[item.name]]" name="[[item.bindTo]]" value="{{item.value}}"></paper-input>
                    <div hidden$="{{!_isForType(item.type, 'date')}}" class="layout horizontal">
                        <vaadin-date-picker class="layout flex-1" style="margin-right:8px;" label$="{{item.name}} (Start)"></vaadin-date-picker>
                        <vaadin-date-picker class="layout flex-1" style="margin-left: 8px;" label$="{{item.name}} (Ende)"></vaadin-date-picker>
                    </div>
                </template>
                <div class="layout horizontal end-justified">
                    <paper-button noink on-tap="_search">Suchen</paper-button>
                </div>
            </div>
        </paper-material>
    </template>
    <script>
        Polymer({
            is: 'search-bar-form',

            properties: {
                width: Number,

                name: {
                    type: String,
                    value: ""
                },

                value: {
                    type: String,
                    value: "",
                    notify: true
                },

                additional: {
                    type: Array,
                    value: [],
                    notify: true
                }
            },

            behaviors: [
                Polymer.IronOverlayBehavior,
                Polymer.IronResizableBehavior
            ],

            listeners: {
                'iron-resize': '_onIronResize'
            },

            get parent() {
                if (this.parentNode.nodeType === Node.DOCUMENT_FRAGMENT_NODE) {
                    return this.parentNode.host;
                }
                return this.parentNode;
            },

            _close: function() {
                this.fire('form-closed');
            },

            _search: function() {
                this.fire('form-search')
            },

            _isForType: function(type, element) {
                return type === element;
            },

            _getWidth: function() {
                var width = this.parent.offsetWidth;
                var padding = parseInt(this._getCssValue(this.$.container, 'padding-right').replace("px", "")) +
                        parseInt(this._getCssValue(this.$.container, 'padding-left').replace("px", ""));

                // remove element padding
                return width - padding;
            },

            _getCssValue: function (oElm, strCssRule){
                var strValue = "";
                if(document.defaultView && document.defaultView.getComputedStyle){
                    strValue = document.defaultView.getComputedStyle(oElm, "").getPropertyValue(strCssRule);
                }
                else if(oElm.currentStyle){
                    strCssRule = strCssRule.replace(/\-(\w)/g, function (strMatch, p1){
                        return p1.toUpperCase();
                    });
                    strValue = oElm.currentStyle[strCssRule];
                }
                return strValue;
            },

            _onIronResize: function() {
                this.width = this._getWidth();
            }
        });

    </script>

</dom-module>