<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-dropdown/iron-dropdown.html">
<link rel="import" href="../../bower_components/iron-input/iron-input.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">


<link rel="import" href="search-bar-form.html">

<dom-module id="search-bar">
    <style>
        :host {
            background: rgba(255,255,255,.15);
            border-radius: 2px;
            display: inline-block;
            position: relative;
            min-width: 400px;
            height: 36px;

            @apply(--layout-horizontal);
            @apply(--layout-center);
            @apply(--layout-flex);
        }

        .search {
            width: 72px;

            @apply(--layout-horizontal);
            @apply(--layout-center-justified);
        }

        .form-trigger {
            width: 40px;
            cursor: pointer;

            @apply(--layout-horizontal);
            @apply(--layout-center-justified);
        }

        input {
            background-color: inherit;
            color: inherit;
            border: none;
            font-size: 18px;
            outline: none;

            @apply(--layout-flex);
        }

        ::-webkit-input-placeholder {
            opacity: 0.6;
            color: inherit;
        }

        :-moz-placeholder { /* Firefox 18- */
            opacity: 0.6;
            color: inherit;
        }

        ::-moz-placeholder {  /* Firefox 19+ */
            opacity: 0.6;
            color: inherit;
        }

        :-ms-input-placeholder {
            opacity: 0.6;
            color: inherit;
        }
    </style>
    <template id="host">
        <div class="layout vertical flex">
            <div class="layout horizontal">
                <div class="search"><iron-icon icon="search"></iron-icon></div>
                <input is="iron-input" type="search" placeholder="{{placeholder}}" id="input" value="{{searchTerm::input}}" on-keyup="_onKeyPress" autocomplete="off">
                <!--<div hidden$="{{!_hasForm(additional)}}" class="form-trigger" on-tap="_openForm"><iron-icon icon="arrow-drop-down"></iron-icon></div>-->
            </div>
            <!--<search-bar-form value="{{searchTerm}}" name="Quellen URL oder Alias" additional="{{additional}}" id="form" on-form-closed="_closeForm" on-form-search="_closeForm"></search-bar-form>-->
        </div>
    </template>
</dom-module>
<script>
    (function() {
        Polymer({
            is: 'search-bar',

            properties: {
                additional: {
                    type: Array,
                    value: [],
                    notify: true
                },

                placeholder: {
                    type: String,
                    value: "Suche"
                },

                searchTerm: {
                    type: String,
                    value: "",
                    notify: true
                }
            },

            _openForm: function() {
                this.$.form.open();
            },

            _closeForm: function() {
                this.$.form.close();
            },

            _hasForm: function(additional) {
                return additional.length > 0;
            },

            _onKeyPress: function(e, detail, sender) {
                if (e.keyCode == 13) {
                    this.fire('search-pressed', {name: "search-query", data: {query: this.searchTerm}});
                    e.stopPropagation();
                }
            }
        });
    })();

</script>
