<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animations.html"/>
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html"/>

<dom-module id="modify-group-dialog">
    <style>
        paper-dialog {
            display: block;
            padding: 0 8px;
            width: 60vw;
            border-top: 3px solid var(--paper-blue-500);
            color: rgba(0, 0, 0, 0.87);
        }

        .dialog-header {
            font-size: 24px;
            font-weight: 300;

            @apply(--layout-horizontal);
            @apply(--layout-center);
        }

        .dialog-header :first-child {
            @apply(--layout-flex);
        }

        .dialog-container {
            margin-right: 10px;
            @apply(--layout-vertical);
        }

        .dialog-options {
            @apply(--layout-horizontal);
            @apply(--layout-center);
            @apply(--layout-justified);

            margin: 8px 0;
        }

        .buttons {
            color: var(--paper-blue-500);
            padding: 0 20px;
            margin: 20px 8px 32px 0;
        }

        .buttons .modify-button {
            color: white;
            background-color: var(--paper-blue-500);
        }

        .buttons .delete-button {
            color: white;
            background-color: var(--paper-red-500);
        }

        .buttons .toggle-button {
            color: white;
            background-color: var(--paper-green-500);
        }

        .buttons .toggle-button[activated] {
            color: white;
            background-color: var(--paper-amber-500);
        }
        .dropdown-button {
      		display: block;
      		background: #4285f4;
      		color: #fff;
    	}
    </style>

    <template>

        <paper-dialog id="dialog" modal with-backdrop>
            <div class="dialog-header">
                <div>Gruppe Bearbeiten</div>
                <paper-icon-button icon="close" dialog-dismiss></paper-icon-button>
            </div>
            <div class="dialog-container">
                <paper-input id="nameInput" label="Name" required
                             error-message="Bitte geben Sie einen validen Name ein"
                             value="{{group.name}}" autofokus></paper-input>
				 <paper-input id="desInput" label="Beschreibung" 
                             value="{{group.description}}" autofokus></paper-input>
                             
 			
 				<paper-menu-button ignore-select>
		            <paper-button class="dropdown-trigger dropdown-button" alt="multi select" raised>
		             <span>Empfänger : {{selectedReceivers}}</span>
		            </paper-button>
		            <paper-menu class="dropdown-content" multi selected-values="{{selected}}" attr-for-selected="value" on-iron-select="_onSelect" on-iron-deselect="_onSelect">
		              <template is="dom-repeat" items="[[receiverdata]]">
		                <paper-item value="[[item.id]]">[[computeFullName(item)]]</paper-item>
		              </template>
		            </paper-menu>
		          </paper-menu-button>
		          
		          <div><br><br><br></div>
		          
            </div>
            <div class="buttons">
                <paper-button class="delete-button" raised on-tap="_onDeleteDialog">Loeschen</paper-button>
                	<paper-button class="toggle-button"
                		hidden$="{{_computePauseButtonHidden(group.status)}}" raised
                		on-tap="_onToggleDialog" activated$="{{_is(group, 'activated')}}">{{_computeToggleName(group)}}</paper-button>
                	<div class="flex"></div>
                <paper-button dialog-dismiss>Abbrechen</paper-button>
                <paper-button raised class="modify-button" on-tap="_onConfirmDialog">Bearbeiten</paper-button>
            </div>
        </paper-dialog>
    </template>
    <script>
        Polymer({
            is: 'modify-group-dialog',

            properties: {
                group: {
                    type: Object,
                    value: {}
                },
                receiverdata: {
                    type: Array,
                    value: []
                },
                selected:{
                	type:Array,
                	value: []
                },
                selectedReceivers:{
                	type:String
                }
            },

            open: function() {
            	this.selected=[];
            	this.selectedReceivers='';
            	this.computeSelected() ;
                this.$.dialog.open();
            },

            checked: function(group, attribute, option) {
                if(!this._isEmpty(group)) {
                    return group[attribute].indexOf(option) > -1;
                }
            },

			 computeSelected: function(){
	            	var receivers=[];
					 for(var i=0; i<this.receiverdata.length ; i++){
						 var rec = this.receiverdata[i];
						 if(this.group.member.indexOf(rec.id)>=0)
							 {
								this.selected.push(rec.id);
								var fullname = this.computeFullName(rec);
								receivers.push(fullname);
							 }
					 }
					 this.selectedReceivers=receivers.join(", ");
 			},
            _computeToggleName: function(group) {
                var result = "";

                if(this._isEmpty(group)) return result;

                switch(group.status) {
                    case StandardStatus.added:
                    case StandardStatus.paused:
                    	   result = "Aktivieren";
                           break;
                    case StandardStatus.activated:
                        result = "Pausieren";
                        break;
                }

                return result;
            },

            _is: function(group, status) {
                if(!this._isEmpty(group)) {
                    return group.status === status;
                }

                return false;
            },

            _onDeleteDialog: function () {
                var group = this.group;
                var groupAction = new GroupAction({type: InteractionType.delete, object: group});

                this.fire(groupAction.name, groupAction);
                this.$.dialog.close();
            },

            _onToggleDialog: function() {
                var status;

                switch(this.group.status) {
                	case StandardStatus.added:
                    case StandardStatus.paused:
                    	status = StandardStatus.activated;
                    	break;
               		
                    case StandardStatus.activated:
                        status = StandardStatus.paused;
                        break;
                    default:
                        throw "Error, group status not allowed for toggle";
                }

                var groupAction = new GroupAction({type: InteractionType.changeStatus, object: {id: this.group.id, status: status}});
                this.fire(groupAction.name, groupAction);
            },

            _onConfirmDialog: function () {
                // check if input is valid
                var nameValid = this.$.nameInput.validate();
                if( nameValid) {
                    var group = new Group(this.group);
                  
                    group.member = this.selected;
                    
                    var groupAction = new GroupAction({type: InteractionType.modify, object: group});
                    this.fire(groupAction.name, groupAction);
                    this.$.dialog.close();
                }
            },
            
            computeFullName: function(item) {
                // check if input is valid
				return item.address+' '+item.firstName+' '+item.lastName ;
            },
            
            _onSelect: function(e){
				var selectedIds = e.target.selectedValues;
				var selectedItems = e.target.selectedItems;
				var selectedReceivers = [];
				for(var i=0;i<selectedItems.length;i++){
					selectedReceivers.push(selectedItems[i].innerText);
				}
				this.selectedReceivers=selectedReceivers.join(", ");
			},

            /** Helper functions */

            _isEmpty: function (obj) {

                // null and undefined are "empty"
                if (obj == null) return true;

                // Assume if it has a length property with a non-zero value
                // that that property is correct.
                if (obj.length > 0)    return false;
                if (obj.length === 0)  return true;

                // Otherwise, does it have any properties of its own?
                // Note that this doesn't handle
                // toString and valueOf enumeration bugs in IE < 9
                for (var key in obj) {
                    if (hasOwnProperty.call(obj, key)) return false;
                }

                return true;
            }
        });

    </script>
</dom-module>