<!--

# &lt;mercury-paginator&gt;

>  A element providing a solution to paginate lists (Polymer 1.0 compatible).

## Demo

[Check it live!](https://github.com/bquarks/mercury-paginator)

## Install

Install the component using [Bower](http://bower.io/):

```sh
$ bower install mercury-paginator --save
```

Or [download as ZIP](https://github.com/bquarks/mercury-paginator/archive/master.zip).

## Usage

1. Import polyfill:

    ```html
    <script src="bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
    ```

2. Import custom element:

    ```html
    <link rel="import" href="bower_components/mercury-paginator/mercury-paginator.html">
    ```

3. Start using it!

    ```html
    <template is="dom-bind">

        <mercury-paginator perpage="15" items="{{items}}"></mercury-paginator>

        <div class="div-table">
            <div class="head-row">
                <div class="div-cell">Id</div>
                <div class="div-cell">Item name</div>
                <div class="div-cell">Description</div>
            </div>

            <template id="items" is="dom-repeat" items="{{items}}">
                <div class="div-row">
                    <div class="div-cell">{{item.id}}</div>
                    <div class="div-cell">{{item.name}}</div>
                    <div class="div-cell">{{item.description}}</div>
                </div>
            </template>
        </div>

    </template>
    ```

## Usage

Specifies an array of elements to the component through the *items* property and set *perpage* property to a pagination number

*You can use *iron-ajax* element to fetch data from server.


## Development

In order to run it locally you'll need to fetch some dependencies and a basic server setup.

1. Install [bower](http://bower.io/) & [polyserve](https://npmjs.com/polyserve):

    ```sh
    $ npm install -g bower polyserve
    ```

2. Install local dependencies:

    ```sh
    $ bower install
    ```

3. Start development server and open `http://localhost:8080/components/my-repo/`.

    ```sh
    $ polyserve
    ```

## History

For detailed changelog, check [Releases](https://github.com/jorguezz/mercury-paginator/releases).

## License

[MIT License](http://opensource.org/licenses/MIT)



Example:

    <mercury-paginator perpage="10" items="{{items}}"></mercury-paginator>

    <div class="div-table">
        <div class="head-row">
            <div class="div-cell">Id</div>
            <div class="div-cell">Item name</div>
            <div class="div-cell">Description</div>
        </div>

        <template id="items" is="dom-repeat" items="{{items}}">
            <div class="div-row">
                <div class="div-cell">{{item.id}}</div>
                <div class="div-cell">{{item.name}}</div>
                <div class="div-cCell">{{item.description}}</div>
            </div>
        </template>
    </div>

@demo
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../datalyxt-models/datalyxt-models.html"/>

<dom-module id="mercury-paginator">

    <template>

        <style>
            :host {
                display: block;
                position: relative;
                text-align: var(--mercury-paginator-alignment, center);
                @apply(--mercury-paginator);
            }

            .pagination {
                display: inline-block;
                list-style: none;
                margin: var(--mercury-paginator-margin, 1rem);
                padding: var(--mercury-paginator-padding, 1em);
                vertical-align: middle;
                word-spacing: -5px;
            }

            .pagination li {
                display: inline-block;
                font-size: var(--mercury-paginator-font-size, 1em);
                vertical-align: middle;
                word-spacing: normal;
                @apply(--mercury-paginator-item);
            }

            .pagination li.active a {
                background-color: var(--mercury-paginator-item-selected-bg-color, #2BA6CB);
                color: var(--mercury-paginator-item-selected-color, white);
                text-decoration: none;
                @apply(--mercury-paginator-link-selected);
            }

            .pagination li.disabled a,
            .pagination li.disabled a:hover {
                background-color: var(--mercury-paginator-item-disabled-bg-color, #F5F5F5);
                color: var(--mercury-paginator-item-disabled-bg-color, #CCCCCC);
                cursor: default;
                @apply(--mercury-paginator-link-disabled);
            }

            .pagination a {
                background-color: var(--mercury-paginator-item-bg-color, white);
                border: var(--mercury-paginator-item-border, 1px solid #EEEEEE);
                color: var(--mercury-paginator-item-color, #2BA6CB);
                cursor: pointer;
                display: inline-block;
                line-height: normal;
                font-weight: var(--mercury-paginator-item-font-weight, normal);
                padding: var(--mercury-paginator-item-padding, 0.5em 1em);
                text-decoration: none;
                -webkit-transition: var(--mercury-paginator-item-transition, background-color 0.3s ease-in);
                transition: var(--mercury-paginator-item-transition, background-color 0.3s ease-in);
                @apply(--mercury-paginator-link);
            }


            .pagination a:hover,
            .pagination a:focus {
                background-color: var(--mercury-paginator-item-hover-bg-color, #F5F5F5);
                color: var(--mercury-paginator-item-hover-color, #2BA6CB);
                @apply(--mercury-paginator-link-hover);
            }

            .pagination a:active {
                background-color: var(--mercury-paginator-item-active-bg-color, #EEEEEE);
                @apply(--mercury-paginator-link-active);
            }

        </style>

        <ul id="paginationlist" class="pagination">
            <template is="dom-if" if="{{showFirst}}">
                <li><a on-tap="firstPage">First</a></li>
            </template>

                <li class$='{{disablePrev}}'>
                    <a on-tap="prevPage">{{previous}}</a>
                </li>

            <template is="dom-repeat" items="{{currentRange}}">
                <li class$="{{itemClass(item)}}" data-item="{{item}}" on-tap="setPage">
                    <a>{{pageNum(item)}}</a>
                </li>
            </template>

            <li class$='{{disableNext}}'>
                <a on-tap="nextPage">{{next}}</a>
            </li>

            <template is="dom-if" if="{{showLast}}">
                <li><a on-tap="lastPage">Last</a></li>
            </template>

            <content></content>

        </ul>

  </template>

</dom-module>

<script>
'use strict';

  Polymer({

    is: 'mercury-paginator',

    properties: {
        /**
         * The `perpage` attribute defines the number
         * of items to show per page
         *
         * @attribute perpage
         * @type number
         */
        perpage: {
            type: Number,
            value: 10
        },
        /**
         * The `currentpage` attribute specifies the
         * current active page in view
         *
         * @attribute currentpage
         * @type number
         */
        currentpage: {
            type: Number,
            value: 0,
            notify:true
        },

        /**
         * The `currentRange` property specifies the
         * range of pages (e.g 1, 2, 3, 4, 5) to display
         *
         * @property currentRange
         * @type array
         */
        currentRange: {
            type: Array,
            value: []
        },

        customTemplate: {
            type: Boolean,
            value: false
        },
        /**
         * The `pageCount` specifies the number of paginated pages
         *
         * @property pageCount
         * @type number
         */
        pageCount: {
            type: Number,
            value: 0
        },
        /**
         * The `rangeSize` attribute specifies the total size * of the paginated range of items
         *
         * @attribute rangeSize
         * @type number
         */
        rangeSize: {
            type: Number,
            value: 7
        },
        reloadData: {
            type: Boolean,
            value: false
        },
        currentMinPage: {
            type: Number,
            value: 0
        },
        
        lastRequestOnNext:{
        	type: Boolean,
        	value: false
        },
        lastRequestOnPrevious:{
        	type: Boolean,
        	value: false
        },
        /**
         * The `items` property is the cached instance of the model data for pagination
         *
         * @property items
         * @type array
         */
        items: {
            type: Array,
            value: [],
            notify: true
        },
        /**
         * The `data` attribute is the complete set of data we
         * wish to be paginated
         *
         * @attribute data
         * @type array
         */
        data: {
            type: Array,
            value: new Array( ),
            notify:true,
            observer: '_dataChanged'
        },
        
        dataBackup: {
            type: Array,
            value: new Array( )
        },
        /**
         * The `previous` attribute specifies the label
         * for the Previous button
         *
         * @attribute previous
         * @type string
         */
        previous: {
            type: String,
            value: '<<'
        },
        /**
         * The `next` attribute specifies the label
         * for the Next button
         *
         * @attribute next
         * @type string
         */
        next: {
            type: String,
            value: '>>'
        },

        showFirst:{
            type: Boolean,
            value: false
        },

        showLast: {
            type:Boolean,
            value: false
        },

        disableNext:{
            type: String,
            value: false,
            //computed: '_disableNextBtn(currentpage, pageCount)'
        },

        disablePrev: {
            type: String,
            value: false
            //computed: '_disablePrevBtn(currentpage, pageCount)'
        },

        adjacents: {
            type: Number,
            value: 3
        }

    },

    observers: [
        '_currentPageChanged(data, currentpage)',
    ],

    /**
     * Disable prev buttom if currentpage page is 0
     *
     * @param {string} currentpage
     * @method _disablePrevBtn
     *
     */
    _disablePrevBtn: function(currentpage){
        return currentpage === 0 ? 'disabled' : '';
    },

    /**
     * Disable next buttom if currentpage page is equal pagecount
     *
     * @param {string} currentpage
     * @method _disableNextBtn
     *
     */
    _disableNextBtn: function(currentpage, pageCount){
        return currentpage === pageCount ? 'disabled' : '';
    },


    itemClass: function(item){
        return item === this.currentpage ? 'active' : '';
    },

    _checkData: function(array1, array2){
    	if(array1.length != array2.length)
    		return false;
    	var isSame = true;
    	for(var i = 0; i< array1.length ; i ++){
    		if(array1[i].id !== array2[i].id  ){
    			isSame = false;
    			break;
    		}
    	}
    	return isSame;
    },
    _dataChanged: function(){
        // Update current range to account for items per page, range.
        if(typeof this.data != "undefined"){
	        if(this.data.length > 0){
	        	if(this.reloadData){
	        		this.dataBackup = new Array();
	        		this.lastRequestOnNext = false;
	        		this.lastRequestOnPrevious = false;
	        		this.currentMinPage = 0;
	        		this.pageCount = 0;
	        		this.currentpage = 0;
	        		this.reloadData = false;
	        	}
				var isSame = this._checkData(this.data, this.dataBackup);
	        	
				if(!isSame){
	        	if(this.lastRequestOnNext)
	        		this.currentMinPage = this.currentMinPage + this.rangeSize ;
	        	else if(this.lastRequestOnPrevious)
	        		this.currentMinPage = this.currentMinPage - this.rangeSize ;
	        	
		        this.currentRange = this.range();
		    	
		        // Cache the total page count
		        this.pageCount =  this.getPageCount();
		
		     
		        // Update model bound to UI with filtered range
		        // Source of truth for the component
		        // Client Pagination
		        if(!this.count){
		            this.set('items', this.filterPage());
		        }
		        
		        this.currentpage = this.currentMinPage;
		        
	        	this.dataBackup = this.data;
				}
	        }else{

	        	this.lastRequestOnNext = false;
	        	this.lastRequestOnPrevious = false;
	        	if(!this.reloadData)
	        		this.data = this.dataBackup;     	
	        }
        
        } 

        	

	        

    },


    pageNum: function(item){
        return item + 1;
    },


    /**
     * Navigate to the first page
     * @method firstPage
     */
    firstPage: function () {
        this.currentpage = 0;
    },

    /**
     * Navigate to the last page
     * @method lastPage
     */
    lastPage: function () {
        this.currentpage = this.pageCount;
    },

    /**
     * Called when navigating to the previous page
     *
     * @param {Object} page
     * @event pager-previous
     */

    /**
     * Navigate to the previous page
     *
     * @method prevPage
     */
    prevPage: function () {
//         if(this.currentpage > 0) {
//             this.currentpage--;
//             this.fire('pager-previous', { page: this.currentpage });
//         }
		if(this.currentRange.length != 0){
			this.lastRequestOnNext = false;
			this.lastRequestOnPrevious = true;
			    var firstPage = this.currentRange[0];
			    var lastPage = this.currentRange[this.currentRange.length-1];
			    console.log("first page "+firstPage+" rangeSize: "+this.rangeSize)
				if(firstPage > 0){
			        var pagingModel = new PagingModel({ perpage : this.perpage, pages: this.rangeSize});
			        pagingModel.next = false;
			        var block = this.currentMinPage/this.rangeSize;
			        if(block > 0)
			        	block = block - 1 ;
			        pagingModel.offset = pagingModel.perpage * pagingModel.pages * ( block );
			        pagingModel.pagecount = this.getPageCount();
	//		       	this.currentMinPage = this.currentMinPage - this.rangeSize + 1;
			       	this.fire('pager-action', pagingModel);
//			        this.currentPage = currentMinPage;
			        console.log("currentMinPage : "+this.currentMinPage)
			    }
		}

    },

    /**
     * Called when navigating to the next page
     *
     * @param {Object} page
     * @event pager-next
     */

    /**
     * Navigate to the next page
     *
     * @method nextPage
     */
    nextPage: function () {
//         if ( this.currentpage < this.getPageCount() ) {
//             this.currentpage++;
//             this.fire('pager-next', { page: this.currentpage });
//         }
		if(this.currentRange.length != 0){
			this.lastRequestOnNext = true;
			this.lastRequestOnPrevious = false;
				var firstPage = this.currentRange[0];
		        var lastIndex = this.currentRange.length - 1;
		        var lastPage = this.currentRange[lastIndex];
		
		        var pagingModel = new PagingModel({ perpage : this.perpage, pages: this.rangeSize});
		        pagingModel.next = true;
		        pagingModel.pagecount = this.getPageCount();
		        pagingModel.offset = pagingModel.perpage * pagingModel.pages * ( this.currentMinPage/this.rangeSize + 1);
		       //     this.currentMinPage = this.currentMinPage + this.rangeSize - 1;
		            this.fire('pager-action', pagingModel);
		        // this.currentPage = currentMinPage;
		}
    },

    /**
     * Set the currentpage  new model data
     *
     * @param {Object} e
     * @method setPage
     */
    setPage: function (e) {
        this.currentpage = parseInt(e.model.item, 10);
    },


    /**
     * Get total pages
     *
     * @method getPageCount
     */
    getPageCount: function () {
        return this.count ? Math.ceil( this.count / this.perpage ) - 1 : Math.ceil( this.data.length / this.perpage ) - 1;
    },

    /**
     * Called when the current page changes
     *
     * @param {Object} page
     * @event pager-change
     */
    _currentPageChanged: function () {
        if(!this.count){
            this.set('items', this.filterPage());
        }

        this.currentRange = this.range();
        this.toogleActive();

        this.fire('pager-change', {
            page: this.currentpage,
            pagesize: this.perpage,
            data: this.items
        });
  
    },

    range: function () {
        var paginations = [],
            i,
            pageCount = this.getPageCount();

        if (pageCount-1 < this.rangeSize + (this.adjacents * 2))   //not enough pages to bother breaking it up
        {
            for (i = 0; i <= pageCount; i++)
            {
                paginations.push(this.currentMinPage+i);
            }

        } else if(pageCount-1 > this.rangeSize + (this.adjacents * 2)){   //enough pages to hide some
            //close to beginning; only hide later pages
            if(this.currentpage < 1 + (this.adjacents * 2))
            {
                for (i=0; i<this.rangeSize; i++)
                {
                    paginations.push(this.currentMinPage+i);
                }
            }
            //in middle; hide some front and some back
            else if(pageCount - (this.adjacents) > this.currentpage && this.currentpage > (this.adjacents * 2))
            {
                for (i = this.currentpage - this.adjacents; i <= this.currentpage + this.adjacents; i++)
                {
                    paginations.push(this.currentMinPage+i);
                }
            } else{
                //close to end; only hide early pages
                for (i = pageCount - ((this.adjacents*2)); i <= pageCount; i++)
                {
                    paginations.push(this.currentMinPage+i);
                }
            }
        }

        return paginations;
    },

    filterPage: function () {
       var cdata = this.data.slice((this.currentpage-this.currentMinPage  ) * this.perpage, ((this.currentpage-this.currentMinPage ) * this.perpage) + this.perpage);
  	   return cdata;
    },

    toogleActive: function(){
        var list = this.$.paginationlist.children;
        this.clearActive(list);
        this.applyActive(list);
    },

    clearActive: function(list){
        for(var i=0; i<list.length; i++){
            Polymer.dom(list[i]).classList.remove('active');
        }
    },

    applyActive: function(list){
        for(var i=0; i<list.length; i++){
            if(list[i].dataItem === this.currentpage){
                Polymer.dom(list[i]).classList.add('active');
                break;
            }
        }
    }

  });

</script>
