<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="datalyxt-config">
    <script>
        var config = {

            source: {
                actions: [
                    {icon: 'announcement', type: 'error', color: '#f44336', condition: function(item) { return item.sourceStatus !== "error"; }, tooltip: 'Fehler anzeigen'},
                    {icon: 'create', type: 'edit', color: '#2196f3', tooltip: 'Neue Quelle anlegen'},
                    {icon: 'history', type: 'activity', color: '#2196f3', tooltip: 'Änderungshistorie anzeigen'}
                ],
                searchAdditional: [
                    {name: 'Änderungsdatum', bindTo: 'sourceStatus', type: 'date'}
                ]
            },

            receiver: {
                actions: [
                    {icon: 'warning', type: 'error', color: '#f44336', condition: function(item) { return item.sourceStatus !== "error"; }},
                    {icon: 'create', type: 'edit', color: '#2196f3'},
                    {icon: 'history', type: 'activity', color: '#2196f3'}
                ],
                searchAdditional: [
                    {name: 'Quellen Status', bindTo: 'sourceStatus', type: 'text'}
                ]
            },

            group: {
                actions: [
                    {icon: 'warning', type: 'error', color: '#f44336', condition: function(item) { return item.sourceStatus !== "error"; }},
                    {icon: 'create', type: 'edit', color: '#2196f3'},
                    {icon: 'history', type: 'activity', color: '#2196f3'}
                ],
                searchAdditional: [
                    {name: 'Quellen Status', bindTo: 'sourceStatus'}
                ]
            },

            routes: [
                {page: 'sources', element: 'source'},
                {page: 'receivers', element: 'receiver'},
                {page: 'groups', element: 'group'}
            ]
        };

        Polymer({
            is: 'datalyxt-config',

            getByKey: function(key) {
                return config[key];
            }
        });
    </script>
</dom-module>