<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animations.html"/>
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html"/>

<dom-module id="send-email-dialog">
    <style>
   	
    	  paper-dialog {
            display: block;
            padding: 0 8px;
            width: 60vw;
            border-top: 3px solid var(--paper-blue-500);
            color: rgba(0, 0, 0, 0.87);
        }
        
        .dialog-header {
            font-size: 24px;
            font-weight: 300;
            @apply(--layout-horizontal);
            @apply(--layout-center);
        }
        
        .dialog-header:first-child {
            @apply(--layout-flex);
        }
        
        .dialog-container {
            margin-right: 10px;
            @apply(--layout-vertical);
        }
        
        .dialog-options {
            @apply(--layout-horizontal);
            @apply(--layout-center);
            @apply(--layout-justified);
            margin: 8px 0;
        }
        
        .buttons {
            color: var(--paper-blue-500);
            padding: 0 20px;
            margin: 20px 8px 32px 0;
        }
        
        .buttons .mail-button {
            color: white;
            background-color: var(--paper-blue-500);
        }
        
        .buttons .toggle-button {
            color: white;
            background-color: var(--paper-green-500);
        }
        
        .buttons .toggle-button[activated] {
            color: white;
            background-color: var(--paper-amber-500);
        }
        
        .dropdown-button {
            display: block;
            background: #4285f4;
            color: #fff;
        }
        
        .selected {
            width: 40%;
            margin-left: 30px;
            border: 2px solid var(--paper-blue-500);
        }
        
        .elements {
            width: 40%;
            margin: auto;
            border: 2px solid var(--paper-blue-500);
        }
        
        <!-- Paper Card --> .cafe-header {
            @apply(--paper-font-headline);
        }
        
        .cafe-light {
            color: var(--paper-grey-600);
        }
        
        .cafe-location {
            float: right;
            font-size: 15px;
            vertical-align: middle;
        }
        
        .cafe-reserve {
            color: var(--google-blue-500);
        }
        
        iron-icon.star {
            --iron-icon-width: 16px;
            --iron-icon-height: 16px;
            color: var(--paper-amber-500);
        }
        
        iron-icon.star:last-of-type {
            color: var(--paper-grey-500);
        }
        
    </style>

    <template>

        <paper-dialog id="dialog" modal with-backdrop>
            <div class="dialog-header">
                <div>Email weiterleiten</div>
                <paper-icon-button icon="close" dialog-dismiss></paper-icon-button>
            </div>
            <paper-dialog-scrollable>
                <div class="dialog-container">
                  <template is="dom-repeat" items="{{details}}">
                        <paper-card>
                            <div class="card-content">
								<h3 >Subject: {{item.subject}} </h3>
                                <hr/>
                                <template is="dom-repeat" items="{{item.rows}}" as="rows">
                                    <template is="dom-repeat" items="{{rows}}" as="rowItems">
                                        <p class="cafe-light">{{toUpperCase(rowItems.name)}} : {{rowItems.value}} </p>
                                        <template is="dom-if" if="{{rowItems.file}}">
                                            <p><a href="http://localhost:8080/vims/sonarbox/res/results/files/{{rowItems.file.id}}" target="_blank">{{rowItems.file.id}}.pdf</a></p>
                                        </template>

                                        <template is="dom-if" if="{{rowItems.image}}">
                                            <p> <a href="http://localhost:8080/vims/sonarbox/res/results/imgs/{{rowItems.image.id}}" target="_blank">{{rowItems.image.id}}.png</a></p>
                                             <br>
                                        </template>
                                    </template>
                                    <hr/>

                                </template>

                                <template is="dom-repeat" items="{{item.files}}" as="fi">
                                    <p> <a href="{{_getEndpoint(1,fi.id)}}" target="_blank">{{fi.id}}.pdf</a></p>
                                </template>
                                <template is="dom-repeat" items="{{item.images}}" as="img">
                                    <p><a href="{{_getEndpoint(2, img.id)}}" target="_blank">{{img.id}}.png</a></p>
                                </template>

                            </div>
                        </paper-card>
    				 </template>
                </div>

                <div>
                    <div role="listbox" class="elements" style="margin-top:20px;display:inline-block;height:150px;overflow-y: auto;">
                        <iron-label>Auswahl Empfänger</iron-label>
                        <template is="dom-repeat" items="{{receiverdata}}">
                            <paper-item value="[[item.id]]" on-tap="_selectReceiver">[[computeFullName(item)]]</paper-item>
                        </template>
                    </div>
                    <div role="listbox" class="selected" style="display:inline-block;height:150px;overflow-y: auto;">
                        <iron-label>Ausgewählte Empfänger</iron-label>
                        <template is="dom-repeat" items="{{selectedReceiver}}">
                            <paper-item on-tap="_deSelectReceiver" value={{item.id}}>{{item.name}}</paper-item>
                        </template>
                    </div>
                </div>

                <div>
                    <div class="flex"></div>
                    <div role="listbox" class="elements" style="display:inline-block;height:150px;overflow-y: auto;">
                        <iron-label>Auswahl Gruppen</iron-label>
                        <template is="dom-repeat" items="{{groupdata}}">
                            <paper-item value="[[item.id]]" on-tap="_selectGroup">{{item.name}}</paper-item>
                        </template>
                    </div>
                    <div role="listbox" class="selected" style="display:inline-block;height:150px;overflow-y: auto;">
                        <iron-label>Ausgewählte Gruppen</iron-label>
                        <template is="dom-repeat" items="{{selectedGroups}}">
                            <paper-item on-tap="_deSelectGroup" value={{item.id}}>{{item.name}}</paper-item>
                        </template>
                    </div>
                </div>
            </paper-dialog-scrollable>
            <div class="buttons">
                <div class="flex"></div>
                <paper-button dialog-dismiss>Abbrechen</paper-button>
                <paper-button raised class="mail-button" on-tap="_onConfirmDialog">E-Mail versenden</paper-button>
            </div>
        </paper-dialog>
        
    </template>
    <script>
        Polymer({
            is: 'send-email-dialog',

            properties: {
                data: {
                    type: Object,
                    value: {}
                },
                details: {
                    type: Array,
                    value: []
                },
                groupdata: {
                    type: Array,
                    value: []
                },
                receiverdata: {
                    type: Array,
                    value: []
                },
                selectedGroups: {
                    type: Array,
                    value: [],
                    notify: true
                },
                selectedReceiver: {
                    type: Array,
                    value: [],
                    notify: true
                }

            },

            open: function() {
                this.$.dialog.open();
            },

            sendMail:function(){
            	console.log(this.data.id);
            	console.log(this.selectedGroups);
            	console.log(this.selectedReceiver);
            	
            	var emailModel = new EmailCreateModel();
            	emailModel.id = this.data.id;
            	
            	for(var i= 0 ; i< this.selectedReceiver.length ; i++){
            		var rId = this.selectedReceiver[i].id
            		emailModel.receiverIds.push(rId);
            	};
            	for(var i= 0 ; i< this.selectedGroups.length ; i++){
            		var gId =this.selectedGroups[i].id
            		emailModel.groupIds.push(gId);
            	};
            	var emailSendAction = new EmailAction({type: InteractionType.add, object: emailModel});
                this.fire(emailSendAction.name, emailSendAction);
                

            },
 
            _onConfirmDialog: function () {
				this.sendMail();
//                 var emailSendAction = new EmailAction({type: InteractionType.modify, object: this.data});

//                 this.fire(emailSendAction.name, emailSendAction);
                this.$.dialog.close();
            },
            toUpperCase: function (e) {
                return e.toUpperCase();
            },
            
            _selectReceiver: function (e) {
                var selectedId = e.target.value;
                var receiver = {
                    id: selectedId,
                    name: e.target.innerText
                };
                console.log(e.target);
                var index = -1;
                for (var i = 0; i < this.selectedReceiver.length; i++) {
                    if (this.selectedReceiver[i].id === selectedId) {
                        index = i;
                        break;
                    }
                }
                if (index === -1) {
                    this.push('selectedReceiver', receiver);
                }
            },
            _deSelectReceiver: function (e) {
                var selectedId = e.target.value;
                var index = -1;
                for (var i = 0; i < this.selectedReceiver.length; i++) {
                    if (this.selectedReceiver[i].id === selectedId) {
                        index = i;
                        break;
                    }
                }
                if (index !== -1) {
                    this.splice('selectedReceiver', index, 1);
                }

            },
            _selectGroup: function (e) {
                var selectedId = e.target.value;
                var group = {
                    id: selectedId,
                    name: e.target.innerText
                };
                var index = -1;
                for (var i = 0; i < this.selectedGroups.length; i++) {
                    if (this.selectedGroups[i].id === selectedId) {
                        index = i;
                        break;
                    }
                }
                if (index === -1) {
                    this.push('selectedGroups', group);
                }
            },
            _deSelectGroup: function (e) {
                var selectedId = e.target.value;
                var index = -1;
                for (var i = 0; i < this.selectedGroups.length; i++) {
                    if (this.selectedGroups[i].id === selectedId) {
                        index = i;
                        break;
                    }
                }
                if (index !== -1) {
                    this.splice('selectedGroups', index, 1);
                }

            },

            
            
            /** Helper functions */

            _isEmpty: function (obj) {

                // null and undefined are "empty"
                if (obj == null) return true;

 				 return false;
             },
             computeFullName: function (item) {
                 // check if input is valid
                 return item.firstName + ' ' + item.lastName;
             },
             _getEndpoint: function (type, id) {
                 if(type === 1)
                	 return RestfulEndpoint.resultFile+id;
                 if(type === 2)
                 	return RestfulEndpoint.resultImg+id;
             }
        });

    </script>
</dom-module>