<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../../bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../../bower_components/pushstate-anchor/pushstate-anchor.html">

<link rel="import" href="../search-bar/search-bar.html">
<link rel="import" href="../data-store/data-store.html">
<link rel="import" href="../datalyxt-models/datalyxt-models.html">
<link rel="import" href="../datalyxt-config/datalyxt-config.html">

<!-- Import frequently used routes -->
<link rel="import" href="../search-element/search-element.html">
<link rel="import" href="../receiver-search-element/receiver-search-element.html">
<link rel="import" href="../group-search-element/group-search-element.html">
<link rel="import" href="../selector-search-element/selector-search-element.html">
<link rel="import" href="../result-search-element/result-search-element.html">
<link rel="import" href="../activity-search-element/activity-search-element.html">
<link rel="import" href="../mail-search-element/mail-search-element.html">
<link rel="import" href="../monitoring-search-element/monitoring-search-element.html">

<link rel="import" href="../source-element/source-element.html">
<link rel="import" href="../selector-element/selector-element.html">
<link rel="import" href="../editor-element/editor-element.html">
<link rel="import" href="../receiver-element/receiver-element.html">
<link rel="import" href="../group-element/group-element.html">
<link rel="import" href="../result-element/result-element.html">
<link rel="import" href="../mail-element/mail-element.html">
<link rel="import" href="../monitoring-element/monitoring-element.html">
<link rel="import" href="../activity-element/activity-element.html">

<link rel="import" href="../source-activity-dialog/source-activity-dialog.html">
<link rel="import" href="../modify-source-dialog/modify-source-dialog.html">
<link rel="import" href="../source-error-dialog/source-error-dialog.html">
<link rel="import" href="../modify-receiver-dialog/modify-receiver-dialog.html">
<link rel="import" href="../modify-group-dialog/modify-group-dialog.html">
<link rel="import" href="../result-detail-dialog/result-detail-dialog.html">
<link rel="import" href="../monitoring-detail-dialog/monitoring-detail-dialog.html">
<link rel="import" href="../send-email-dialog/send-email-dialog.html">

<dom-module id="menu-element">
    <style is="custom-style">
        :host {
            width: 100%;
            height: 100%;
        }

        :host paper-drawer-panel {
            background-color: var(--paper-grey-200);

            --paper-drawer-panel-left-drawer-container: {
                 background-color: var(--paper-grey-200);
            };
        }

        :host paper-toolbar {
            background-color: var(--paper-blue-500);
        }

        :host paper-toolbar[search-active] {
            background-color: var(--paper-grey-100);
        }

        :host paper-menu {
            --paper-menu-background-color: var(--paper-grey-200);
        }

        :host search-bar[search-active] {
            background-color: var(--paper-grey-100);
            border: 1px solid var(--paper-grey-400);
            color: black;
        }

        .menu-item > span {
            color: var(--paper-grey-700);
            font-size: 14px;
        }

        .search-toolbar {
            cursor: pointer;
            color: black;

            @apply(--layout-horizontal);
            @apply(--layout-center);
        }

        .search-toolbar span {
            font-size: 19px;
            margin-left: 24px;
        }

        :host paper-spinner {
            --paper-spinner-layer-1-color: white;
            --paper-spinner-layer-2-color: white;
            --paper-spinner-layer-3-color: white;
            --paper-spinner-layer-4-color: white;
        }

        .iron-selected .menu-item {
            background-color: var(--paper-grey-300);
        }

        .iron-selected .menu-item span {
            font-weight: bold;
        }

        paper-menu a {
            text-decoration: none;
        }

        .menu-item {
            border-radius: 2px;

            @apply(--layout-horizontal);
            @apply(--layout-center);
            @apply(--layout-flex);
        }

        :host div.menu {
            padding-top: 10px;
            padding-left: 16px;
            padding-right: 12px;
            line-height: 24px;
            white-space: normal;
        }

        :host .menu-item iron-icon {
            fill: red;
            margin-right: 24px;
            opacity: 0.54;
        }

        :host .hr {
            margin: 8px 0;
            border-top: 1px solid var(--paper-grey-300);
        }

        :host #notify {
            --paper-toast-background-color: var(--paper-red-500);
        }
    </style>
    <template>
        <!-- Configuration  -->
        <datalyxt-config id="config" config="{{config}}"></datalyxt-config>

        <!-- Datastores -->
        <data-store id="sourceStore" url="{{sourceurl}}"
                    data="{{sourceData}}" sortDirection="{{defaultSortDirection}}"
                    sortColumn="{{defaultSortColumn}}" filter="{{sourceFilter}}"></data-store>
        <data-store id="searchStore" data="{{searchData}}"></data-store>
        <data-store id="receiverStore" url="{{receiverurl}}"
                    data="{{receiverData}}" sortDirection="{{defaultSortDirection}}"
                    sortColumn="{{defaultSortColumn}}" filter="{{receiverFilter}}"></data-store>
        <data-store id="groupStore" url="{{groupurl}}"
                    data="{{groupData}}" sortDirection="{{defaultSortDirection}}"
                    sortColumn="{{defaultSortColumn}}" filter="{{groupFilter}}"></data-store>
        <data-store id="selectorStore" url="{{selectorurl}}"
                    data="{{selectors}}" sortDirection="{{defaultSortDirection}}"
                    sortColumn="{{defaultSortColumn}}" filter="{{selectorFilter}}"></data-store>
        <data-store id="resultStore" url="{{resulturl}}" data="{{resultData}}" ></data-store>
        <data-store id="mailStore" url="{{mailurl}}" data="{{mails}}" ></data-store>
        <data-store id="mailDetailStore" url="{{mailurl}}" data="{{mailDetail}}" ></data-store>
        <data-store id="reportStore" url="{{monitoringurl}}" data="{{reports}}" ></data-store>
		<data-store id="reportDetailStore" url="{{monitoringdetailurl}}"
                    data="{{reportDetails}}" sortDirection="{{defaultSortDirection}}"
                    sortColumn="{{defaultSortColumn}}" filter="{{reportDetailFilter}}"></data-store>
        <data-store id="activityStore" data="{{activityData}}" url="{{activityurl}}"></data-store>

        <!-- Routes -->
        <app-location id="location" route="{{route}}" query-params="{{queryParams}}"></app-location>
        <app-route route="{{route}}" pattern="/app/search" active="{{searchActive}}"></app-route>
        <app-route route="{{route}}" pattern="/app/editor" active="{{editorActive}}"></app-route>
        <app-route route="{{route}}" pattern="/app/:page" data="{{routeData}}" tail="{{subroute}}"></app-route>

        <!-- Main App -->
        <paper-drawer-panel hidden$="{{editorActive}}">
            <paper-header-panel drawer>
                <!-- Drawer Toolbar -->
                <paper-toolbar search-active$="{{searchActive}}">
                    <span hidden$="{{searchActive}}" class="title">SonarBox</span>
                    <div on-tap="_closeSearch" class="search-toolbar" hidden$="{{!searchActive}}">
                        <iron-icon icon="arrow-back"></iron-icon>
                        <span>Zurück</span>
                    </div>
                </paper-toolbar>
                <div class="menu">
                    <paper-menu selected="{{routeData.page}}" attr-for-selected="page">
                        <a is="pushstate-anchor" href="/app/sources" page="sources">
                            <paper-item class="menu-item">
                                <iron-icon icon="cloud-download" item-icon></iron-icon>
                                <span>Quellen</span>
                            </paper-item>
                        </a>
                        <a is="pushstate-anchor" href="/app/receivers" page="receivers">
                            <paper-item class="menu-item">
                                <iron-icon icon="face"></iron-icon>
                                <span>Empf&auml;nger</span>
                            </paper-item>
                        </a>
                        <a is="pushstate-anchor" href="/app/groups" page="groups">
                            <paper-item class="menu-item">
                                <iron-icon icon="folder-shared"></iron-icon>
                                <span>Gruppen</span>
                            </paper-item>
                        </a>
                        <a is="pushstate-anchor" href="/app/selectors" page="selectors">
                            <paper-item class="menu-item">
                                <iron-icon icon="dashboard"></iron-icon>
                                <span>Selektoren</span>
                            </paper-item>
                        </a>
                        <div class="hr"></div>
                        <a is="pushstate-anchor" href="/app/results" page="results">
                            <paper-item class="menu-item">
                                <iron-icon icon="archive"></iron-icon>
                                <span>Ergebnisse</span>
                            </paper-item>
                        </a>
                        <a is="pushstate-anchor" href="/app/mails" page="mails">
                            <paper-item class="menu-item">
                                <iron-icon icon="drafts"></iron-icon>
                                <span>Versand</span>
                            </paper-item>
                        </a>
                        <a is="pushstate-anchor" href="/app/distribution" page="distribution">
                            <paper-item class="menu-item">
                                <iron-icon icon="cloud-upload"></iron-icon>
                                <span>Verteilung</span>
                            </paper-item>
                        </a>
                        <div class="hr"></div>
                        <a is="pushstate-anchor" href="/app/logbook" page="logbook">
                            <paper-item class="menu-item">
                                <iron-icon icon="history"></iron-icon>
                                <span>Benutzeraktivitäten</span>
                            </paper-item>
                        </a>
                        <a is="pushstate-anchor" href="/app/monitoring" page="monitoring">
                            <paper-item class="menu-item">
                                <iron-icon icon="assessment"></iron-icon>
                                <span>Monitoring</span>
                            </paper-item>
                        </a>
                        <div class="hr"></div>
                        <a is="pushstate-anchor" href="/app/help" page="help">
                            <paper-item class="menu-item">
                                <iron-icon icon="help"></iron-icon>
                                <span>Online Hilfe</span>
                            </paper-item>
                        </a>
                        <div class="hr"></div>
                        <a is="pushstate-anchor" href="/app/logout" page="logout">
                            <paper-item class="menu-item">
                                <iron-icon icon="cloud-off"></iron-icon>
                                <span>Logout</span>
                            </paper-item>
                        </a>
                    </paper-menu>
                </div>
            </paper-header-panel>
            <paper-header-panel class="layout vertical" main>
                <paper-toolbar search-active$="{{searchActive}}">
                    <search-bar id="search" on-tap="_openSearch" on-search-pressed="_search" search-active$="{{searchActive}}"></search-bar>
                    <div style="width: 300px"></div>
                </paper-toolbar>
                <div class="content fit">
                    <!-- Main content blocks -->
                    <iron-pages hidden$="{{searchActive}}" attr-for-selected="page" selected="{{routeData.page}}">
                        <source-element page="sources" data="{{sourceData}}" sortDirection="{{defaultSortDirection}}"
                                        sortColumn="{{defaultSortColumn}}" filter="{{sourceFilter}}"></source-element>
                        <receiver-element page="receivers" data="{{receiverData}}" groupdata="{{groupData}}" sortDirection="{{defaultSortDirection}}"
                                        sortColumn="{{defaultSortColumn}}" filter="{{receiverFilter}}"></receiver-element>
						<group-element page="groups" data="{{groupData}}" receiverdata="{{receiverData}}"  sortDirection="{{defaultSortDirection}}"
                                        sortColumn="{{defaultSortColumn}}" filter="{{groupFilter}}"></group-element>
                        <selector-element page="selectors" data="{{selectors}}" sortDirection="{{defaultSortDirection}}"
                                        sortColumn="{{defaultSortColumn}}" filter="{{selectorFilter}}"></selector-element>
                        <result-element page="results" pagerinfo="{{defaultPaging}}" data="{{resultData}}" ></result-element>
                        <mail-element page="mails" pagerinfo="{{defaultPaging}}" data="{{mails}}" ></mail-element>
                        <monitoring-element page="monitoring" pagerinfo="{{defaultPaging}}" data="{{reports}}"></monitoring-element>
                        <activity-element page="logbook" pagerinfo="{{defaultPaging}}" data="{{activityData}}"></activity-element>
                    </iron-pages>

                    <!-- Search -->
                    <search-element id="searchElement" hidden$="{{!sourceSearchActive}}" data="{{sourceSearchData}}"></search-element>
                   
                    <receiver-search-element id="receiverSearchElement" hidden$="{{!receiverSearchActive}}" data="{{receiverSearchData}}"></receiver-search-element>
                    <group-search-element id="groupSearchElement" hidden$="{{!groupSearchActive}}" data="{{groupSearchData}}"></group-search-element>
                    <selector-search-element id="selectorSearchElement" hidden$="{{!selectorSearchActive}}" data="{{selectorSearchData}}"></selector-search-element>
                    <result-search-element id="resultSearchElement" hidden$="{{!resultSearchActive}}" data="{{resultSearchData}}"></result-search-element>
                    <mail-search-element id="mailSearchElement" hidden$="{{!mailSearchActive}}" data="{{mailSearchData}}"></mail-search-element>
                    <monitoring-search-element id="reportSearchElement" hidden$="{{!reportSearchActive}}" data="{{reportSearchData}}"></monitoring-search-element>
                    <activity-search-element id="activitySearchElement" hidden$="{{!activitySearchActive}}" data="{{activitySearchData}}"></activity-search-element>
                   
                    <!-- Modal Dialogs -->
                    <source-activity-dialog id="activityDialog" data="{{activityData}}"></source-activity-dialog>
                    <modify-source-dialog id="modifySourceDialog"></modify-source-dialog>
                    <source-error-dialog id="sourceErrorDialog"></source-error-dialog>
                    <modify-receiver-dialog id="modifyReceiverDialog" groupdata="{{groupData}}"></modify-receiver-dialog>
                    <modify-group-dialog id="modifyGroupDialog" receiverdata="{{receiverData}}"></modify-group-dialog>
					<result-detail-dialog id="resultDetailDialog" groupdata="{{groupData}}" receiverdata="{{receiverData}}" ></result-detail-dialog>
              		<send-email-dialog id="sendEmailDialog" details ="{{mailDetail}}" groupdata="{{groupData}}" receiverdata="{{receiverData}}"></send-email-dialog>
   					<monitoring-detail-dialog id="reportDetailDialog" data = "{{reportDetails}}"></monitoring-detail-dialog>
 
                </div>
            </paper-header-panel>
        </paper-drawer-panel>

        <!-- Editor -->
        <editor-element id="editorElement" hidden$="{{!editorActive}}"></editor-element>

        <!-- Loading Element -->
        <paper-toast id="loading">
            <div class="layout horizontal center">
                <paper-spinner active></paper-spinner>
                <div style="padding: 0 12px;">Wird geladen...</div>
            </div>
        </paper-toast>

        <!-- Message Element -->
        <paper-toast id="notify"></paper-toast>
    </template>

    <script>
        Polymer({
            is: "menu-element",
            queryParams: {},


            properties: {
                sourceurl: {
                    type: String,
                    value: RestfulEndpoint.source
                },

                receiverurl: {
                    type: String,
                    value: RestfulEndpoint.receiver
                },
                groupurl: {
                    type: String,
                    value: RestfulEndpoint.group
                },
                selectorurl: {
                    type: String,
                    value: RestfulEndpoint.selector
                },            
                mailurl: {
                    type: String,
                    value: RestfulEndpoint.mail
                },
                resulturl: {
                    type: String,
                    value: RestfulEndpoint.result
                },            
                monitoringurl: {
                    type: String,
                    value: RestfulEndpoint.monitoring
                },
                monitoringdetailurl: {
                    type: String,
                    value: RestfulEndpoint.monitoringDetail
                },
                activityurl: {
                    type: String,
                    value: RestfulEndpoint.activity
                },
                defaultSortColumn: { 
                	type : String , 
                	value: "lastModified"
                },
         
                defaultSortDirection: { 
                	type : Object, 
                	value : SortDirection.descending
                },
                defaultPaging: { 
                	type : PagingModel, 
                	value : {perpage : 100 , pages: 7}
                },
            
                 config: {
                    type: Object,
                    value: {}
                },

                routeData: {
                    type: Object,
                    value: {}
                },

                searchParams: {
                    type: Object,
                    value: {}
                },

                searchActive: {
                    type: Boolean,
                    value: false
                },

                editorActive: {
                    type: Boolean,
                    value: false
                },

                selectorData: {
                    type: Object,
                    value: {}
                },

                subsubroute: {
                    type: String,
                    value: ''
                },
                sourceSearchActive: {
                    type: Boolean,
                    value: false
                },
                receiverSearchActive: {
                    type: Boolean,
                    value: false
                },
                groupSearchActive: {
                    type: Boolean,
                    value: false
                },
                selectorSearchActive: {
                    type: Boolean,
                    value: false
                },
                resultSearchActive: {
                    type: Boolean,
                    value: false
                },
                mailSearchActive: {
                    type: Boolean,
                    value: false
                },
                reportSearchActive: {
                    type: Boolean,
                    value: false
                },
                activitySearchActive: {
                    type: Boolean,
                    value: false
                },
                sourceSearchData: {
                    type: Array,
                    value: []
                },
                receiverSearchData: {
                    type: Array,
                    value: []
                },
                groupSearchData: {
                    type: Array,
                    value: []
                },
                selectorSearchData: {
                    type: Array,
                    value: []
                },
                mailSearchData: {
                    type: Array,
                    value: []
                },
                reportSearchData: {
                    type: Array,
                    value: []
                },
                activitySearchData: {
                    type: Array,
                    value: []
                },
                resultSearchData: {
                    type: Array,
                    value: []
                }

            },

            listeners: {
                'list-item-clicked-action': '_onListItemClicked',
                'source-action': '_onSourceAction',
                'selector-action': '_onSelectorAction',
                'data-store-ready-action': '_onDataStoreReady',
                'data-store-error-action': '_onDataStoreError',
                'editor-close-action': '_onEditorClose',
                'receiver-action':'_onReceiverAction',
                'group-action':'_onGroupAction',
                'mail-action':'_onMailAction',
                'report-action':'_onReportAction',
                'result-action':'_onResultAction',
                'activity-action': '_onActivityAction'
            },

            observers: [
                '_onSearchActiveChanged(searchActive)',
                '_onSearchDataChange(searchData)',
                '_onEditorActiveChanged(editorActive)'
            ],

            ready: function() {
                // init the data stores
                this.$.sourceStore.wrapper = function(elem) { return new Source(elem) };
                this.$.activityStore.wrapper = function(elem) { return new Activity(elem) };
                
                this.$.activityStore.paging = this.defaultPaging;
                this.$.activityStore.sortColumn = 'timestamp';
                this.$.activityStore.list();
                
                this.$.sourceStore.list();
                
                this.$.receiverStore.wrapper = function(elem) { return new Receiver(elem) };        
                this.$.receiverStore.list();

                this.$.groupStore.wrapper = function(elem) { return new Group(elem) };
                this.$.groupStore.list();
                this.$.selectorStore.wrapper = function(elem) { return new Selector(elem) };
                this.$.selectorStore.list();

                this.$.resultStore.sortColumn = 'scanId';
                this.$.resultStore.wrapper = function(elem) { return new Result(elem) };
                this.$.resultStore.list();

                this.$.mailStore.paging = this.defaultPaging;
                this.$.mailStore.sortColumn = 'lastModified';
                this.$.mailStore.wrapper = function(elem) { return new Email(elem) };
                this.$.mailStore.list();
                
                this.$.reportStore.paging = this.defaultPaging;
                this.$.reportStore.sortColumn = 'scanEnd';
                this.$.reportStore.wrapper = function(elem) { return new Report(elem) };
                this.$.reportStore.list();
               


            },

            _onListItemClicked: function(event) {
                var listItemClickedAction = event.detail;

                switch(listItemClickedAction.type) {
                    case ResourceAction.sourceActivity:
                        this.$.activityStore.list();

                        this.$.activityDialog.objectId = listItemClickedAction.object.id;
                        this.$.activityDialog.objectType = ObjectType.source;
                        this.$.activityDialog.dialogTitle = ActivityDialogTitle.source;
                        this.$.activityDialog.open();
                        break;
                    case ResourceAction.sourceEdit:
                        this.$.modifySourceDialog.source = listItemClickedAction.object;
                        this.$.modifySourceDialog.open();
                        break;
                    case ResourceAction.sourceError:
                        this.$.sourceErrorDialog.source = listItemClickedAction.object;
                        this.$.sourceErrorDialog.open();
                        break;
                    case ResourceAction.receiverActivity:
                        this.$.activityStore.list();
                        this.$.activityDialog.objectId = listItemClickedAction.object.id;
                        this.$.activityDialog.objectType = ObjectType.receiver;
                        this.$.activityDialog.dialogTitle = ActivityDialogTitle.receiver;
                        this.$.activityDialog.open();
                        break;
                    case ResourceAction.receiverEdit:
                        this.$.modifyReceiverDialog.receiver = listItemClickedAction.object;
                        this.$.modifyReceiverDialog.open();
                        break;
                        
                    case ResourceAction.groupActivity:
                        this.$.groupStore.list();
                        this.$.activityDialog.objectId = listItemClickedAction.object.id;
                        this.$.activityDialog.objectType = ObjectType.group;
                        this.$.activityDialog.dialogTitle = ActivityDialogTitle.group;
                        this.$.activityDialog.open();
                        break;
                    case ResourceAction.groupEdit:
                        this.$.modifyGroupDialog.group = listItemClickedAction.object;
                        this.$.modifyGroupDialog.open();
                        break;
                    case ResourceAction.selectorActivity:
                        this.$.selectorStore.list();
                        this.$.activityDialog.objectId = listItemClickedAction.object.id;
                        this.$.activityDialog.objectType = ObjectType.selector;
                        this.$.activityDialog.dialogTitle = ActivityDialogTitle.selector;
                        this.$.activityDialog.open();
                        break;
                    case ResourceAction.resultDetail:
                        this.$.resultDetailDialog.data = listItemClickedAction.object;
                        this.$.resultDetailDialog.open();
                        break;
                    case ResourceAction.mailEdit:
                        this.$.sendEmailDialog.data = listItemClickedAction.object;
                        this._getEmailDetail(listItemClickedAction.object);
                        this.$.sendEmailDialog.open();
                        break;
                    case ResourceAction.reportDetail:
                        this.$.reportDetailDialog.report = listItemClickedAction.object;
                        this._getReportDetail(listItemClickedAction.object);
                        this.$.reportDetailDialog.open();
                        break;
                }
            },

            /** Editor functionality */

            _onEditorClose: function(event) {
                this.$.editorElement.reset();
                this.$.location.queryParams = {};
                this.$.location.path = "/app/selectors";
            },

            _onEditorActiveChanged: function(editorActive) {
                if(editorActive) {
                    this.$.editorElement.url = this.$.location.queryParams.url;

                    if(this.$.location.queryParams.selector) {
                        // add selector data to editor element
                    }
                }
            },

            /** Search functionality */

            _search: function(event) {
                this.$.loading.show({duration: 0});
                this.$.searchStore.searchQuery = this.$.search.searchTerm;
                this.$.searchStore.list();
            },

            _resetSearch: function() {
            	this._deactiveSearchElement();
                // delete search data
                this.$.searchStore.reset();

                // and search element information
                this.$.search.searchTerm = "";
            },

            _openSearch: function() {
                if(!this.searchActive) {
                    var objectType = getObjectTypeForPage(this.routeData.page);
                    var searchUrl = '';

                    switch(objectType) {
                        case ObjectType.source:
                            searchUrl =  RestfulEndpoint.source;
                            this.$.searchStore.wrapper = function(elem) { return new Source(elem) };
                            this._deactiveSearchElement();
                            this.sourceSearchActive = true;
                            this.$.searchElement.initSearch(objectType);
                            break;
                        case ObjectType.receiver:
                            searchUrl =  RestfulEndpoint.receiver;
                            this.$.searchStore.wrapper = function(elem) { return new Receiver(elem) };
                            this._deactiveSearchElement();
                            this.receiverSearchActive = true;
                            this.$.receiverSearchElement.initSearch(objectType);

                            break;
                        case ObjectType.group:
                            searchUrl = RestfulEndpoint.group;
                            this.$.searchStore.wrapper = function(elem) { return new Group(elem) };
                            this._deactiveSearchElement();
                            this.groupSearchActive = true;
                            this.$.groupSearchElement.initSearch(objectType);
                            break;
                        case ObjectType.selector:
                            searchUrl = RestfulEndpoint.selector;
                            this.$.searchStore.wrapper = function(elem) { return new Selector(elem) };
                            this._deactiveSearchElement();
                            this.selectorSearchActive = true;
                            this.$.selectorSearchElement.initSearch(objectType);
                            break;
                        case ObjectType.result:
                            searchUrl = RestfulEndpoint.result;
                            this.$.searchStore.wrapper = function(elem) { return new Result(elem) };
                            this._deactiveSearchElement();
                            this.resultSearchActive = true;
                            this.$.resultSearchElement.initSearch(objectType);
                            break;
                        case ObjectType.mail:
                            searchUrl = RestfulEndpoint.mail;
                            this.$.searchStore.wrapper = function(elem) { return new Email(elem) };
                            this._deactiveSearchElement();
                            this.mailSearchActive = true;
                            this.$.mailSearchElement.initSearch(objectType);
                            break;
                        case ObjectType.monitoring:
                            searchUrl = RestfulEndpoint.monitoring;
                            this.$.searchStore.wrapper = function(elem) { return new Report(elem) };
                            this._deactiveSearchElement();
                            this.reportSearchActive = true;
                            this.$.reportSearchElement.initSearch(objectType);
                            break;
                        case ObjectType.logbook:
                            searchUrl = RestfulEndpoint.activity;
                            this.$.searchStore.wrapper  = function(elem) { return new Activity(elem) };
                            this._deactiveSearchElement();
                            this.activitySearchActive = true;
                            this.$.activitySearchElement.initSearch(objectType);
                            break;
                        default:
                            throw "Error, Object type not supported for search";
                    }

                    // prepare search
                    this.$.searchStore.url = searchUrl;
                    this.$.location.queryParams = { page: this.routeData.page };
                    this.$.location.path = "/app/search";
                }
            },

			_deactiveSearchElement: function(){
                this.sourceSearchActive = false;
                this.receiverSearchActive = false;
                this.groupSearchActive = false;
                this.selectorSearchActive = false;
                this.resultSearchActive = false;
                this.mailSearchActive = false;
                this.reportSearchActive = false;
                this.activitySearchActive = false;
			},

            _closeSearch: function() {
                if(this.searchActive) {
                    this._resetSearch();

                    var previous = this.queryParams.page ? this.queryParams.page : "sources";
                    this.$.location.path = "/app/" + previous;
                    this.$.location.queryParams = {};
                }
            },

            _onSearchActiveChanged: function(state) {
                if(!state) {
                    this._resetSearch()
                }
            },

            _onSearchDataChange: function(data) {
            	
            	   if(this.sourceSearchActive)
            		   this.sourceSearchData = data;
                   if(this.receiverSearchActive)
                	   this.receiverSearchData = data;
                   if(this.groupSearchActive)
                	   this.groupSearchData = data;
                   if(this.selectorSearchActive)
                	   this.selectorSearchData = data;
                   if(this.resultSearchActive)
                	   this.resultSearchData = data;
                   if(this.mailSearchActive)
                	   this.mailSearchData = data;
                   if(this.reportSearchActive)
                	   this.reportSearchData = data;
            },

            /** Datastore functionality */

            _onSourceAction: function(event) {
                var sourceAction = event.detail;

                // show loading animation
                this.$.loading.show({duration: 0});

                switch(sourceAction.type) {
                    case InteractionType.add:
                        this.$.sourceStore.create(sourceAction.object);
                        break;
                    case InteractionType.modify:
                        this.$.sourceStore.update(sourceAction.object.id, sourceAction.object);
                        break;
                    case InteractionType.delete:
                        this.$.sourceStore.delete(sourceAction.object.id);
                        break;
                    case InteractionType.changeStatus:
                        this.$.sourceStore.changeStatus(sourceAction.object.id, sourceAction.object.status);
                        break;
                    default:
                        console.log("Error, unknown interaction type for source action: " + sourceAction.type);
                }
            },

            _onSelectorAction: function(event) {
                var selectorAction = event.detail;

                switch(selectorAction.type) {
                    case InteractionType.add:
                    case InteractionType.modify:
                        var selector = selectorAction.object;

                        this.$.location.queryParams = { url: selector.url };
                        this.$.location.path = "app/editor";
                        break;
                    default:
                        console.log("Error, unknown interaction type for selector action: " + selectorAction.type);
                }
            },
            
            _onReceiverAction: function(event) {
                var receiverAction = event.detail;

                // show loading animation
                this.$.loading.show({duration: 0});

                switch(receiverAction.type) {
                    case InteractionType.add:
                        this.$.receiverStore.create(receiverAction.object);
                        break;
                    case InteractionType.modify:
                        this.$.receiverStore.update(receiverAction.object.id, receiverAction.object);
                        break;
                    case InteractionType.delete:
                        this.$.receiverStore.delete(receiverAction.object.id);
                        break;
                    case InteractionType.changeStatus:
                        this.$.receiverStore.changeStatus(receiverAction.object.id, receiverAction.object.status);
                        break;
                    default:
                        console.log("Error, unknown interaction type for receiver action: " + receiverAction.type);
                }

            },
            _onGroupAction: function(event) {
                var groupAction = event.detail;

                // show loading animation
                this.$.loading.show({duration: 0});

                switch(groupAction.type) {
                    case InteractionType.add:
                        this.$.groupStore.create(groupAction.object);
                        break;
                    case InteractionType.modify:
                        this.$.groupStore.update(groupAction.object.id, groupAction.object);
                        break;
                    case InteractionType.delete:
                        this.$.groupStore.delete(groupAction.object.id);
                        break;
                    case InteractionType.changeStatus:
                        this.$.groupStore.changeStatus(groupAction.object.id, groupAction.object.status);
                        break;
                    default:
                        console.log("Error, unknown interaction type for group action: " + groupAction.type);
                }
            },
            
            _onMailAction: function(event) {
                var mailAction = event.detail;

                // show loading animation
                this.$.loading.show({duration: 0});

                switch(mailAction.type) {
                    case InteractionType.modify:
                        this.$.mailStore.update(mailAction.object.id, mailAction.object);
                        break;
                    case InteractionType.add:
                        this.$.mailStore.create(mailAction.object);
                        break;
                    case InteractionType.pager:
                    	this.$.mailStore.paging = mailAction.object;
                        this.$.mailStore.list();
                        break;
                    case InteractionType.filter:
                    	this.$.mailStore.filter = mailAction.object;
                    	this.$.mailStore.paging.offset = 0;
                        this.$.mailStore.list();
                        break;
                    case InteractionType.sort:
                    	this.$.mailStore.sortDirection = mailAction.object.sortDirection;
                    	this.$.mailStore.sortColumn = mailAction.object.sortColumn;
                    	this.$.mailStore.paging.offset = 0;
                        this.$.mailStore.list();
                        break;
                    default:
                        console.log("Error, unknown interaction type for mail action: " + mailAction.type);
                }
            },
            _onReportAction: function(event) {
                var reportAction = event.detail;

                // show loading animation
                this.$.loading.show({duration: 0});

                switch(reportAction.type) {
                    case InteractionType.pager:
                    	this.$.reportStore.paging = reportAction.object;
                        this.$.reportStore.list();
                        break;
                    case InteractionType.filter:
                    	this.$.reportStore.filter = reportAction.object;
                    	this.$.reportStore.paging.offset = 0;
                        this.$.reportStore.list();
                        break;
                    case InteractionType.sort:
                    	this.$.reportStore.sortDirection = reportAction.object.sortDirection;
                    	this.$.reportStore.sortColumn = reportAction.object.sortColumn;
                    	this.$.reportStore.paging.offset = 0;
                        this.$.reportStore.list();
                        break;
                    default:
                        console.log("Error, unknown interaction type for report action: " + reportAction.type);
                }
            },
            
            _onActivityAction: function(event) {
                var activityAction = event.detail;

                // show loading animation
                this.$.loading.show({duration: 0});

                switch(activityAction.type) {
                    case InteractionType.pager:
                    	this.$.activityStore.paging = activityAction.object;
                        this.$.activityStore.list();
                        break;
                    case InteractionType.filter:
                    	this.$.activityStore.filter = activityAction.object;
                    	this.$.activityStore.paging.offset = 0;
                        this.$.activityStore.list();
                        break;
                    case InteractionType.sort:
                    	this.$.activityStore.sortDirection = activityAction.object.sortDirection;
                    	this.$.activityStore.sortColumn = activityAction.object.sortColumn;
                    	this.$.activityStore.paging.offset = 0;
                        this.$.activityStore.list();
                        break;
                    default:
                        console.log("Error, unknown interaction type for activity action: " + activityAction.type);
                }
            },
            _onResultAction: function(event) {
                var resultAction = event.detail;

                // show loading animation
                this.$.loading.show({duration: 0});

                switch(resultAction.type) {
                    case InteractionType.filter:
                    	this.$.resultStore.filter = resultAction.object;
                        this.$.resultStore.list();
                        break;
                    case InteractionType.sort:
                    	this.$.resultStore.sortDirection = resultAction.object.sortDirection;
                    	this.$.resultStore.sortColumn = resultAction.object.sortColumn;
                        this.$.resultStore.list();
                        break;
                    default:
                        console.log("Error, unknown interaction type for result action: " + resultAction.type);
                }
            },
            _onDataStoreReady: function(event) {
                var dataStoreReadyAction = event.detail;

                this.$.loading.hide();

                this._updateRelatedDataStore(dataStoreReadyAction.id);
                // update all views that are not directly linked
                this._updateNonBindingViews(dataStoreReadyAction.id);

            },

            _onDataStoreError: function(event) {
                var dataStoreErrorAction = event.detail;

                // use error codes to display error message
                console.log(this.$.loading);
                this.$.loading.hide();
                this.$.notify.show(dataStoreErrorAction.message);
            },
            
            _updateRelatedDataStore: function(dataStoreId) {

                if(dataStoreId === 'receiverStore') {
                  		 this.$.groupStore.refresh();
                }
                if(dataStoreId === 'groupStore') {
                        this.$.receiverStore.refresh();
                }
            },

            _updateNonBindingViews: function(dataStoreId) {

                if(dataStoreId === 'sourceStore') {
                    var modifyDialog = this.$.modifySourceDialog;

                    var id = modifyDialog.source.id;
                    modifyDialog.source = this.$.sourceStore.getById(id);
                    
                    var changed = [];
                    for(var i = 0 ; i<this.sourceSearchData.length ; i++){
                    	
              			 if(this.sourceSearchData[i].id ===id)
              				changed.push(this.$.sourceStore.getById(id));
              			 else changed.push(this.sourceSearchData[i]);
              		 }
                    this.$.searchStore.data = changed;
                }
                if(dataStoreId === 'receiverStore') {
                    var modifyDialog = this.$.modifyReceiverDialog;
                	if(typeof modifyDialog.receiver.id !== "undefined" ){
                   		 var id = modifyDialog.receiver.id;
                   		 modifyDialog.receiver = this.$.receiverStore.getById(id);
                   		var changed = [];
                   		 for(var i = 0 ; i<this.receiverSearchData.length ; i++){
                   			 if(this.receiverSearchData[i].id ===id)
                   				 changed.push(this.$.receiverStore.getById(id));
                   			 else changed.push(this.receiverSearchData[i]);
                   		 }
                   		 this.$.searchStore.data = changed;
                   	}
                    
                }
                if(dataStoreId === 'groupStore') {
                    var modifyDialog = this.$.modifyGroupDialog;
					if(typeof modifyDialog.group.id !== "undefined" ){
                    	var id = modifyDialog.group.id;
                    	modifyDialog.group = this.$.groupStore.getById(id);
              
                   		var changed = [];
                   	    for(var i = 0 ; i<this.groupSearchData.length ; i++){
                  			 if(this.groupSearchData[i].id ===id)
                  				 changed.push(this.$.groupStore.getById(id));
                  			 else changed.push(this.groupSearchData[i]);
                  		 }
                  		 this.$.searchStore.data = changed;
                    }
                }
                
                if(dataStoreId === 'mailStore') {
                    var modifyDialog = this.$.sendEmailDialog;

                    var id = modifyDialog.data.id;
                    modifyDialog.data = this.$.mailStore.getById(id);
                    
                    var changed = [];
                    for(var i = 0 ; i<this.mailSearchData.length ; i++){
                    	
              			 if(this.mailSearchData[i].id ===id)
              				changed.push(this.$.mailStore.getById(id));
              			 else changed.push(this.mailSearchData[i]);
              		 }
                    this.$.searchStore.data = changed;
                }
                
            },
            _getReportDetail: function(data) {
                this.$.reportDetailStore.wrapper = function(elem) { return new ReportDetail(elem) };
           	 this.$.reportDetailStore.getItem(data.id);
       
           },
           _getEmailDetail: function(data) {
        	    this.$.mailDetailStore.wrapper = function(elem) { 
        	    	return new EmailDetail(elem) 
        	    };
               this.$.mailDetailStore.getItem(data.id);
           
             }
       });

    </script>

</dom-module>