<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../datalyxt-models/datalyxt-models.html">

<dom-module id="data-store">
    <template>
        <iron-ajax id="ajax"
                   content-type="application/json"
                   on-response="_serviceResponse"
                   on-error="_serviceError"
                   handle-as="json">
        </iron-ajax>
    </template>
</dom-module>
<script>
    var requestType = Object.freeze({none: 0, get: 1, create: 2, delete: 3, update: 4, refresh: 5});

    Polymer({
        is: 'data-store',
        requestType: requestType.none,

        properties: {
            data: {
                type: Array,
                value: [],
                notify: true
            },

            url: {
                type: String,
                value: ''
            },

            searchQuery: {
                type: String,
                value: ''
            },

            filter: {
                type: Array,
                value: {}
            },

            sortColumn: {
                type: String,
                value: ''
            },

            sortDirection: {
                type: String,
                value: SortDirection.descending
            },
            
            paging:{
            	type: PagingModel,
            	value: null
            },

            wrapper: {
                type: Object,
                value: {}
            }
        },

        create: function(data) {
            if(this._validate(data)) {
                var ajax = this.$.ajax;

                if(ajax.loading) {
                    // TODO: Handle multiple calls with Promises
                    return;
                }

                ajax.method = 'post';
                ajax.body = JSON.stringify(data);
                ajax.url = this.url;

                ajax.generateRequest();
                this.requestType = requestType.create;
            }
        },

        delete: function(id) {
            if(this._validateId(id)) {
                var ajax = this.$.ajax;

                if(ajax.loading) {
                    // TODO: Handle multiple calls with Promises
                    return;
                }

                // remote
                ajax.method = 'delete';
                ajax.url = this.url + "/" + id;

                ajax.generateRequest();
                this.requestType = requestType.delete;
            }
        },

        changeStatus: function(id, status) {
            if(this._validateId(id)) {
                var ajax = this.$.ajax;

                if(ajax.loading) {
                    // TODO: Handle multiple calls with Promises
                    return;
                }

                // remote
                ajax.method = 'put';
                ajax.url = this.url + "/" + id + "/status";
                ajax.body = JSON.stringify({status: status});

                ajax.generateRequest();
                this.requestType = requestType.update;
            }
        },

        update: function(id, data) {
            if(this._validateId(id)) {
                var ajax = this.$.ajax;

                if(ajax.loading) {
                    // TODO: Handle multiple calls with Promises
                    return;
                }

                var element = this.getById(id);
                var toAdd = {};

                Object.keys(element).forEach(function(key) {
                    toAdd[key] = data[key] ? data[key] : element[key];
                });

                // remote
                ajax.method = 'put';
                ajax.url = this.url;
                ajax.body = JSON.stringify(toAdd);

                ajax.generateRequest();
                this.requestType = requestType.update;
            }
        },

        list: function() {
            var ajax = this.$.ajax;
            var filter = this.filter;

            if(ajax.loading) {
                // TODO: Handle multiple calls with Promises
                return;
            }

            // create search Query
            if(!this._isEmpty(this.sortColumn)) {
                var sortDirection;

                switch(this.sortDirection) {
                    case SortDirection.descending:
                        sortDirection = "-";
                        break;
                    case SortDirection.ascending:
                        sortDirection = "";
                        break;
                    default:
                        console.log("Unknown Sort Direction: " + this.sortDirection);
                        return;
                }

                ajax.params.sort = sortDirection + this.sortColumn;
            }

//             Object.keys(filter).forEach(function(key) {
//                 var toFilter = filter[key];
//                 ajax.params[key] = toFilter.constructor === Array ? toFilter.join(", ") : toFilter;
//             });
            
            if(typeof filter != "undefined" && filter.length > 0){
            	 ajax.params.filter = JSON.stringify(filter);
    	    }
            
            if(!this._isEmpty(this.searchQuery)) ajax.params.q = this.searchQuery;
           
            if(this.paging != null)
            	ajax.params.paging = JSON.stringify(this.paging);
            
            ajax.method = 'get';
            ajax.url = this.url;

            ajax.generateRequest();
            this.requestType = requestType.get;
        },
        
        getItem: function(id) {
            var ajax = this.$.ajax;

            if(ajax.loading) {
                // TODO: Handle multiple calls with Promises
                return;
            }


            
            ajax.method = 'get';
            ajax.url = this.url+"/"+id;

            ajax.generateRequest();
            this.requestType = requestType.get;
        },
        refresh: function() {
            var ajax = this.$.ajax;
            var filter = this.filter;

            if(ajax.loading) {
                // TODO: Handle multiple calls with Promises
                return;
            }

            // create search Query
            if(!this._isEmpty(this.sortColumn)) {
                var sortDirection;

                switch(this.sortDirection) {
                    case SortDirection.descending:
                        sortDirection = "-";
                        break;
                    case SortDirection.ascending:
                        sortDirection = "";
                        break;
                    default:
                        console.log("Unknown Sort Direction: " + this.sortDirection);
                        return;
                }

                ajax.params.sort = sortDirection + this.sortColumn;
            }

//             Object.keys(filter).forEach(function(key) {
//                 var toFilter = filter[key];
//                 ajax.params[key] = toFilter.constructor === Array ? toFilter.join(", ") : toFilter;
//             });

            if(typeof filter != "undefined" && filter.length > 0){
           	 ajax.params.filter = JSON.stringify(filter);
   	   		}
           
           if(!this._isEmpty(this.searchQuery)) ajax.params.q = this.searchQuery;
          
           if(this.paging != null)
           	ajax.params.paging = JSON.stringify(this.paging);
           
            if(!this._isEmpty(this.searchQuery)) ajax.params.q = this.searchQuery;

            ajax.method = 'get';
            ajax.url = this.url;

            ajax.generateRequest();
            this.requestType = requestType.refresh;
        },
        reset: function() {
            this.url = "";
            this.filter = {};
            this.searchTerm = "";
            this.sortDirection = SortDirection.descending;
            this.sortColumn = "";
            this.data = [];
        },

        getById: function(id) {
            var item =  this.data.filter(function(elem) {
                return elem.id === id;
            });

            return item ? item[0] : undefined;
        },

        /** Helper functions */

        _isEmpty: function (obj) {

            // null and undefined are "empty"
            if (obj == null) return true;

            // Assume if it has a length property with a non-zero value
            // that that property is correct.
            if (obj.length > 0)    return false;
            if (obj.length === 0)  return true;

            // Otherwise, does it have any properties of its own?
            // Note that this doesn't handle
            // toString and valueOf enumeration bugs in IE < 9
            for (var key in obj) {
                if (hasOwnProperty.call(obj, key)) return false;
            }

            return true;
        },

        /** Validation */

        _validate: function(data) {
            // TODO: define validation here
            return true;
        },

        _validateId: function(id) {
            return this.getById(id) != null;
        },

        /** Ajax stuff */

        _resetAjax: function() {
            this.$.ajax.method = 'get';
            this.$.ajax.params = {};
            this.$.ajax.body = null;
        },

        _serviceError: function(event) {
            var response = event.detail.request.xhr.response;
            console.log("Error, request failed: " + response.message);

            // reset request type
            this.requestType = requestType.none;
            this._resetAjax();

            // tell everybody you failed
            var dataStoreErrorAction = new DataStoreErrorAction({id: this.id, errorCode: 1, message: response.message});
            this.fire(dataStoreErrorAction.name, dataStoreErrorAction);
        },

        _serviceResponse: function() {
            var response = this.$.ajax.lastResponse;
            if(response == null)
            	response = {success : false};
            // error without status code
            if(response.success === false) {
                console.log("Error, request failed: " + response);

                this.requestType = requestType.none;
                this._resetAjax();

                // tell everybody you failed
                var dataStoreErrorAction = new DataStoreErrorAction({id: this.id, errorCode: 1, message: response.message});
                this.fire(dataStoreErrorAction.name, dataStoreErrorAction);

                return;
            }

            switch(this.requestType) {
                case requestType.get:
                    var transform = isEmpty(this.wrapper) ? function(elem) { return elem; } : this.wrapper;
                	if(typeof transform !== "undefined"  && response.body !=null){

                    	var data = response.body.map(transform);
                  	
                    	// set data and reset ajax element
                    	this.data = data;
                    	this.requestType = requestType.none;
                    	this._resetAjax();

                    	// tell everyone the data is ready
                    	var dataStoreAction = new DataStoreReadyAction({id: this.id, message: response.message});
                    	this.fire(dataStoreAction.name, dataStoreAction);
                    }
                    break;
                case requestType.refresh:
                    var transform = isEmpty(this.wrapper) ? function(elem) { return elem; } : this.wrapper;
                    if(typeof transform !== "undefined" && response.body != null){
                   	 	var data = response.body.map(transform);

                    	// set data and reset ajax element
                    	this.data = data;
                   		this.requestType = requestType.none;
                    	this._resetAjax();
                    }
                    break;
                case requestType.create:
                case requestType.update:
                case requestType.delete:
                    // reset ajax element
                    this.requestType = requestType.none;
                    this._resetAjax();

                    // refresh information
                    this.list();
                    break;
                default:
                    throw "Error, faulty request type: " + this.requestType;
            }
        }
    });
</script>