<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-dropdown/iron-dropdown.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">

<dom-module id="data-menu">
    <style>
        :host {
            @apply(--layout-vertical);
        }

        :host .data-menu-header {
            padding: 2px 8px;
            cursor: pointer;
        }

        :host .data-menu-header[opened] {
            color: white;
            background-color: var(--paper-blue-500);
        }

        :host .data-menu-container {
            color: black;
            background-color: var(--paper-grey-100);
            width: 300px;

            @apply(--layout-vertical);
        }

        :host .dropdown-content {
            top: var(--vertical-offset);
        }
    </style>
    <template>
        <div id="trigger" class="data-menu-header" on-tap="_onClick" on-mouseenter="_onMouseEnter" opened$="{{opened}}">{{label}}</div>

        <iron-dropdown id="dropdown" opened="{{opened}}" vertical-offset="{{verticalOffset}}">
            <paper-material class="dropdown-content data-menu-container">
                <content></content>
            </paper-material>
        </iron-dropdown>
    </template>
    <script>
        Polymer({
            is: 'data-menu',

            properties: {
                label: {
                    type: String,
                    value: ""
                },

                opened: {
                    type: Boolean,
                    value: false
                },

                verticalOffset: {
                    type: Number,
                    value: 0
                }
            },

            listeners: {
                'iron-overlay-canceled': '_onIronOverlayCanceled'
            },

            ready: function() {
                // position dropdown
                this.$.dropdown.positionTarget = this.$.trigger;
            },

            _onClick: function(event) {
                this.fire('data-menu-clicked', this);
            },

            _onMouseEnter: function(event) {
                this.fire('data-menu-hovered', this);
            },

            _onIronOverlayCanceled: function(event) {
                if(event.detail._path.indexOf(this) !== -1) {
                    event.stopPropagation();
                }
            }
        });
    </script>

</dom-module>