<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="data-menu-bar">
    <style>
        :host {
            @apply(--layout-horizontal);
        }
    </style>
    <template>
        <content></content>
    </template>
    <script>
        Polymer({
            is: 'data-menu-bar',
            openMenu: {},

            properties: {
                opened: {
                    type: Boolean,
                    value: false
                }
            },

            listeners: {
                'data-menu-clicked': '_onDataMenuClicked',
                'data-menu-hovered': '_onDataMenuHovered',
                'data-menu-item-clicked': 'close',
                'iron-overlay-canceled': '_onIronOverlayCanceled'
            },

            close: function() {
                this.openMenu.opened = false;
                this.openMenu = {};
                this.opened = false;
            },

            _onDataMenuClicked: function(event) {
                var menuElement = event.detail;

                if(this.opened) {
                    this.openMenu = {};

                    menuElement.opened = false;
                    this.opened = false;
                } else {
                    this.openMenu = menuElement;

                    menuElement.opened = true;
                    this.opened = true;
                }
            },

            _onDataMenuHovered: function(event) {
                var menuElement = event.detail;

                if(this.opened) {
                    this.openMenu.opened = false;

                    this.openMenu = menuElement;
                    menuElement.opened = true;
                }
            },

            _onDataMenuItemClicked: function(event) {
                this.close();
            },

            _onIronOverlayCanceled: function(event) {
                if(this.opened) {
                    this.openMenu = {};
                    this.opened = false;
                }
            }
        });
    </script>

</dom-module>