<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">

<dom-module id="data-menu-item">
    <style>
        :host {
            @apply(--layout-vertical);
        }

        :host .menu-item-label {
            font-size: 14px;
            padding: 22px 24px;

            cursor: pointer;

            @apply(--layout-horizontal);
            @apply(--layout-center);
            @apply(--layout-justified);
        }

        :host .menu-item-label[hover] {
            background-color: var(--paper-blue-500);
            color: white;
        }

        :host .menu-item-label[disabled] {
            color: var(--paper-grey-500);
        }

        :host .menu-item-label[disabled][hover] {
            background-color: var(--paper-grey-200);
        }

        :host .hr {
            margin: 10px 0px;
            border-top: 1px solid var(--paper-grey-300);
        }

        :host iron-icon {
            --iron-icon-height: 16px;
            --iron-icon-width: 16px;
        }
    </style>
    <template>
        <div class="menu-item-label" on-tap="_onClick" on-mouseenter="_onMouseEnter" on-mouseleave="_onMouseLeave" hover$="{{hover}}" disabled$="{{disabled}}">
            <content></content>
            <iron-icon hidden$="{{!checked}}" icon="check"></iron-icon>
        </div>

        <template is="dom-if" if="{{divider}}">
            <div class="hr"></div>
        </template>
    </template>
    <script>
        Polymer({
             is: 'data-menu-item',
            hover: false,

            properties: {
                label: {
                    type: String,
                    value: ""
                },

                key: {
                    type: String,
                    value: ""
                },

                divider: {
                    type: Boolean,
                    value: false
                },

                checked: {
                    type: Boolean,
                    value: false
                },

                disabled: {
                    type: Boolean,
                    value: false
                }
            },

            _onClick: function(event) {
                if(!this.disabled) {
                    this.fire("data-menu-item-clicked", { key: this.key });
                }
            },

            _onMouseEnter: function(event) {
                this.hover = true;
            },

            _onMouseLeave: function(event) {
                this.hover = false;
            }
        });
    </script>

</dom-module>