<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../filter-panel/filter-panel-element.html">
<link rel="import" href="../filter-panel/filter-panel.html">

<dom-module id="search-element">
    <style>
        :host {
            margin-top: 20px;
            @apply(--layout-vertical);
        }

        :host .section-header {
            color: #616161;
            margin: 20px 0 8px;
            padding: 0 24px;

            @apply(--layout-horizontal);
        }

        .list-container {
            margin-left: 40px;
            margin-right: 170px;

            min-width: 860px;
        }

        vaadin-grid {
            --primary-color: transparent;
            line-height: 1.5;

            @apply(--layout-flex-1);
        }
    </style>
    <template>
        <!-- Search content-->
        <div class="section-header">{{_generateHeader(data)}}</div>
        <paper-material hidden id="container" class="list-container">
            <!-- Update Button -->
            <div class="layout horizontal end-justified center" style="background-color: white">
                <paper-icon-button icon="filter-list" on-tap="_openFilterOptions"></paper-icon-button>
            </div>

            <filter-panel id="filterPanel">
                <filter-panel-element type="filter-type-select" name="status" label="Status"
                                      items='[{"value": "added", "label": "Hinzugefügt"}, {"value": "validated", "label": "Validiert"}, {"value": "activated", "label": "Aktiviert"}, {"value": "paused", "label": "Pausiert"}, {"value": "error", "label": "Fehler"}, {"value": "blackList", "label": "Geblockt"}]'></filter-panel-element>
                <filter-panel-element type="filter-type-select" name="types" label="Typen" items='[{"value": "QT1V1", "label": "Web Scraping"}, {"value": "QT1V2", "label": "Web Search"}, {"value": "QT2", "label": "Social Search"}]'></filter-panel-element>
            </filter-panel>

            <vaadin-grid id="list" items="{{_filterAndSort(data, sortColumn, sortDirection, filter)}}" on-sort-order-changed="_onSortOrderChanged">
             <table>
                    <colgroup>
                        <col name="status" flex="1"/>
                        <col name="name" flex="1" sortable/>
                        <col name="url" flex="2"/>
                        <col name="types" flex="1"/>
                        <col name="lastModified" flex="1"sortable/>
                        <col name="actions" width="170"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th>Status</th>
                        <th>Name</th>
                        <th>Url</th>
                        <th>Typen</th>
                        <th>Letzte Änderung</th>
                        <th></th>
                    </tr>
                    </thead>
                </table>
            </vaadin-grid>
        </paper-material>
    </template>
    <script>
        Polymer({
            is: 'search-element',

            ordering: ['status', 'name', 'url', 'types', 'lastModified', 'actions'],
            selectedIndex: -1,
            
            properties: {
                data: {
                    type: Array,
                    value: []
                },

                sortDirection: {
                    type: String,
                    value: SortDirection.descending
                },

                sortColumn: {
                    type: String,
                    value: ''
                },

                filter: {
                    type: Array,
                    value: []
                }
            },

            behaviors: [
                Polymer.IronResizableBehavior
            ],

            observers: [
                '_onDataChange(data)'
            ],

            listeners: {
                'filter-panel-filter-action': '_onFilterPanelFilterAction',
                'iron-resize': '_onIronResize'
            },

            initSearch: function(objectType) {
                var grid = this.$.list;

                var sortDirection;
                var sortColumn = this.ordering.indexOf(this.sortColumn);

                if(sortColumn === -1) {
                    console.log("Error, wrong sort column provided");
                    sortColumn = 4;
                }

                switch(this.sortDirection) {
                    case SortDirection.ascending:
                        sortDirection = 'asc';
                        break;
                    case SortDirection.descending:
                        sortDirection = 'desc';
                        break;
                    default:
                        console.log("Error, unknown sort direction");
                }

                // init data list
                grid.then(function() {
                    grid.columns[0].renderer = sourceStatusRenderer;
                    grid.columns[2].renderer = linkRenderer;
                    grid.columns[3].renderer = sourceTypeRenderer;
                    grid.columns[4].renderer = timeRenderer;
                    grid.columns[5].renderer = actionRenderer;
                    grid.sortOrder = [{column: sortColumn, direction: sortDirection}];

                    resizeGrid(grid);
                });
            },

            _isEmpty: function(data) {
                return data.length === 0;
            },

            _generateHeader: function(data) {
                switch(data.length) {
                    case 0:
                        return "Keine Ergebnisse gefunden";
                    case 1:
                        return "1 Ergebnis gefunden";
                    default:
                        return data.length + " Ergebnisse gefunden"
                }
            },

            /** Sorting and Filtering */

            _openFilterOptions: function(event) {
                this.$.filterPanel.open();
            },

            _filterAndSort: function(data, sortColumn, sortDirection, filter) {
                // filter data
                var filtered = filter.reduce(function(previous, filterElement) {
                    if(isEmpty(filterElement.filter)) {
                        return previous;
                    }

                    switch(filterElement.type) {
                        case FilterType.select:
                            var newData = previous.filter(function(elem) {
                                return elem[filterElement.name] == filterElement.filter;
                            });

                            return newData;
                            break;
                        default:
                            throw "Error, unknown filter type: " + type;
                    }
                }, data);

                // sort data
                var lesser = sortDirection == SortDirection.ascending ? -1 : 1;

                filtered.sort(function (a, b) {
                    return (a[sortColumn] < b[sortColumn]) ? lesser : -lesser;
                });

                return filtered;
            },

            _onSortOrderChanged: function(event) {
                this.sortColumn = this.ordering[this.$.list.sortOrder[0].column];
                this.sortDirection = this.$.list.sortOrder[0].direction === 'asc' ? SortDirection.ascending : SortDirection.descending;
            },

            _onFilterPanelFilterAction: function(event) {
                var filterPanelFilterAction = event.detail;
                this.filter = filterPanelFilterAction.filter;
            },

            /** Observer components */

            _onIronResize: function() {
                resizeGrid(this.$.list);
            },

            _onDataChange: function(data) {
                if(data.length > 0) {
                    this.$.container.hidden = false;
                    resizeGrid(this.$.list);
                } else {
                    this.$.container.hidden = true;
                }
            }
        });
    </script>
</dom-module>