<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animations.html"/>

<link rel="import" href="../../bower_components/gold-email-input/gold-email-input.html"/>
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html"/>

<dom-module id="modify-receiver-dialog">
    <style>
paper-dialog {
	display: block;
	padding: 0 8px;
	width: 60vw;
	border-top: 3px solid var(--paper-blue-500);
	color: rgba(0, 0, 0, 0.87);
}

.dialog-header {
	font-size: 24px;
	font-weight: 300;
	@apply(--layout-horizontal);
	@apply(--layout-center);
}

.dialog-header :first-child { @apply(--layout-flex);
	
}

.dialog-container {
	margin-right: 10px;
	@apply(--layout-vertical);
}

.frist-column {
  float: right;
  width: 50%;
  background-color: #CCF;
}
.second-column {
  float: left;
  width: 50%;
  margin-left: -200px;
  background-color: #FFA;
}
.dialog-options { 
	@apply (--layout-horizontal); 
	@apply (--layout-center);
	@apply (--layout-justified);
	margin: 8px 0;
}

.buttons {
	color: var(--paper-blue-500);
	padding: 0 20px;
	margin: 20px 8px 32px 0;
}

.buttons .modify-button {
	color: white;
	background-color: var(--paper-blue-500);
}

.buttons .delete-button {
	color: white;
	background-color: var(--paper-red-500);
}

.buttons .toggle-button {
	color: white;
	background-color: var(--paper-green-500);
}

.buttons .toggle-button[activated] {
	color: white;
	background-color: var(--paper-amber-500);
}
         .dropdown-button {
      display: block;
      background: #4285f4;
      color: #fff;
    }
    </style>

    <template>

        <paper-dialog id="dialog" modal with-backdrop>
            <div class="dialog-header">
                <div>Empfaenger Bearbeiten</div>
                <paper-icon-button icon="close" dialog-dismiss></paper-icon-button>
            </div>
  <paper-dialog-scrollable>
            <div class="dialog-container">
                <paper-input id="nameInput" label="Name" required
                             error-message="Bitte geben Sie einen validen Name ein"
                             value="{{receiver.lastName}}" autofokus></paper-input>
                <paper-input id="firstnameInput" label="Vorname" required
                             error-message="Bitte geben Sie einen validen Vorname ein"
                             value="{{receiver.firstName}}" autofokus></paper-input>
                <gold-email-input id="emailInput1" label="Email"
                                  value="{{receiver.email}}" required auto-validate
                                  error-message="Bitte geben Sie eine valide Email ein"></gold-email-input>
                <gold-email-input id="emailInput2" label="Email"  value="{{email2}}"
                                  required auto-validate
                                  error-message="Bitte geben Sie die Email nochmal ein"></gold-email-input>
                		

				<paper-menu-button ignore-select>
		            <paper-button class="dropdown-trigger dropdown-button" alt="multi select" raised>
		             <span>Gruppen : {{selectedGroups}}</span>
		            </paper-button>
		            <paper-menu class="dropdown-content" multi selected-values="{{selected}}" attr-for-selected="value" on-iron-select="_onSelect" on-iron-deselect="_onSelect">
		              <template is="dom-repeat" items="[[groupdata]]">
		                <paper-item value="[[item.id]]">[[item.name]]</paper-item>
		              </template>
		            </paper-menu>
		          </paper-menu-button>

                     
                	<paper-input id="companyInput" label="Unternehmen"
                		value="{{receiver.company}}" autofokus></paper-input>
                	<paper-input id="departmentInput" label="Abteilung"
                		value="{{receiver.department}}" autofokus></paper-input>
                	<paper-input id="functionInput" label="Funktion"
                		value="{{receiver.theFunction}}" autofokus></paper-input>
                	<paper-input id="categoryInput" label="Sortimentskategorie"
                		value="{{receiver.category}}" autofokus></paper-input>


            </div>
  </paper-dialog-scrollable>
            <div class="buttons">
                <paper-button class="delete-button" raised on-tap="_onDeleteDialog">Loeschen</paper-button>
                	<paper-button class="toggle-button"
                		hidden$="{{_computePauseButtonHidden(receiver.status)}}" raised
                		on-tap="_onToggleDialog" activated$="{{_is(receiver, 'activated')}}">{{_computeToggleName(receiver)}}</paper-button>
                	<div class="flex"></div>
                <paper-button dialog-dismiss>Abbrechen</paper-button>
                <paper-button raised class="modify-button" on-tap="_onConfirmDialog">Bearbeiten</paper-button>
            </div>
        </paper-dialog>
    </template>
    <script>
        Polymer({
            is: 'modify-receiver-dialog',

            properties: {
                receiver: {
                    type: Object,
                    value: {}
                },
                groupdata: {
                    type: Array,
                    value: []
                },
                selected:{
                	type: Array,
                	value:[]
                },
                email2:{
                	type: String
                },
                selectedGroups:{
                	type: String
                }
            },

            open: function() {
            	this.selected=[];
            	this.selectedGroups='';
            	var groups=[];
            	for(var i=0;i<this.receiver.groups.length;i++){
            		this.selected.push(this.receiver.groups[i].id);
            		groups.push(this.receiver.groups[i].name);
            	}
            	this.selectedGroups=groups.join(", ");
            	
            	
            	this.email2 = this.receiver.email;
                this.$.dialog.open();
            },

            checked: function(receiver, attribute, option) {
                if(!this._isEmpty(receiver)) {
                    return receiver[attribute].indexOf(option) > -1;
                }
            },
	
 
            _computeToggleName: function(receiver) {
                var result = "";

                if(this._isEmpty(receiver)) return result;

                switch(receiver.status) {
                    case StandardStatus.added:
                    case StandardStatus.paused:
                    	   result = "Aktivieren";
                           break;
                    case StandardStatus.activated:
                        result = "Pausieren";
                        break;
                }

                return result;
            },

            _is: function(receiver, status) {
                if(!this._isEmpty(receiver)) {
                    return receiver.status === status;
                }

                return false;
            },

            _onDeleteDialog: function () {
                var receiver = this.receiver;
                var receiverAction = new ReceiverAction({type: InteractionType.delete, object: receiver});

                this.fire(receiverAction.name, receiverAction);
                this.$.dialog.close();
            },

            _onToggleDialog: function() {
                var status;

                switch(this.receiver.status) {
          			case StandardStatus.added:
                    case StandardStatus.paused:
                    	  status = StandardStatus.activated;
                          break;

                    case StandardStatus.activated:
                        status = StandardStatus.paused;
                        break;
                    default:
                        throw "Error, receiver status not allowed for toggle";
                }

                var receiverAction = new ReceiverAction({type: InteractionType.changeStatus, object: {id: this.receiver.id, status: status}});
                this.fire(receiverAction.name, receiverAction);
            },

            _onConfirmDialog: function () {
                // check if input is valid
                var nameValid = this.$.nameInput.validate();
				var emailValid = (this.receiver.email === this.email2);
                if(emailValid && nameValid) {
                    var receiver = new Receiver(this.receiver);
                    
                    var gids = this.selected;
                    receiver.groups=[];
                    for(var i= 0 ; i< gids.length ; i++){
                        var group = {id: gids[i]};
                        receiver.groups.push(group);
                    }
                    
       
                    var receiverAction = new ReceiverAction({type: InteractionType.modify, object: receiver});

                    this.fire(receiverAction.name, receiverAction);
                    this.$.dialog.close();
                }
            },

            /** Helper functions */

            _isEmpty: function (obj) {

                // null and undefined are "empty"
                if (obj == null) return true;

                // Assume if it has a length property with a non-zero value
                // that that property is correct.
                if (obj.length > 0)    return false;
                if (obj.length === 0)  return true;

                // Otherwise, does it have any properties of its own?
                // Note that this doesn't handle
                // toString and valueOf enumeration bugs in IE < 9
                for (var key in obj) {
                    if (hasOwnProperty.call(obj, key)) return false;
                }

                return true;
            },
            _onSelect: function(e){
				var selectedIds = e.target.selectedValues;
				var selectedItems = e.target.selectedItems;
				var selectedGroups = [];
				for(var i=0;i<selectedItems.length;i++){
					selectedGroups.push(selectedItems[i].innerText);
				}
				this.selectedGroups=selectedGroups.join(", ");
			},
        });

    </script>
</dom-module>