<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="data-list-item-icon.html">

<dom-module id="data-list-item">

    <style>
        :host {
            margin: 5px 10px;

            @apply(--layout-horizontal);
        }

        .data-row {
            @apply(--layout-horizontal);
            @apply(--layout-center);
            @apply(--layout-flex);
        }

        .data-item {
            margin: 5px;
        }
        
        a {
            text-decoration: none;
            color: black;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        paper-icon-button.warning{
        color:var(--paper-red-500)
        }
        paper-icon-button.regular{
        	color:var(--paper-blue-500)
        }
    </style>

    <template>
        <div class="data-row">
            <template is="dom-repeat" items="{{binding.model}}">
                <a hidden$="[[!_isUrl(item.type)]]" class$="data-item flex-[[item.weight]]" href="[[_getAttribute(item, entity, binding)]]">[[_getAttribute(item, entity, binding)]]</a>
                <div hidden$="[[_isUrl(item.type)]]" class$="data-item flex-[[item.weight]]">[[_getAttribute(item, entity, binding)]]</div>
            </template>
        </div>
        <div class="layout horizontal end-justified" style="width: 160px;">
            <template is="dom-repeat" items="{{actions}}">
                <data-list-item-icon hidden$="{{_condition(item.condition, entity)}}" item="[[item]]" on-item-icon-clicked="_clicked"></data-list-item-icon>
            </template>
        </div>
    </template>


    <script>
        Polymer({
            is: 'data-list-item',
            properties: {
                entity: {
                    type: Object,
                    value: {}
                },

                binding: {
                    type: Object,
                    value: {}
                },

                actions: {
                    type: Array,
                    value: []
                }
            },

            timeConverter: function (UNIX_timestamp) {
                var a = new Date(UNIX_timestamp);
                var year = a.getFullYear();
                var month = a.getMonth();
                var date = a.getDate();


                var hour = a.getHours();
                var min = "0" + a.getMinutes();
                var sec = "0" + a.getSeconds();

                return year + "/" + month + "/" + date + " " + hour + ':' + min.substr(-2) + ":" + sec.substr(-2);
            },

            _clicked: function(event) {
                var item = event.detail.item;
                this.fire('data-list-clicked', {type: item.type, object: this.entity});
            },

            _condition: function(evaluator, entity) {
                if(evaluator) {
                    return  evaluator(entity);
                } else {
                    return false;
                }
            },

            _isUrl: function(type) {
                return type === 'url';
            },

            _getAttribute: function(attribute, entity, binding) {
                var rawAttribute = entity[attribute.bindTo];

                // prettify the raw attribute
                if (attribute.type === "enum") {
                    if (rawAttribute instanceof Array) {
                        var parsed =  rawAttribute.map(function(elem) {
                            return binding.elements[elem];
                        });

                        return parsed.join(", ");
                    } else {
                        return binding.elements[rawAttribute];
                    }
                } else if (attribute.type === "datetime") {
                    return this.timeConverter(rawAttribute);
                }

                return rawAttribute;
            }
        });
    </script>
</dom-module>