<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">

<link rel="import" href="../datalyxt-models/datalyxt-models.html">

<dom-module is="data-list-header">
    <style>
        :host {
            border-bottom: solid 1px black;
            padding:10px;

            @apply(--layout-horizontal);
            @apply(--layout-center);
        }

        :host iron-selector {
            @apply(--layout-horizontal);
            @apply(--layout-flex);
            @apply(--layout-center);
        }
    </style>
    <template>
        <iron-selector selected="0"
                       selectable="data-list-header-item[sortable]"
                       selected-attribute="sort-column">
            <content select="data-list-header-item"></content>
        </iron-selector>
        <content select=".data-list-header-filler"></content>
    </template>
    <script>
        Polymer({
            is: 'data-list-header',

            properties: {
                sortColumn: {
                    type: String,
                    notify: true,
                    value: ''
                },

                sortDirection: {
                    type: String,
                    notify: true,
                    value: SortDirection.descending
                },

                filter: {
                    type: Object,
                    notify: true,
                    value: {}
                }
            },

            listeners: {
                'iron-deselect': '_searchColumnDeselected',
                'iron-select': '_searchColumnSelected',
                'change-filter': '_changeFiltered',
                'change-sort-direction': '_changeSortDirection'
            },

            _changeFiltered: function(event) {
                var changed = event.detail;

                if(changed.filtered.length === 0) {
                    delete this.filter[changed.attribute];
                } else {
                    this.filter[changed.attribute] = changed.filtered;
                }
            },

            _searchColumnDeselected: function(event) {
                Polymer.dom(event.detail.item).setAttribute('sort-direction', SortDirection.descending);
            },

            _searchColumnSelected: function(event) {
                var sortColumn =  event.detail.item;
                this.sortColumn = sortColumn.bindTo;
            },

            _changeSortDirection: function(event) {
                var selected = event.target;
                var sortDirection = event.detail.direction;

                this.sortDirection = sortDirection;
                Polymer.dom(selected).setAttribute('sort-direction', sortDirection);
            }
        });
    </script>

</dom-module>