<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-dropdown/iron-dropdown.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">

<link rel="import" href="../datalyxt-models/datalyxt-models.html">

<dom-module id="data-list-header-item">
    <style>
        :host {
            margin: 5px;
            cursor: pointer;
        }

        #dropdown {
            @apply(--layout-vertical);
        }

        .dropdown-menu {
            width: 12em;
            background-color: white;

            @apply(--layout-vertical);
        }

        paper-item {
        --paper-item-focused-before: {
             background-color: #FFFFFF;
         };
        }

        paper-checkbox {
            width: 100%;
        }

        iron-icon.sort-icon {
            margin: 6px;

            --iron-icon-width: 18px;
            --iron-icon-height: 18px;

            color: var(--paper-grey-400);
        }

        iron-icon.sort-icon[active] {
            color: black;
        }

        .dropdown-menu > .head {
            padding: 10px 16px;
            background-color: lightgrey;
        }
    </style>
    <template>
        <div class="dropdown-trigger" on-tap="toggle">
            <iron-icon hidden$="{{!sortable}}" class="sort-icon" icon="{{_getSortIcon(sortDirection)}}" active$="{{sortColumn}}"></iron-icon>
            <content></content>
            <iron-icon hidden$="{{!filterable}}" icon="arrow-drop-down"></iron-icon>
            <iron-dropdown id="dropdown">
                <paper-material class="dropdown-content dropdown-menu">
                    <div class="head">Filter</div>
                    <template is="dom-repeat" items="{{elements}}">
                        <paper-item><paper-checkbox noink name="[[item.bindTo]]" checked="{{!_isFiltered(item.bindTo, filtered)}}">[[item.name]]</paper-checkbox></paper-item>
                    </template>
                </paper-material>
            </iron-dropdown>
        </div>
    </template>
    <script>
        Polymer({
            is: 'data-list-header-item',

            properties: {

                sortable: {
                    type: Boolean,
                    value: false
                },

                filterable: {
                    type: Boolean,
                    value: false
                },

                elements: {
                    type: Array,
                    value: []
                },

                filtered: {
                    type: Array,
                    value: []
                },

                sortColumn: {
                    type: Boolean,
                    value: false
                },

                sortDirection: {
                    type: String,
                    value: SortDirection.descending
                },

                bindTo: {
                    type: String,
                    value: ''
                }
            },

            listeners: {
                'iron-overlay-closed': '_updateFilter',
                'iron-change': '_updateFilterValue'
            },

            toggle: function() {
                if(this.filterable) {
                    this.$.dropdown.open();

                } else if(this.sortable) {
                    if(this.sortColumn) {
                        var sortDirection;

                        switch(this.sortDirection) {
                            case SortDirection.ascending:
                                sortDirection = SortDirection.descending;
                                break;
                            case SortDirection.descending:
                                sortDirection = SortDirection.ascending;
                                break;
                            default:
                                console.log("Error, unknown sort direction: " + this.sortDirection);
                        }

                        this.fire('change-sort-direction', {direction: sortDirection});
                    }
                }
            },

            _isFiltered: function(value, filter) {
                return filter.indexOf(value) > -1
            },

            _updateFilter: function(event) {
                this.fire('change-filter', {'attribute': this.bindTo, 'filtered': this.filtered});
            },

            _updateFilterValue: function(event) {
                var copy = this.filtered.slice(0);
                var changed = event.target.name;

                // remove value if already present; add value if not present
                if(copy.indexOf(changed) > -1) {
                    copy.splice(copy.indexOf(changed), 1)
                    this.filtered = copy;
                } else {
                    copy.push(changed);
                    this.filtered = copy;
                }
            },

            _getSortIcon: function(direction) {
                var icon;

                switch(this.sortDirection) {
                    case SortDirection.ascending:
                        icon = 'arrow-upward';
                        break;
                    case SortDirection.descending:
                        icon = 'arrow-downward';
                        break;
                    default:
                        console.log("Error, unknown sort direction: " + this.sortDirection);
                }

                return icon;
            }
        });
    </script>

</dom-module>