<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-tooltip/paper-tooltip.html">

<link rel="import" href="../datalyxt-models/datalyxt-models.html">

<dom-module id="data-list-item-icon">
    <template>
        <paper-icon-button id="btn" disabled = "[[disable]]" icon="[[icon]]" style$="color: [[color]]" on-tap="_clicked"></paper-icon-button>
        <paper-tooltip for="btn" show>[[tooltip]]</paper-tooltip>
    </template>
    <script>
        Polymer({
           is: 'data-list-item-icon',

            properties: {
                type: {
                    type:String,
                    value: ''
                },

                item: {
                    type: Object,
                    value: {}
                },

                icon: {
                    type: String,
                    value: ''
                },

                color: {
                    type: String,
                    value: ''
                },
                
                disable: {
                	type: Boolean,
                	value: false
                	
                },

                tooltip: {
                    type: String,
                    value: ''
                }
            },

            _clicked: function(event) {
                var clickedAction = new ListItemClickedAction({type: this.type, object: this.item});
                this.fire(clickedAction.name, clickedAction);
            }
        });
    </script>
</dom-module>