<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">

<link rel="import" href="data-list-item.html">
<link rel="import" href="data-list-header.html">
<link rel="import" href="data-list-header-item.html">
<link rel="import" href="../datalyxt-config/datalyxt-config.html">
<link rel="import" href="../datalyxt-models/datalyxt-models.html">

<dom-module id="data-list">
    <style>
        :host paper-material {
            padding: 16px;
            background-color: white;
        }

        .data-list-header-filler {
            width: 160px;
        }
    </style>

    <template>
        <paper-material>
            <!-- Config -->
            <datalyxt-config id="config"></datalyxt-config>

            <!-- Update Button -->
            <div class="layout horizontal end-justified">
                <paper-icon-button icon="refresh" id="refresh" on-tap="_onRefresh"></paper-icon-button>
            </div>

            <!-- Table Headers-->
            <data-list-header id="header" sort-direction="{{sortDirection}}" sort-column="{{sortColumn}}" filter="{{filtered}}">
                <template is="dom-repeat" items="{{binding.model}}">
                    <data-list-header-item bind-to="[[item.bindTo]]"
                                           class$="flex-[[item.weight]]"
                                           elements="[[item.elements]]"
                                           sortable$="[[item.sortable]]"
                                           filterable$="[[item.filterable]]">[[item.name]]</data-list-header-item>
                </template>
                <div class="data-list-header-filler"></div>
            </data-list-header>

            <!-- Table Body -->
            <template is="dom-repeat" items="{{data}}">
                <data-list-item entity="[[item]]" binding="[[binding]]" actions="[[actions]]"></data-list-item>
            </template>

        </paper-material>
    </template>


    <script>
        Polymer({
            is: 'data-list',
            properties: {
                sortDirection: {
                    type: String,
                    value: SortDirection.descending
                },

                sortColumn: {
                    type: String,
                    value: ''
                },

                filtered: {
                    type: Object,
                    value: {}
                },

                data: {
                    type: Array,
                    value: []
                },

                binding: {
                    type: Object,
                    value: []
                },

                actions: {
                    type: Array,
                    value: []
                }
            },

            ready: function() {
                this.actions = this.$.config.getByKey('source').actions;
            },

            _onRefresh: function() {
                this.fire('data-list-refresh');
            }
        });
    </script>
</dom-module>