<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/gold-email-input/gold-email-input.html"/>
<link rel="import" href="../../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../../bower_components/paper-radio-button/paper-radio-button.html">

<link rel="import" href="../../bower_components/paper-item/paper-item.html"/>
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html"/>
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html"/>
<link rel="import" href="../datalyxt-models/datalyxt-models.html"/>
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html"/>



<dom-module id="add-receiver-dialog">
    <style>
        paper-dialog {
            display: block;
            width: 60vw;
            border-top: 3px solid var(--paper-blue-500);
            color: rgba(0, 0, 0, 0.87);
        }

        .dialog-header {
            font-size: 24px;

            font-weight: 300;

            @apply(--layout-horizontal);
            @apply(--layout-center);
        }

        .dialog-header :first-child {
            @apply(--layout-flex);
        }

        .dialog-container {
            @apply(--layout-vertical);
        }

        .dialog-options {
            @apply(--layout-horizontal);
            @apply(--layout-center);
            @apply(--layout-justified);

            margin: 8px 0;
        }

        .buttons {
            color: black;
            padding-bottom: 12px;
        }
        .label {
        	 color: black;
        	   font-size: 18px;
        }

        .buttons .add-button {
            color: white;
            background-color: var(--paper-blue-500);
        }
         paper-button {
      display: block;
      background: #4285f4;
      color: #fff;
    }
    </style>

    <template>
        <!-- url validation -->
        <plastik-url-validator></plastik-url-validator>

        <paper-dialog id="dialog" modal with-backdrop>
            <div class="dialog-header">
                <div>Empfänger Hinzufügen</div>
                <paper-icon-button icon="close" dialog-dismiss></paper-icon-button>
            </div>

 
  		 <paper-dialog-scrollable>
             <div class="dialog-container">
               <label id="labelAddress" class = "label">Anrede:</label>
			   <paper-radio-group aria-labelledby="labelAddress"  selected = "{{address}}" required>
  						<paper-radio-button name="Frau">Frau</paper-radio-button>
  						<paper-radio-button name="Herr">Herr</paper-radio-button>
			  </paper-radio-group>
			   <paper-input  label="Name" value="{{lastname}}" required auto-validate error-message="Bitte geben Sie den Empf&auml;nger Namen ein" autofokus></paper-input>
          
               <paper-input  label="Vorname" value="{{firstname}}" required  auto-validate error-message="Bitte geben Sie den Empf&auml;nger Vornamen ein" autofokus></paper-input>
	   	        <gold-email-input  label="Email"   value="{{email1}}" required auto-validate error-message="Bitte geben Sie eine valide Email ein" ></gold-email-input>
                <gold-email-input  label="Email"  value="{{email2}}" required auto-validate error-message="Bitte geben Sie die Email nochmal ein"></gold-email-input>
     

				<paper-menu-button ignore-select>
		            <paper-button class="dropdown-trigger" alt="multi select" raised>
		             <span>Gruppen : {{selectedGroups}}</span>
		            </paper-button>
		            <paper-menu class="dropdown-content" multi selected-values="{{selected}}" attr-for-selected="value" on-iron-select="_onSelect" on-iron-deselect="_onSelect">
		              <template is="dom-repeat" items="[[data]]">
		                <paper-item value="[[item.id]]">[[item.name]]</paper-item>
		              </template>
		            </paper-menu>
		          </paper-menu-button>



                	<paper-input label="Unternehmen" value="{{company}}" required auto-validate
                		autofokus></paper-input>
                	<paper-input  label="Abteilung" value="{{department}}" required auto-validate
                		 autofokus></paper-input>
                	<paper-input  label="Funktion" value="{{theFunction}}" required auto-validate
                		 autofokus></paper-input>
                	<paper-input label="Sortimentskategorie" value="{{category}}" required auto-validate
                		 autofokus></paper-input>
            </div>
		  </paper-dialog-scrollable>
            <div class="buttons">
                <paper-button dialog-dismiss>Abbrechen</paper-button>
                <paper-button raised class="add-button" on-tap="_onConfirmDialog">Hinzufügen</paper-button>
            </div>
        </paper-dialog>

    </template>
    <script>
        Polymer({
            is: 'add-receiver-dialog',
            properties: {
                data: {
                    type: Array,
                    value: []
                },
                selected:{
                	type:Array,
                	value: []
                },
                address:{
                	type:String,
                	value:'Herr'
                },
                lastname:{
                	type: String
                },
                firstname:{
                	type:String
                },
                company:{
                	type:String
                },
                category:{
                	type:String
                },
                email1:{
                	type:String
                },
                email2:{
                	type:String
                },
                theFunction:{
                	type:String
                },
                department:{
                	type:String
                },
                selectedGroups:{
                	type:String
                }
            },
                
            listeners: {
                'iron-overlay-closed': '_onIronOverlayClose'
            },

            open: function() {
            	this.selected=[];
            	this.selectedGroups='';
                this.$.dialog.open();
            },

            _listGroup: function(data) {
                var groupDetails = '' ;
				for(var i=0 ; i<data.length ; i++)
					groupDetails = groupDetails + ' '+data[i].name;
                return groupDetails;
            },
            _onConfirmDialog: function(event) {
                // check if input is valid
                var emailValid = (this.email1=== this.email2);

                if(emailValid ) {
                    var email = this.email1;
                    var lastname = this.lastname;
                    var firstName = this.firstname;
                    var company = this.company;

                    var address = this.address;
               
                    var receiverCreate = new ReceiverCreateModel({address: address, lastName: lastname, email: email, firstName: firstName, company: company});
                    receiverCreate.department = this.department;
                    receiverCreate.category = this.category;
                    receiverCreate.theFunction = this.theFunction;
                    var gids = this.selected;
                    for(var i= 0 ; i< gids.length ; i++){
                        var group = {id: gids[i]};
                    	receiverCreate.groups.push(group);
                    }
                    var receiverAction = new ReceiverAction({type: InteractionType.add, object: receiverCreate});

                    this.fire(receiverAction.name, receiverAction);
                    this.$.dialog.close();
                }
            },
            _onSelect: function(e){
				var selectedIds = e.target.selectedValues;
				var selectedItems = e.target.selectedItems;
				var selectedGroups = [];
				for(var i=0;i<selectedItems.length;i++){
					selectedGroups.push(selectedItems[i].innerText);
				}
				this.selectedGroups=selectedGroups.join(", ");
			},

             _onIronOverlayClose: function(event) {

             }
        });
    </script>
</dom-module>