<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../data-menu-bar/data-menu-item.html">
<link rel="import" href="../data-menu-bar/data-menu.html">
<link rel="import" href="../data-menu-bar/data-menu-bar.html">
<link rel="import" href="../editor-reflux-store/editor-reflux-store.html">

<dom-module id="editor-menu-bar">
    <template>
        <data-menu-bar>
            <data-menu label="Datei" vertical-offset="27">
                <data-menu-item key="menu-1.1">Neu</data-menu-item>
                <data-menu-item key="menu-1.2">Öffnen</data-menu-item>
                <data-menu-item key="menu-1.3" divider disabled>Zuletzt Geöffnet</data-menu-item>
                <data-menu-item key="menu-1.4" divider disabled>Hilfe</data-menu-item>
                <data-menu-item key="menu-1.5" divider disabled>Templates</data-menu-item>
                <data-menu-item key="menu-1.6">Schließen</data-menu-item>
                <data-menu-item key="menu-1.7" divider>Speichern</data-menu-item>
                <data-menu-item key="menu-1.8" disabled>Exportieren</data-menu-item>
                <data-menu-item key="menu-1.9" disabled>Exportieren als API</data-menu-item>
                <data-menu-item key="menu-1.10" disabled>Exportieren als CSV</data-menu-item>
            </data-menu>
            <data-menu label="Bearbeiten" vertical-offset="27">
                <data-menu-item key="menu-2.1">Rückgängig machen</data-menu-item>
                <data-menu-item key="menu-2-2">Wiederholen</data-menu-item>
            </data-menu>
            <data-menu label="Ansicht" vertical-offset="27">
                <data-menu-item key="menu-3.1" checked$="{{viewType.isWebsiteView}}">Webseiten Ansicht</data-menu-item>
                <data-menu-item key="menu-3.2" divider checked$="{{viewType.isGridView}}">Tabellen Ansicht</data-menu-item>
                <data-menu-item key="menu-3.3" disabled>Fenster</data-menu-item>
                <data-menu-item key="menu-3.4" disabled>Standard Option 1</data-menu-item>
                <data-menu-item key="menu-3.5" disabled>Standard Option 2</data-menu-item>
                <data-menu-item key="menu-3.6" disabled>Standard Option 3</data-menu-item>
            </data-menu>
            <data-menu label="Werkzeuge" vertical-offset="27">
                <data-menu-item key="menu-4.1">Aktion</data-menu-item>
                <data-menu-item key="menu-4.2" disabled>Filter</data-menu-item>
            </data-menu>
            <data-menu label="Optionen" vertical-offset="27">
                <data-menu-item key="menu-5.1" checked$="{{fetchOptions.enrichTextNodes}}">Text Knoten</data-menu-item>
                <data-menu-item key="menu-5.2" divider checked$="{{fetchOptions.enrichTextNodesJavascript}}">Text Knoten (JavaScript)</data-menu-item>
                <data-menu-item key="menu-5.3" checked$="{{fetchOptions.removeCss}}">CSS Entfernen</data-menu-item>
                <data-menu-item key="menu-5.4" divider checked$="{{fetchOptions.removeIds}}">IDs Entfernen</data-menu-item>
                <data-menu-item key="menu-5.5" checked$="{{fetchOptions.removeHeaderJavascript}}">JavaScript Entfernen (Head)</data-menu-item>
                <data-menu-item key="menu-5.6" checked$="{{fetchOptions.removeBodyJavascript}}">JavaScript Entfernen (Body)</data-menu-item>
            </data-menu>
        </data-menu-bar>
    </template>
    <script>
        Polymer({
            is: 'editor-menu-bar',

            properties: {
                fetchOptions: {
                    type: Object,
                    statePath: 'fetchOptions'
                },

                viewType: {
                    type: String,
                    statePath: 'viewType'
                }
            },

            behaviors: [ ReduxBehavior ],

            listeners: {
                'data-menu-item-clicked': '_onDataMenuItemClicked'
            },

            _onDataMenuItemClicked: function(event) {
                var key = event.detail.key;

                switch(key) {
                    case 'menu-1.1':
                        break;
                    case 'menu-1.2':
                        break;
                    case 'menu-1.3':
                        break;
                    case 'menu-1.4':
                        break;
                    case 'menu-1.5':
                        break;
                    case 'menu-1.6':
                        var editorAction = new EditorCloseAction();
                        this.dispatch(resetEditor());
                        this.fire(editorAction.name, editorAction);
                        break;
                    case 'menu-1.7':
                        break;
                    case 'menu-1.8':
                        break;
                    case 'menu-1.9':
                        break;
                    case 'menu-1.10':
                        break;
                    case 'menu-2.1':
                        break;
                    case 'menu-2.2':
                        break;
                    case 'menu-3.1':
                        this.dispatch(changeViewType(ViewType.website));
                        break;
                    case 'menu-3.2':
                        this.dispatch(changeViewType(ViewType.grid));
                        break;
                    case 'menu-3.3':
                        break;
                    case 'menu-3.4':
                        break;
                    case 'menu-3.5':
                        break;
                    case 'menu-3.6':
                        break;
                    case 'menu-4.1':
                        this.dispatch(actionDialogOpen());
                        break;
                    case 'menu-4.2':
                        break;
                    case 'menu-5.1':
                        this.dispatch(changeFetchOption('enrichTextNodes', !this.fetchOptions.enrichTextNodes));
                        break;
                    case 'menu-5.2':
                        this.dispatch(changeFetchOption('enrichTextNodesJavascript', !this.fetchOptions.enrichTextNodesJavascript));
                        break;
                    case 'menu-5.3':
                        this.dispatch(changeFetchOption('removeCss', !this.fetchOptions.removeCss));
                        break;
                    case 'menu-5.4':
                        this.dispatch(changeFetchOption('removeIds', !this.fetchOptions.removeIds));
                        break;
                    case 'menu-5.5':
                        this.dispatch(changeFetchOption('removeHeaderJavascript', !this.fetchOptions.removeHeaderJavascript));
                        break;
                    case 'menu-5.6':
                        this.dispatch(changeFetchOption('removeBodyJavascript', !this.fetchOptions.removeBodyJavascript));
                        break;
                    default:
                        throw "Error, unknown  key for editor menu: " + key;
                }
            }
        });
    </script>
</dom-module>