<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">

<link rel="import" href="paper-fab-menu-item.html">

<dom-module id="paper-fab-menu">
    <style>
        :host {
            width: 156px;
            margin: 0 8px 8px 8px;
            z-index: 13;

            @apply(--layout-vertical);
            @apply(--layout-end)
        }

        #trigger {
            margin-top: 0.5em;
        }

        .item-container {
            transition-property: transform, -moz-transform, -webkit-transform;
            transform: scale3d(0, 0, 0);
            -moz-transform: scale3d(0, 0, 0);
            -webkit-transform: scale3d(0, 0, 0);
        }

        .item-container.show {
            transition-delay: 0s;
            transition-property: transform, -moz-transform, -webkit-transform;
            transform: scale3d(1, 1, 1);
            -moz-transform: scale3d(1, 1, 1);
            -webkit-transform: scale3d(1, 1, 1);
        }

        #trigger::shadow iron-icon {
            transition: transform 0.5s;
            will-change: transform;
        }

        #trigger[activate]::shadow iron-icon {
            transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
        }

        :host #menu ::content > paper-fab-menu-item {
            opacity: 0;
            transform: scale(0);
            -moz-transform: scale(0);
            -webkit-transform: scale(0);
        }

        :host #menu.show ::content > paper-fab-menu-item {
            opacity: 1;
            transform: scale(1);
            -moz-transform: scale(1);
            -webkit-transform: scale(1);
        }

        :host #menu ::content > paper-fab-menu-item {
            will-change: opacity, transform;
            transition: opacity 0.2s, transform 0.2s, -moz-transform 0.2s, -webkit-transform 0.2s;
        }

    </style>

    <template>
        <div id="menu" class="layout vertical center item-container">
            <span on-tap="toggle"><content select="paper-fab-menu-item"></content></span>
        </div>

        <paper-fab icon="add" id="trigger" on-tap="toggle"></paper-fab>
    </template>
</dom-module>
<script>
    Polymer({
        is: 'paper-fab-menu',
        properties: {
            /**
            * Set opened to true to show the floating menu and to false to hide it.
             *
             * @attribute opened
             * @type boolean
             * @default false
             */
            opened: {
                type: Boolean,
                value: false
            },

            /**
             * Set the default icon of main button to show floating menu
             *
             * @attribute icon
             * @type String
             * @default 'menu'
             */
            icon: {
                type: String,
                value: 'menu'
            },

            /**
             * Set the icon of main button to close floating menu
             *
             * @attribute closeIcon
             * @type String
             * @default 'close'
             */
            closeIcon: {
                type: String,
                value: 'close'
            }
        },

        /**
         * The `toggle` method will toggle the state of menu.
         *
         * @method toggle
         */
        toggle: function() {
            this.opened = !this.opened;

            this.update();
            this.fire('paper-fab-menu-open', this.opened);
        },

        ready: function() {
            // set default icon
            this.$.trigger.icon = this.icon;
        },

        /**
         * The `open` method will show the menu.
         *
         * @method open
         */
        open: function() {
            this.opened = true;
            this.$.trigger.icon = this.closeIcon;
            this.$.trigger.setAttribute("activate", "");
        },

        /**
         * The `close` method will hide the menu.
         *
         * @method close
         */
        close: function() {
            this.opened = false;
            this.$.trigger.icon = this.icon;
            this.$.trigger.removeAttribute("activate");
        },

        update: function() {
            this.toggleClass('show', this.opened, this.$.menu);
            this[this.opened? 'open':'close']();
        }
    });
</script>