<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">

<dom-module is="paper-fab-menu-item">
    <style is="custom-style">
        :host {
            @apply(--layout-horizontal);
            @apply(--layout-center);
        }
        
        .tooltip-container {
            width: var(--paper-fab-menu-item-tooltip-width, 100px);
            @apply(--layout-horizontal);
            @apply(--layout-end-justified);
        }
        
        #tooltip {
            display: block;
            outline: none;
            font-size: 13px;
            font-weight: bold;
            line-height: 1;
            background-color: var(--paper-fab-menu-item-background, #616161);
            opacity: var(--paper-fab-menu-item-opacity, 0.9);
            color: var(--paper-fab-menu-item-text-color, white);
            padding: 8px;
            border-radius: 2px;
            @apply(--paper-fab-menu-item-tooltip);
        }
        
        paper-fab {
            margin: 0.5em;
        }
    </style>
    <template>
        <div class="tooltip-container">
            <div id="tooltip">[[tooltip]]</div>
        </div>
        <paper-fab id="fab" icon="{{icon}}" mini$="{{mini}}" style$="background-color: {{color}}"></paper-fab>
    </template>
    <script>
        Polymer({
            is: "paper-fab-menu-item",
            properties: {
                icon: String,

                tooltip: {
                    type: String,
                    value: ""

                },
                mini: {
                    type: Boolean,
                    value: false
                },
                color: String
            }
        });
    </script>
</dom-module>