<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../bower_components/vaadin-combo-box/vaadin-combo-box.html">
<link rel="import" href="../../bower_components/vaadin-date-picker/vaadin-date-picker.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../paper-fab-menu/paper-fab-menu.html">
<link rel="import" href="../paper-fab-menu/paper-fab-menu-item.html">
<link rel="import" href="../datalyxt-data-binding/datalyxt-data-binding.html">
<link rel="import" href="../data-list/data-list-item-icon.html">
<link rel="import" href="../filter-panel/filter-panel.html">
<link rel="import" href="../filter-panel/filter-panel-element.html">
<link rel="import" href="../time-ago/time-ago.html">
<link rel="import" href="../mercury-paginator/mercury-paginator.html">

<dom-module id="mail-element">

    <style>
        :host {
            margin-top: 20px;
            @apply(--layout-vertical);
        }

        vaadin-date-picker {
            font-size: 13px;
            font-weight: 400;
        }

        vaadin-combo-box {
            font-size: 13px;
            font-weight: 400;
        }

        .list-container {
            margin-left: 40px;
            margin-right: 170px;

            min-width: 860px;
        }

        vaadin-grid {
            --primary-color: transparent;
            line-height: 1.5;

            @apply(--layout-flex-1);
        }

    </style>

    <template>
       
       	<mercury-paginator id = "paginator" rangeSize="{{pagerinfo.rangeSize}}" perpage="{{pagerinfo.perpage}}" data="{{data}}" items="{{items}}"  ></mercury-paginator>
       
        <paper-material id="container" class="list-container">
            <!-- Update Button -->
            <div class="layout horizontal end-justified center" style="background-color: white">
                <paper-icon-button icon="filter-list" on-tap="_openFilterOptions"></paper-icon-button>
            </div>

            <filter-panel id="filterPanel">
        	
              	<filter-panel-element type="filter-type-select" name="emailstatus" label="Status"
                                      items='[{"value": "1", "label": "Erstellt"}, {"value": "2", "label": "Geschickt"}, {"value": "3", "label": "Error"} ]'></filter-panel-element>
           
            </filter-panel>

            <vaadin-grid id="list" items="{{items}}" on-sort-order-changed="_onSortOrderChanged">
                <table>
                    <colgroup>
                        <col name="status" flex="1" >
                        <col name="subject" flex="1" sortable/>
                         <col name="fullname" flex="1" sortable/>
                        <col name="email" flex="1" sortable>
                        <col name="lastModified" flex="1" sortable/>
                        <col name="actions" width="170"/>
                    </colgroup>
                    <thead>
                    <tr>
                        <th>Status</th>
                        <th>Subject</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Letzte Änderung</th>
                        <th></th>
                    </tr>
                    </thead>
                </table>
            </vaadin-grid>
            
         
        </paper-material>
        
      

       </template>

    <script>
        Polymer({
            is: 'mail-element',

            ordering: ['status', 'subject','fullname','email', 'lastModified', 'actions'],
            selectedIndex: -1,

            properties: {
                data: {
                    type: Array,
                    value: []
                },
                pagerinfo:{
                	type: Object,
                	value: {perpage: 50, rangeSize: 7}
                },
                groupdata: {
                    type: Array,
                    value: []
                },
                sortDirection: {
                    type: String,
                    value: SortDirection.descending
                },

                sortColumn: {
                    type: String,
                    value: 'lastModified'
                },

                filter: {
                    type: Array,
                    value: []
                },
                initialized : {
                	type : Boolean,
                	value : false
                }

            },

            behaviors: [
                Polymer.IronResizableBehavior
            ],

            listeners: {
                'filter-panel-filter-action': '_onFilterPanelFilterAction',
                'iron-resize': '_onIronResize',
                'pager-action': '_onPaging'
            },

            ready: function() {
                var grid = this.$.list;

                
                var sortDirection;
                var sortColumn = this.ordering.indexOf(this.sortColumn);

                switch(this.sortDirection) {
                    case SortDirection.ascending:
                        sortDirection = 'asc';
                        break;
                    case SortDirection.descending:
                        sortDirection = 'desc';
                        break;
                    default:
                        console.log("Error, unknown sort direction");
                }
                // init data list
                grid.then(function() {
                    grid.columns[0].renderer = emailStatusRenderer;
                    grid.columns[4].renderer = timeRenderer;
                    grid.columns[5].renderer = actionRenderer;
                    grid.sortOrder = [{column: sortColumn, direction: sortDirection}];

                    resizeGrid(grid);
                });
                
            },
            
    
            /** Sorting and Filtering */

            _openFilterOptions: function(event) {
                this.$.filterPanel.open();
            },

            _filterAndSort: function(data, sortColumn, sortDirection, filter) {
                // filter data
                var filtered = filter.reduce(function(previous, filterElement) {
                    if(isEmpty(filterElement.filter)) {
                        return previous;
                    }

                    switch(filterElement.type) {
                        case FilterType.select:
                            var newData = previous.filter(function(elem) {
                                return elem[filterElement.name] == filterElement.filter;
                            });

                            return newData;
                            break;
                        default:
                            throw "Error, unknown filter type: " + type;
                    }
                }, data);

                // sort data
                var lesser = sortDirection == SortDirection.ascending ? -1 : 1;

                filtered.sort(function (a, b) {
                	if(sortColumn === 'fullname')
                		  return (a.firstName < b.firstName) ? lesser : -lesser;
                    return (a[sortColumn] < b[sortColumn]) ? lesser : -lesser;
                });

                return filtered;
            },

            _onSortOrderChanged: function(event) {
            	if(!this.initialized){
            		this.initialized = true;
            		return ;
            	}
                this.sortColumn = this.ordering[this.$.list.sortOrder[0].column];
                this.sortDirection = this.$.list.sortOrder[0].direction === 'asc' ? SortDirection.ascending : SortDirection.descending;
                var obj = {sortDirection: this.sortDirection, sortColumn : this.sortColumn}
                var emailAction = new EmailAction({type: InteractionType.sort, object: obj});
                this.fire(emailAction.name, emailAction);
                this.$.paginator.reloadData = true;
            },

            _onFilterPanelFilterAction: function(event) {
                var filterPanelFilterAction = event.detail;
                this.filter = filterPanelFilterAction.filter;
                var objs = []  ;
                for(var i = 0; i < this.filter.length; i++){
                	console.log("name "+this.filter[i].name+" type "+this.filter[i].type+" value "+this.filter[i].filter);
                	if(this.filter[i].filter && this.filter[i].name === "emailstatus"){
                		
                		var obj = {name: this.filter[i].name , value : this.filter[i].filter} ;
                		objs.push(obj);
                	}
                }
                var emailAction = new EmailAction({type: InteractionType.filter, object: objs});
                this.fire(emailAction.name, emailAction);
                this.$.paginator.reloadData = true;
                
            },

            _onIronResize: function() {
                resizeGrid(this.$.list);
            },
            
            _onPaging: function(event) {
            	var obj = event.detail;
                var emailAction = new EmailAction({type: InteractionType.pager, object: obj});
	            this.fire(emailAction.name, emailAction);
	            
            }
            
            
        });
    </script>
</dom-module>