<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../momentjs/momentjs.html">

<dom-module id="time-ago">

<!--<name="" attributes="datetime locale refresh delay">-->
    <template>
        <span title="[[timeAlt]]">[[time]]</span>
    </template>
    <script>
        (function () {
            Polymer({
                is: 'time-ago',

                properties: {

                    /**
                     * Time to display in element
                     *
                     * @attribute time
                     * @type String
                     * @default ""
                     */
                    time: {
                        value: "",
                        type: String
                    },

                    /**
                     * Unix timestamp attribute that is that is formatted
                     *
                     * @attribute time
                     * @type String
                     * @default "0000000000000"
                     */
                    datetime: {
                        value: "0000000000000",
                        type: String,
                        observer: '_datetimeChanged'
                    },

                    /**
                     * Locale in which time ago should be displayed
                     *
                     * @attribute locale
                     * @type String
                     * @default "en"
                     */
                    locale: {
                        value: "de",
                        type: String
                    }
                },
                ready: function() {
                  this.time = this._getTimeAgoText(this.datetime, this.locale);
                  this.timeAlt = moment(this.datetime,  moment.ISO_8601).format("DD.MM.YYYY, HH:mm");
                },

                _getTimeAgoText: function (datetime, locale) {
                    if (locale) moment.locale(locale);
                    return moment(datetime, 'x').fromNow();
                },

                _datetimeChanged: function() {
                    this.timeAlt = moment(this.datetime, 'x').format("DD.MM.YYYY, HH:mm");
                    this._reload();
                },
                _reload: function () {
                    this.time = this._getTimeAgoText(this.datetime, this.locale);
                }
            });
        })();
    </script>
</dom-module>
