<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../../bower_components/paper-item/paper-item.html"/>
<link rel="import" href="../datalyxt-models/datalyxt-models.html"/>

<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../bower_components/vaadin-combo-box/vaadin-combo-box.html">
<link rel="import" href="../../bower_components/vaadin-date-picker/vaadin-date-picker.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">

<link rel="import" href="../datalyxt-data-binding/datalyxt-data-binding.html">
<link rel="import" href="../data-list/data-list-item-icon.html">

<link rel="import" href="../filter-panel/filter-panel.html">
<link rel="import" href="../filter-panel/filter-panel-element.html">
<link rel="import" href="../time-ago/time-ago.html">


<dom-module id="monitoring-detail-dialog">
    <style>
        paper-dialog {
            display: block;
            width: 100vw;
            border-top: 3px solid var(--paper-blue-500);
            color: rgba(0, 0, 0, 0.87);
        }
        vaadin-date-picker {
            font-size: 13px;
            font-weight: 400;
        }

        vaadin-combo-box {
            font-size: 13px;
            font-weight: 400;
        }

        .list-container {
            margin-left: 40px;
            margin-right: 170px;

            min-width: 860px;
        }

        vaadin-grid {
            --primary-color: transparent;
            line-height: 1.5;

            @apply(--layout-flex-1);
        }
        
        .dialog-header {
            font-size: 24px;

            font-weight: 300;

            @apply(--layout-horizontal);
            @apply(--layout-center);
        }

        .dialog-header :first-child {
            @apply(--layout-flex);
        }

        .dialog-container {
            @apply(--layout-vertical);
        }

        .dialog-options {
            @apply(--layout-horizontal);
            @apply(--layout-center);
            @apply(--layout-justified);

            margin: 8px 0;
        }

        .buttons {
            color: black;
            padding-bottom: 12px;
        }
        .label {
        	 color: black;
        	   font-size: 18px;
        }

        .buttons .add-button {
            color: white;
            background-color: var(--paper-blue-500);
        }
         paper-button {
      display: block;
      background: #4285f4;
      color: #fff;
    }
    </style>

    <template>
        <!-- url validation -->
        <paper-dialog id="dialog" modal with-backdrop>
            <div class="dialog-header">
                <div>Report Detail</div>
                <paper-icon-button icon="close" dialog-dismiss></paper-icon-button>
            </div>

 
  		 <paper-dialog-scrollable>
             <div class="dialog-container">
					<div >Source: {{report.source.name}}</div>
					<div >Selector: {{report.selectorName}}</div>
					
				<vaadin-grid id="list" items="{{_filterAndSort(data, sortColumn, sortDirection, filter)}}" on-sort-order-changed="_onSortOrderChanged">
                <table>
                    <colgroup>
                        <col name="reporter" flex="1" sortable/>
                        <col name="type" flex="2" sortable/>
                        <col name="message" flex="3"/ sortable>
                        <col name="url" flex="3"/ sortable>
                        <col name="time" flex="2"/ sortable>
                    </colgroup>
                    <thead>
                    <tr>
                      <th>Reporter</th>
                        <th>Type</th>
                        <th>Message</th>
                        <th>Page</th>
                        <th>Time</th>
                    </tr>
                    </thead>
                </table>
            </vaadin-grid>
            </div>
		  </paper-dialog-scrollable>
            <div class="buttons">
                <paper-button dialog-dismiss>OK</paper-button>
            </div>
        </paper-dialog>

    </template>
    <script>
        Polymer({
            is: 'monitoring-detail-dialog',
            

            selectedIndex: -1,
            
            ordering: ['reporter', 'type', 'message','url','time'],
            
            
            properties: {

                report: {
                    type: Object
                },
                data: {
                    type: Array,
                    value: []
                },
                sortDirection: {
                    type: String,
                    value: SortDirection.descending
                },

                sortColumn: {
                    type: String,
                    value: ''
                },

                filter: {
                    type: Array,
                    value: []
                }
            },
                
            listeners: {
                'filter-panel-filter-action': '_onFilterPanelFilterAction',
                'iron-overlay-closed': '_onIronOverlayClose',
                'iron-resize': '_onIronResize'
            },
            
                    
            open: function() {
                var grid = this.$.list;

                // set default sort order
                var sortDirection;
                var sortColumn = this.ordering.indexOf(this.sortColumn);

                if(sortColumn === -1) {
                    sortColumn = 4;
                }

                switch(this.sortDirection) {
                    case SortDirection.ascending:
                        sortDirection = 'asc';
                        break;
                    case SortDirection.descending:
                        sortDirection = 'desc';
                        break;
                    default:
                        console.log("Error, unknown sort direction");
                }

                // init data list
                grid.then(function() {
                	grid.columns[2].renderer =reportMessageRenderer;
                	grid.columns[3].renderer =reportMessageRenderer;
                    grid.columns[4].renderer = standardTimeRenderer;
                    grid.sortOrder = [{column: sortColumn, direction: sortDirection}];

                    resizeGrid(grid);
                });
                
                this.$.dialog.open();
            },

            _onConfirmDialog: function(event) {
                // check if input is valid

            },
            
            _openFilterOptions: function(event) {
                this.$.filterPanel.open();
            },

            _filterAndSort: function(data, sortColumn, sortDirection, filter) {
                // filter data
                var filtered = filter.reduce(function(previous, filterElement) {
                    if(isEmpty(filterElement.filter)) {
                        return previous;
                    }

                    switch(filterElement.type) {
                        case FilterType.select:
                            var newData = previous.filter(function(elem) {
                                return elem[filterElement.name] == filterElement.filter;
                            });

                            return newData;
                            break;
                        default:
                            throw "Error, unknown filter type: " + type;
                    }
                }, data);

                // sort data
                var lesser = sortDirection == SortDirection.ascending ? -1 : 1;

                filtered.sort(function (a, b) {
                    return (a[sortColumn] < b[sortColumn]) ? lesser : -lesser;
                });

                return filtered;
            },

            _onSortOrderChanged: function(event) {
                this.sortColumn = this.ordering[this.$.list.sortOrder[0].column];
                this.sortDirection = this.$.list.sortOrder[0].direction === 'asc' ? SortDirection.ascending : SortDirection.descending;
            },

            _onFilterPanelFilterAction: function(event) {
                var filterPanelFilterAction = event.detail;
                this.filter = filterPanelFilterAction.filter;
            },

            _onIronResize: function() {
                resizeGrid(this.$.list);
            },
            
             _onIronOverlayClose: function(event) {

             }
             

        });
    </script>
</dom-module>

