<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/neon-animation/neon-animations.html"/>
<link rel="import" href="../../bower_components/plastik-url-validator/plastik-url-validator.html"/>

<dom-module id="modify-source-dialog">
    <style>
        paper-dialog {
            display: block;
            padding: 0 8px;
            width: 60vw;
            border-top: 3px solid var(--paper-blue-500);
            color: rgba(0, 0, 0, 0.87);
        }

        .dialog-header {
            font-size: 24px;
            font-weight: 300;

            @apply(--layout-horizontal);
            @apply(--layout-center);
        }

        .dialog-header :first-child {
            @apply(--layout-flex);
        }

        .dialog-container {
            margin-right: 10px;
            @apply(--layout-vertical);
        }

        .dialog-options {
            @apply(--layout-horizontal);
            @apply(--layout-center);
            @apply(--layout-justified);

            margin: 8px 0;
        }

        .buttons {
            color: var(--paper-blue-500);
            padding: 0 20px;
            margin: 20px 8px 32px 0;
        }

        .buttons .modify-button {
            color: white;
            background-color: var(--paper-blue-500);
        }

        .buttons .delete-button {
            color: white;
            background-color: var(--paper-red-500);
        }

        .buttons .toggle-button {
            color: white;
            background-color: var(--paper-green-500);
        }

        .buttons .toggle-button[activated] {
            color: white;
            background-color: var(--paper-amber-500);
        }
    </style>

    <template>
        <!-- url validation -->
        <plastik-url-validator></plastik-url-validator>

        <paper-dialog id="dialog" modal with-backdrop>
            <div class="dialog-header">
                <div>Quelle Bearbeiten</div>
                <paper-icon-button icon="close" dialog-dismiss></paper-icon-button>
            </div>

            <div class="dialog-container">
                <paper-input id="nameInput" label="Quellen Name" required error-message="Bitte geben Sie einen validen Quellen Name ein" value="{{source.name}}" autofokus></paper-input>
                <paper-input id="urlInput" disabled$="{{_computeUrlDisabled(source.status)}}" label="Quellen Url" validator="plastik-url-validator" maxlength="500" value="{{source.url}}" required error-message="Bitte geben Sie eine valide Quellen Url ein"></paper-input>
                <paper-input label="Dynamic Parameter" value="{{source.dynamicParams}}"> </paper-input>

                <div class="dialog-options">

                    <div class="layout vertical">
                        <div>Quellen Typ</div>
                        <div class="layout horizontal" style="padding: 8px 0;">
                            <paper-checkbox style="margin-right: 12px;" class="flex-item" disabled$="{{_is(source, 'blackList')}}" on-change="typeSelect" id="scrapingInput" checked="{{checked(source, 'types', 'QT1V1')}}">Scraping</paper-checkbox>
                            <paper-checkbox class="flex-item" disabled$="{{_is(source, 'blackList')}}" on-change="typeSelect" id="webSearchInput" checked="{{checked(source, 'types', 'QT1V2')}}">Web search</paper-checkbox>
                        </div>
                    </div>

                    <div class="layout vertical">
                        <div>Quellen Sprache</div>
                        <div style="padding: 8px 0;" class="layout horizontal">
                            <paper-checkbox style="margin-right: 12px;" class="flex-item" disabled$="{{_is(source, 'blackList')}}" on-change="langSelect" id="langDeInput" checked="{{checked(source, 'languages', 'de')}}">Deutsch</paper-checkbox>
                            <paper-checkbox class="flex-item" disabled$="{{_is(source, 'blackList')}}" on-change="langSelect" id="langEnInput" checked="{{checked(source, 'languages', 'en')}}">Englisch</paper-checkbox>
                        </div>
                    </div>
                </div>
            </div>

            <div class="buttons">
                <paper-button class="delete-button" raised on-tap="_onDeleteDialog">Löschen</paper-button>
                <paper-button class="toggle-button" hidden$="{{_computePauseButtonHidden(source.status)}}"raised on-tap="_onToggleDialog" activated$="{{_is(source, 'activated')}}">{{_computeToggleName(source)}}</paper-button>
                <div class="flex"></div>
                <paper-button dialog-dismiss>Abbrechen</paper-button>
                <paper-button raised class="modify-button" on-tap="_onConfirmDialog">Bearbeiten</paper-button>
            </div>
        </paper-dialog>
    </template>
    <script>
        Polymer({
            is: 'modify-source-dialog',

            properties: {
                source: {
                    type: Object,
                    value: {}
                }
            },

            open: function() {
                this.$.dialog.open();
            },

            checked: function(source, attribute, option) {
                if(!this._isEmpty(source)) {
                    return source[attribute].indexOf(option) > -1;
                }
            },

            _computeUrlDisabled: function(status) {
                switch(status) {
                    case SourceStatus.activated:
                    case SourceStatus.blacklist:
                        return true;
                    default: return false;
                }
            },

            _computePauseButtonHidden: function(status) {
                switch(status) {
                    case SourceStatus.error:
                    case SourceStatus.blacklist:
                    case SourceStatus.added:
                        return true;
                    default: return false;
                }
            },

            _computeToggleName: function(source) {
                var result = "";

                if(this._isEmpty(source)) return result;

                switch(source.status) {
                    case SourceStatus.added:
                    case SourceStatus.paused:
                    case SourceStatus.validated:
                        result = "Aktivieren";
                        break;
                    case SourceStatus.activated:
                        result = "Pausieren";
                        break;
                }

                return result;
            },

            _is: function(source, status) {
                if(!this._isEmpty(source)) {
                    return source.status === status;
                }

                return false;
            },

            langSelect: function (event) {

                if (event.target.id == 'langDeInput') {
                    if (event.target.checked) {
                        this.source.languages.push('de');
                    } else {
                        if (!this.$.langEnInput.checked) {
                            this.$.langDeInput.checked = true;
                        } else {
                            this.source.languages.splice(this.source.languages.indexOf('de'), 1);
                        }
                    }

                } else {

                    if (event.target.checked) {
                        this.source.languages.push('en');
                    } else {
                        if (!this.$.langDeInput.checked) {
                            this.$.langEnInput.checked = true;
                        } else {
                            this.source.languages.splice(this.source.languages.indexOf('en'), 1);
                        }
                    }
                }

            },

            typeSelect: function (event) {
                if (event.target.id == 'scrapingInput') {
                    if (event.target.checked) {
                        this.source.types.push('QT1V1');
                    } else {
                        if (!this.$.webSearchInput.checked) {
                            this.$.scrapingInput.checked = true;
                        } else {
                            this.source.types.splice(this.source.types.indexOf('QT1V1'), 1);
                        }
                    }
                } else if (event.target.id == 'webSearchInput') {
                    if (event.target.checked) {
                        this.source.types.push('QT1V2');
                    } else {
                        if (!this.$.scrapingInput.checked) {
                            this.$.webSearchInput.checked = true;
                        } else {
                            this.source.types.splice(this.source.types.indexOf('QT1V2'), 1);
                        }
                    }
                }
            },

            _onDeleteDialog: function () {
                var source = new Source(this.source);
                var sourceAction = new SourceAction({type: InteractionType.delete, object: source});

                this.fire(sourceAction.name, sourceAction);
                this.$.dialog.close();
            },

            _onToggleDialog: function() {
                var status;

                switch(this.source.status) {
                    case SourceStatus.paused:
                    case SourceStatus.validated:
                        status = SourceStatus.activated;
                        break;
                    case SourceStatus.activated:
                        status = SourceStatus.paused;
                        break;
                    default:
                        throw "Error, source status not allowed for toggle";
                }

                var sourceAction = new SourceAction({type: InteractionType.changeStatus, object: {id: this.source.id, status: status}});
                this.fire(sourceAction.name, sourceAction);
            },

            _onConfirmDialog: function () {
                // check if input is valid
                var urlValid = this.$.urlInput.validate();
                var nameValid = this.$.nameInput.validate();

                if(urlValid && nameValid) {
                    var source = new Source(this.source);
                    var sourceAction = new SourceAction({type: InteractionType.modify, object: source});

                    this.fire(sourceAction.name, sourceAction);
                    this.$.dialog.close();
                }
            },

            /** Helper functions */

            _isEmpty: function (obj) {

                // null and undefined are "empty"
                if (obj == null) return true;

                // Assume if it has a length property with a non-zero value
                // that that property is correct.
                if (obj.length > 0)    return false;
                if (obj.length === 0)  return true;

                // Otherwise, does it have any properties of its own?
                // Note that this doesn't handle
                // toString and valueOf enumeration bugs in IE < 9
                for (var key in obj) {
                    if (hasOwnProperty.call(obj, key)) return false;
                }

                return true;
            }
        });
    </script>
</dom-module>