<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../../bower_components/paper-item/paper-item.html"/>
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html"/>
<link rel="import" href="../../bower_components/paper-menu/paper-menu.html"/>
<link rel="import" href="../datalyxt-models/datalyxt-models.html"/>
<link rel="import" href="../../bower_components/paper-menu-button/paper-menu-button.html"/>

<dom-module id="add-group-dialog">
    <style>
        paper-dialog {
            display: block;
            width: 60vw;
            border-top: 3px solid var(--paper-blue-500);
            color: rgba(0, 0, 0, 0.87);
        }

        .dialog-header {
            font-size: 24px;

            font-weight: 300;

            @apply(--layout-horizontal);
            @apply(--layout-center);
        }

        .dialog-header :first-child {
            @apply(--layout-flex);
        }

        .dialog-container {
            @apply(--layout-vertical);
        }

        .dialog-options {
            @apply(--layout-horizontal);
            @apply(--layout-center);
            @apply(--layout-justified);

            margin: 8px 0;
        }

        .buttons {
            color: black;
            padding-bottom: 12px;
        }

        .buttons .add-button {
            color: white;
            background-color: var(--paper-blue-500);
        }
        
         .dropdown-button {
     		 display: block;
      		background: #4285f4;
      		color: #fff;
    	}
    </style>

    <template>
        <!-- url validation -->
        <plastik-url-validator></plastik-url-validator>

        <paper-dialog id="dialog" modal with-backdrop>
            <div class="dialog-header">
                <div>Gruppe Hinzufügen</div>
                <paper-icon-button icon="close" dialog-dismiss></paper-icon-button>
            </div>

            <div class="dialog-container">
                <paper-input label="Gruppe Name" value= {{name}} auto-validate required error-message="Bitte geben Sie den Gruppe Namen ein" autofokus></paper-input>
                <paper-input label="Beschreibung"  value= {{description}} auto-validate autofokus></paper-input>
 			
 				<paper-menu-button ignore-select>
		            <paper-button class="dropdown-trigger dropdown-button" alt="multi select" raised>
		             <span>Empfänger : {{selectedReceivers}}</span>
		            </paper-button>
		            <paper-menu class="dropdown-content" multi selected-values="{{selected}}" attr-for-selected="value" on-iron-select="_onSelect" on-iron-deselect="_onSelect">
		              <template is="dom-repeat" items="[[data]]">
		                <paper-item value="[[item.id]]">[[computeFullName(item)]]</paper-item>
		              </template>
		            </paper-menu>
		          </paper-menu-button>

	        
 			 </div>

            <div class="buttons">
                <paper-button dialog-dismiss>Abbrechen</paper-button>
                <paper-button raised class="add-button" on-tap="_onConfirmDialog">Hinzuf&uuml;gen</paper-button>
            </div>
        </paper-dialog>

    </template>
    <script>
        Polymer({
            is: 'add-group-dialog',

            properties: {
                data: {
                    type: Array,
                    value: []
                },
                name:{
                	type: String
                },
                description: {
                	type: String
                },
                member:{
                	type: Array,
                	value: []
                },
                selected:{
                	type:Array,
                	value: []
                },
                selectedReceivers:{
                	type:String
                }
                
            },
            
            listeners: {
                'iron-overlay-closed': '_onIronOverlayClose'
            },

            open: function() {
            	this.selected=[];
            	this.selectedReceivers='';
                this.$.dialog.open();
            },
   
            _onConfirmDialog: function(event) {
                // check if input is valid
                     var name = this.name;
                    var des = this.description;
                    
                    
                    var groupCreate = new GroupCreateModel({name: name, description : des});
                  
                    groupCreate.member = this.selected;
                    var groupAction = new GroupAction({type: InteractionType.add, object: groupCreate});

                    this.fire(groupAction.name, groupAction);
                    this.$.dialog.close();
            },

            computeFullName: function(item) {
                // check if input is valid
				return item.address+' '+item.firstName+' '+item.lastName ;
            },
            _onSelect: function(e){
				var selectedIds = e.target.selectedValues;
				var selectedItems = e.target.selectedItems;
				var selectedReceivers = [];
				for(var i=0;i<selectedItems.length;i++){
					selectedReceivers.push(selectedItems[i].innerText);
				}
				this.selectedReceivers=selectedReceivers.join(", ");
			},
            _onIronOverlayClose: function(event) {

            }
        });
    </script>
</dom-module>