<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/plastik-url-validator/plastik-url-validator.html"/>

<link rel="import" href="../datalyxt-models/datalyxt-models.html"/>

<dom-module id="add-source-dialog">
    <style>
        paper-dialog {
            display: block;
            width: 60vw;
            border-top: 3px solid var(--paper-blue-500);
            color: rgba(0, 0, 0, 0.87);
        }

        .dialog-header {
            font-size: 24px;

            font-weight: 300;

            @apply(--layout-horizontal);
            @apply(--layout-center);
        }

        .dialog-header :first-child {
            @apply(--layout-flex);
        }

        .dialog-container {
            @apply(--layout-vertical);
        }

        .dialog-options {
            @apply(--layout-horizontal);
            @apply(--layout-center);
            @apply(--layout-justified);

            margin: 8px 0;
        }

        .buttons {
            color: black;
            padding-bottom: 12px;
        }

        .buttons .add-button {
            color: white;
            background-color: var(--paper-blue-500);
        }
    </style>

    <template>
        <!-- url validation -->
        <plastik-url-validator></plastik-url-validator>

        <paper-dialog id="dialog" modal with-backdrop>
            <div class="dialog-header">
                <div>Quelle Hinzufügen</div>
                <paper-icon-button icon="close" dialog-dismiss></paper-icon-button>
            </div>

            <div class="dialog-container">
                <paper-input id="nameInput" label="Quellen Name" required error-message="Bitte geben Sie einen validen Quellen Name ein" autofokus></paper-input>
                <paper-input id="urlInput" char-counter label="Quellen Url" validator="plastik-url-validator" maxlength="500" required error-message="Bitte geben Sie eine valide Quellen Url ein"></paper-input>

                <div class="dialog-options">

                    <div class="layout vertical">
                        <div>Quellen Typ</div>
                        <div class="layout horizontal" style="padding: 8px 0;">
                            <paper-checkbox style="margin-right: 12px;" class="flex-item" disabled$="{{blacklist}}" on-change="typeSelect" id="scrapingInput" checked>Scraping</paper-checkbox>
                            <paper-checkbox class="flex-item" disabled$="{{blacklist}}" on-change="typeSelect" id="webSearchInput">Web search</paper-checkbox>
                        </div>
                    </div>

                    <div class="layout vertical">
                        <div>Quellen Sprache</div>
                        <div style="padding: 8px 0;" class="layout horizontal">
                            <paper-checkbox style="margin-right: 12px;" class="flex-item" disabled$="{{blacklist}}" on-change="langSelect" id="langDeInput" checked>Deutsch</paper-checkbox>
                            <paper-checkbox class="flex-item" disabled$="{{blacklist}}" on-change="langSelect" id="langEnInput" checked>Englisch</paper-checkbox>
                        </div>
                    </div>

                    <div style="margin-top: 20px; padding: 8px 0;" class="layout horizontal">
                        <paper-checkbox id="autoDeployInput" disabled$="{{blacklist}}">Autodeploy</paper-checkbox>
                    </div>
                </div>
            </div>

            <div class="buttons">
                <paper-button dialog-dismiss>Abbrechen</paper-button>
                <paper-button raised class="add-button" on-tap="_onConfirmDialog">Hinzufügen</paper-button>
            </div>
        </paper-dialog>

    </template>
    <script>
        Polymer({
            is: 'add-source-dialog',
            properties: {

                blacklist: {
                    type: Boolean,
                    value: false
                }
            },

            listeners: {
                'iron-overlay-closed': '_onIronOverlayClose'
            },

            open: function() {
                this.$.dialog.open();
            },

            langSelect: function (event) {

                if (event.target.id == 'langDe') {
                    if (event.target.checked) {
                        this.langDe = true;

                    } else {
                        if (!this.$.langEn.checked) {
                            this.$.langDe.checked = true;
                        } else {
                            this.langDe = false;
                        }
                    }
                } else {

                    if (event.target.checked) {
                        this.langEn = true;

                    } else {
                        if (!this.$.langDe.checked) {
                            this.$.langEn.checked = true;
                        } else {
                            this.langEn = false;
                        }
                    }
                }
            },
            typeSelect: function (event) {
                if (event.target.id == 'scraping') {
                    if (event.target.checked) {
                        this.scraping = true;
                    } else {
                        if (!this.$.webSearch.checked) {
                            this.$.scraping.checked = true;
                        } else {
                            this.scraping = false;
                        }
                    }
                } else if (event.target.id == 'webSearch') {
                    if (event.target.checked) {
                        this.webSearch = true;
                    } else {
                        if (!this.$.scraping.checked) {
                            this.$.webSearch.checked = true;
                        } else {
                            this.webSearch = false;
                        }
                    }
                }
            },

            _onConfirmDialog: function(event) {
                // check if input is valid
                var urlValid = this.$.urlInput.validate();
                var nameValid = this.$.nameInput.validate();

                if(urlValid && nameValid) {
                    var url = this.$.urlInput.value;
                    var name = this.$.nameInput.value;
                    var blacklist = this.blacklist;

                    var autoDeploy = false;
                    var languages = [];
                    var types = [];

                    if(!blacklist) {
                        autoDeploy = this.$.autoDeployInput.checked;

                        if(this.$.scrapingInput.checked) types.push('QT1V1');
                        if(this.$.webSearchInput.checked) types.push('QT1V2');

                        if(this.$.langEnInput.checked) languages.push('en');
                        if(this.$.langDeInput.checked) languages.push('de');
                    }

                    var sourceCreate = new SourceCreateModel({name: name, url: url, blacklist: blacklist, languages: languages, types: types, autoDeploy: autoDeploy});
                    var sourceAction = new SourceAction({type: InteractionType.add, object: sourceCreate});

                    this.fire(sourceAction.name, sourceAction);
                    this.$.dialog.close();
                }
            },

            _onIronOverlayClose: function(event) {
                // clear dialog on close
                this.$.nameInput.value = "";
                this.$.urlInput.value = "";
                this.blacklist = false;
                this.$.autoDeployInput.checked = false;
                this.$.scrapingInput.checked = true;
                this.$.webSearchInput.checked = false;
                this.$.langEnInput.checked = true;
                this.$.langDeInput.checked = true;
            }
        });
    </script>
</dom-module>