<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-styles/shadow.html">

<style is="custom-style" include="iron-flex iron-flex-alignment"></style>

<style is="custom-style">

    body {
        @apply(--paper-font-common-base);
        font-size: 14px;
        margin: 0;
        background-color: var(--paper-grey-50);
        padding: 0;
    }

</style>
